<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.law.ClassifyDesicDao">
  <resultMap id="BaseResultMap" type="com.lawschool.beans.law.ClassifyDesicEntity">
    <id column="ID" jdbcType="NVARCHAR" property="id" />
    <result column="LAW_CODE" jdbcType="NVARCHAR" property="lawCode" />
    <result column="LAW_TITLE" jdbcType="NVARCHAR" property="lawTitle" />
    <result column="ISSUE_TIME" jdbcType="TIMESTAMP" property="issueTime" />
    <result column="LIB_CODE" jdbcType="NVARCHAR" property="libCode" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CALSSIFY_CODE" jdbcType="NVARCHAR" property="calssifyCode" />
    <result column="STATUS" jdbcType="NVARCHAR" property="status" />
    <result column="ISSUE_ORG" jdbcType="NVARCHAR" property="issueOrg" />
  </resultMap>
  <select id="queryListByTask" resultMap="BaseResultMap" >
    SELECT
        c. ID,
        c.LAW_CODE,
        c.LAW_TITLE,
        c.ISSUE_ORG,
        c.ISSUE_TIME,
        c.LIB_ID
    FROM
        LAW_TASKS_DESIC T
    INNER JOIN LAW_CLASSIFY_DESIC c ON T .DATA_ID = c. ID
    WHERE
        T .TASK_ID = #{desic.taskId,jdbcType=INTEGER}
    AND T .INFO_TYPE = #{desic.infoType,jdbcType=INTEGER}
  </select>
</mapper>