<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.law.ClassifyDesicDao">
  <resultMap id="BaseResultMap" type="com.lawschool.beans.law.ClassifyDesicEntity">
    <id column="ID" jdbcType="NVARCHAR" property="id" />
    <result column="LAW_CODE" jdbcType="NVARCHAR" property="lawCode" />
    <result column="LAW_TITLE" jdbcType="NVARCHAR" property="lawTitle" />
    <result column="ISSUE_TIME" jdbcType="TIMESTAMP" property="issueTime" />
    <result column="LIB_CODE" jdbcType="NVARCHAR" property="libCode" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CALSSIFY_CODE" jdbcType="NVARCHAR" property="calssifyCode" />
    <result column="STATUS" jdbcType="NVARCHAR" property="status" />
    <result column="ISSUE_ORG" jdbcType="NVARCHAR" property="issueOrg" />
      <result column="recordId" jdbcType="NVARCHAR" property="recordId" />
  </resultMap>
    <select id="queryListByTask" resultType="com.lawschool.beans.law.TaskDesicEntity" parameterType="com.lawschool.beans.law.TaskDesicEntity">

        SELECT
            la.ID,
            la.info_id AS infoId,
            la.info_name AS infoName,
            la.info_parent_id AS infoParentId,
            la.task_id AS taskId,
            la.info_code AS infoCode,
            la.create_time AS createTime,
            la.info_type AS infoType,
            la.data_id AS dataId,
            r.id as recordId
        FROM
            law_tasks_desic la
        LEFT JOIN LAW_STU_RECORD r ON la.id=r.stu_id and r.task_id=#{taskId} and r.user_id=#{userId} and r.is_finish='1'
        WHERE 1=1
        <if test="infoType != null and infoType!=''">
            AND la.INFO_TYPE = #{infoType}
        </if>
        <if test="taskId != null and taskId!=''">
            AND la.TASK_ID = #{taskId}
        </if>
        <if test="infoId != null and infoId!=''">
           and la.info_parent_id in (select CLASSIFY_CODE FROM LAW_CLASSIFY T START WITH T .id = #{infoId} CONNECT BY PRIOR T .id = T .PARENT_ID)
        </if>
        order by la.create_time ASC

  </select>
    <select id="countListByTask" resultType="java.lang.Integer" parameterType="com.lawschool.beans.law.TaskDesicEntity">
        SELECT
            count(1)
        FROM
        law_tasks_desic
        WHERE 1=1
        <if test="infoType != null and infoType!=''">
            AND INFO_TYPE = #{infoType}
        </if>
        <if test="taskId != null and taskId!=''">
            AND TASK_ID = #{taskId}
        </if>
        <if test="infoId != null and infoId!=''">
            and info_parent_id in (select CLASSIFY_CODE FROM LAW_CLASSIFY T START WITH T .id = #{infoId} CONNECT BY PRIOR T .id = T .PARENT_ID)
        </if>
  </select>

    <select id="queryListByUser" resultType="com.lawschool.beans.law.TaskDesicEntity" parameterType="com.lawschool.beans.law.TaskDesicEntity">
        SELECT
            id as dataId,
            ID AS infoId,
            LAW_CODE AS infoCode,
            LAW_TITLE AS infoName,
            CLASSIFY_ID AS infoParentId,
            'law_data' AS infoType,
            ISSUE_TIME AS createTime
        FROM
            LAW_CLASSIFY_DESIC
        WHERE DEL_FLAG = '0'
        <if test="dataId != null and dataId!=''">
            AND  CLASSIFY_ID IN (
            SELECT
            CLASSIFY_CODE
            FROM
            LAW_CLASSIFY T START WITH T . CLASSIFY_CODE = #{dataId} CONNECT BY PRIOR T . ID = T .PARENT_ID
            )
        </if>
        <if test="infoName != null and infoName!=''">
            and LAW_TITLE  like '%'||#{infoName}||'%'
        </if>
  </select>
    <select id="countListByUser" resultType="java.lang.Integer" parameterType="com.lawschool.beans.law.TaskDesicEntity">
        SELECT
        count(1)
        FROM
        LAW_CLASSIFY_DESIC
        WHERE 1=1
        <if test="dataId != null and dataId!=''">
            AND  CLASSIFY_ID IN (
            SELECT
            CLASSIFY_CODE
            FROM
            LAW_CLASSIFY T START WITH T . CLASSIFY_CODE = #{dataId} CONNECT BY PRIOR T . ID = T .PARENT_ID
            )
        </if>
  </select>
    
    
    <select id="listAllDesc" resultMap="BaseResultMap" parameterType="map">
         SELECT
            ID,
            LAW_CODE,
            LAW_TITLE,
            ISSUE_TIME,
            LIB_ID,
            CLASSIFY_ID,
            ISSUE_ORG,
            STATUS
        FROM
            LAW_CLASSIFY_DESIC
        WHERE 1=1
        <if test="classifyId != null and classifyId!=''">
            AND  CLASSIFY_ID IN (
            SELECT
            CLASSIFY_CODE
            FROM
            LAW_CLASSIFY T START WITH T . ID = #{classifyId} CONNECT BY PRIOR T . ID = T .PARENT_ID
            )
        </if>
        <if test="libId != null and libId!=''">
            AND lib_id = #{libId}
        </if>
        <if test="lawTitle != null and lawTitle!=''">
            AND law_title like '%'||#{lawTitle}||'%'
        </if>
        <if test="issueOrg != null and issueOrg!=''">
            AND issue_org like '%'||#{issueOrg}||'%'
        </if>
        <if test="status != null and status!=''">
            AND status = #{status}
        </if>
        order  by ISSUE_TIME desc

    </select>

    <select id="countAllDesc" resultType="int" parameterType="map">
        SELECT
        count(1)
        FROM
        LAW_CLASSIFY_DESIC
        WHERE 1=1
        <if test="classifyId != null and classifyId!=''">
            AND  CLASSIFY_ID IN (
            SELECT
            CLASSIFY_CODE
            FROM
            LAW_CLASSIFY T START WITH T . ID = #{classifyId} CONNECT BY PRIOR T . ID = T .PARENT_ID
            )
        </if>
        <if test="libId != null and libId!=''">
            AND lib_id = #{libId}
        </if>
        <if test="lawTitle != null and lawTitle!=''">
            AND law_title like '%'||#{lawTitle}||'%'
        </if>
        <if test="issueOrg != null and issueOrg!=''">
            AND issue_org like '%'||#{issueOrg}||'%'
        </if>
        <if test="status != null and status!=''">
            AND status = #{status}
        </if>

    </select>
</mapper>