<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.law.LawClassifyDao">
  <resultMap id="BaseResultMap" type="com.lawschool.beans.law.LawClassifyLibEntity">
    <id column="ID" jdbcType="NVARCHAR" property="id" />
    <result column="CLASSIFY_CODE" jdbcType="NVARCHAR" property="classifyCode" />
    <result column="CLASSIFY_ID" jdbcType="NVARCHAR" property="classifyId" />
    <result column="CLASSIFY_NAME" jdbcType="NVARCHAR" property="classifyName" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="DEL_FLAG" jdbcType="DECIMAL" property="delFlag" />
    <result column="ORDER_NUM" jdbcType="DECIMAL" property="orderNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="queryClassTree" resultType="com.lawschool.beans.law.TaskDesicEntity">
        -- 虚拟节点数据
        SELECT
            id  as dataId,
            CODE AS infoId,
            id AS infoCode,
            "VALUE" AS infoName,
            PARENT_CODE AS infoParentId,
            'sham' AS infoType
        FROM
            LAW_SYS_DICT
        where type='TASK_TREE'
        UNION ALL

        --法律法规数据
        SELECT
            ID  AS dataId,
            'law_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'law_'||PARENT_ID AS infoParentId,
            'law' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'law_'||ID AS infoId,
                LAW_CODE AS infoCode,
                LAW_TITLE AS infoName,
                'law_'||CLASSIFY_ID AS infoParentId,
                'law_data' AS infoType
            FROM
                LAW_CLASSIFY_DESIC
            WHERE
                DEL_FLAG = '0'

        UNION ALL
--学习管理数据  -- 图文
        SELECT
            ID  AS dataId,
            'stu_pic_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'stu_pic_'||PARENT_ID AS infoParentId,
            'stu_pic' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'stu_pic_'||ID AS infoId,
                STU_CODE AS infoCode,
                STU_TITLE AS infoName,
                'stu_pic_'||STU_LAWID AS infoParentId,
                'stu_pic_data' AS infoType
            FROM
                LAW_STU_MEDIA
						where STU_TYPE='1'
        UNION ALL
--学习管理数据  -- 音频
        SELECT
            ID  AS dataId,
            'stu_audio_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'stu_audio_'||PARENT_ID AS infoParentId,
            'stu_audio' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'stu_audio_'||ID AS infoId,
                STU_CODE AS infoCode,
                STU_TITLE AS infoName,
                'stu_audio_'||STU_LAWID AS infoParentId,
                'stu_audio_data' AS infoType
            FROM
                LAW_STU_MEDIA
						where STU_TYPE='2'
        UNION ALL
--学习管理数据  -- 视频
        SELECT
            ID  AS dataId,
            'stu_video_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'stu_video_'||PARENT_ID AS infoParentId,
            'stu_video' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'stu_video_'||ID AS infoId,
                STU_CODE AS infoCode,
                STU_TITLE AS infoName,
                'stu_video_'||STU_LAWID AS infoParentId,
                'stu_video_data' AS infoType
            FROM
                LAW_STU_MEDIA
						where STU_TYPE='3'
        UNION ALL
--案例分析数据 --图文
        SELECT
            ID  AS dataId,
            'case_pic_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'case_pic_'||PARENT_ID AS infoParentId,
            'case_pic' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'case_pic_'||ID AS infoId,
                CASE_CODE AS infoCode,
                CASE_TITLE AS infoName,
                'case_pic_'||CASE_LAWID AS infoParentId,
                'case_pic_data' AS infoType
            FROM
                LAW_CASE_ANALYSIS
				where CONTENT_TYPE='1'
				UNION ALL
--案例分析数据 --音频
        SELECT
            ID  AS dataId,
            'case_audio_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'case_audio_'||PARENT_ID AS infoParentId,
            'case_audio' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'case_audio_'||ID AS infoId,
                CASE_CODE AS infoCode,
                CASE_TITLE AS infoName,
                'case_audio_'||CASE_LAWID AS infoParentId,
                'case_audio_data' AS infoType
            FROM
                LAW_CASE_ANALYSIS
				where CONTENT_TYPE='2'
				UNION ALL
--案例分析数据 --视频
        SELECT
            ID  AS dataId,
            'case_video_'||ID AS infoId,
            CLASSIFY_CODE AS infoCode,
            CLASSIFY_NAME AS infoName,
            'case_video_'||PARENT_ID AS infoParentId,
            'case_video' AS infoType
        FROM
            LAW_CLASSIFY
        WHERE
            DEL_FLAG = '0'
        UNION ALL
            SELECT
                ID  AS dataId,
                'case_video_'||ID AS infoId,
                CASE_CODE AS infoCode,
                CASE_TITLE AS infoName,
                'case_video_'||CASE_LAWID AS infoParentId,
                'case_video_data' AS infoType
            FROM
                LAW_CASE_ANALYSIS
				where CONTENT_TYPE='3'

  </select>
</mapper>