<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>

</style>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-row :gutter="24">
            <el-col :span="4">
                <!--对于同一级的节点，每次只能展开一个-->
                <el-tree
                        :data="treeData"
                        :props="defaultProps"
                        accordion
                        @node-click="handleNodeClick">
                </el-tree>
            </el-col>
            <el-col :span="20">
                <el-tabs type="border-card">
                    <el-tab-pane label="我的课程">
                        <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                            <el-form-item prop="stuTitle">
                                <el-input v-model="formInline.stuTitle" placeholder="资料标题" size="mini"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit" size="mini">查询</el-button>
                                <el-button @click="resetForm('formInline')" size="mini">重置</el-button>

                            </el-form-item>
                        </el-form>
                        <div>
                            <div class="content lesson">
                                <el-row>
                                    <el-col :span="6" v-for="(item, index) in videoData">
                                        <el-card :body-style="{ padding: '4px' }">

                                            <video width="300" height="155" controls preload="none" :poster="item.videoPicAccUrl">
                                                <source :src="item.contentUrl" type="video/mp4">
                                                您的浏览器太垃圾
                                            </video>
                                            <div style="padding: 14px 14px 0 14px;">
                                                <p>
                                                    <span class="stuType">{{item.stuType}}</span>
                                                    <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                                </p>
                                                <p>
                                                    <span class="stuIssuer">{{item.stuIssuer}}</span>
                                                    <span class="stuCreat">{{item.stuIsstime}}</span>
                                                </p>
                                            </div>
                                        </el-card>
                                    </el-col>
                                </el-row>
                            </div>
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="formInline.currPage"
                                    :page-sizes="[10, 20, 30, 40]"
                                    :page-size="formInline.pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="formInline.totalCount">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <!--<el-tab-pane label="高级检索">高级检索</el-tab-pane>-->
                </el-tabs>
            </el-col>
        </el-row>

    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/teacherCen/tchvideocourse.js?_${.now?long}"></script>


</html>
