<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.medal.MedalDao">

    <sql id="medalColumn">
            id AS "id",
            title_name AS "titleName",
            integral AS "integral",
            credit AS "credit",
            badge AS "badge",
            opt_user AS "optUser",
            opt_time AS "optTime",
            create_user AS "createUser",
            create_time AS "createTime"
    </sql>
    <insert id="insert">
        INSERT INTO law_medal
        (
            id,
            title_name,
            integral,
            credit,
            badge,
            opt_user,
            opt_time,
            create_user,
            create_time
        ) VALUES (
            #{id},
            #{titleName},
            #{integral},
            #{credit},
            #{badge},
            #{optUser},
            #{optTime},
            #{createUser},
            #{createTime}
        )
    </insert>

    <update id="update">
        UPDATE law_medal SET
        title_name = #{titleName},
        integral = #{integral},
        credit = #{credit},
        badge = #{badge},
        opt_user = #{optUser},
        opt_time = #{optTime}
        WHERE id = #{id}
    </update>

    <select id="findOne" resultType="com.lawschool.beans.medal.MedalEntity">
        SELECT
        <include refid="medalColumn"/>
        FROM law_medal
        <where>
            id = #{id}
        </where>
    </select>

    <select id="findList"  resultType="com.lawschool.beans.medal.MedalEntity">
        SELECT
        <include refid="medalColumn"/>
        FROM law_medal
        <where>
           1=1
            <if test="integral!=null and integral!=''">
                AND law_medal.integral &lt;=  #{integral}
            </if>
            <if test="credit!=null and credit!=''">
                AND law_medal.credit &lt;= #{credit}
            </if>
        </where>
        ORDER BY
        CREATE_TIME DESC
    </select>

    <delete id="delete">
        DELETE FROM law_medal
        WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>