<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
    <style>
        .header-right ul {
            background: transparent;
        }

        .header-right ul li:after {
            content: '';
        }

        .el-menu--horizontal .el-menu-item,
        .el-menu--horizontal .el-submenu {
            float: left;
            height: 70px;
            /*line-height: 70px;*/
            margin: 0;
            border-bottom: 2px solid transparent;
            color: #fff;
        }

        .el-menu--horizontal > .el-submenu .el-submenu__title {
            height: 70px;
            /* line-height: 70px; */
            border-bottom: 2px solid transparent;
            color: #909399;
        }

        .header-right ul li a {
            text-align: center;
            padding: 0;
            /*margin: 10px 0;*/
            box-sizing: border-box;
            height: auto;
            display: inline-block;
        }

        .header-right .el-menu-item [class^=el-icon-],
        .header-right .el-submenu [class^=el-icon-],
        .el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
            font-size: 30px;
            color: #fff;
        }

        /*.header-right .el-submenu [class^=el-icon-]*/
        .header-right ul li a span {
            display: block;
            margin-top: -10px;
            line-height: 10px;
        }

        .header-right .el-menu-item:hover a,
        .header-right .el-submenu:hover a,
        .header-right .el-menu-item:hover [class^=el-icon-],
        .header-right .el-submenu:hover [class^=el-icon-],
        .header-right .el-submenu:hover .el-submenu__title [class^=el-icon-] {
            color: #909399;
        }

        .el-submenu__icon-arrow {
            margin-top: 16px;
        }

        .el-menu--horizontal .el-menu .el-menu-item a {
            color: #909399;
        }

        .el-menu--horizontal .el-menu .el-menu-item a:hover {
            color: #000;
        }

        .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
            background-color: #fff;
            float: none;
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            color: #909399;
            display: inline-block;
        }
        .el-dialog{
            overflow: hidden;
        }
        .list {
            max-height: 390px;
        }
        .containInfo .el-textarea__inner{
            height: 100px;
        }
        .el-loading-mask {
            z-index: 2090;
            height: 100vh;
        }
        div.el-dialog .el-select>.el-input.el-input--suffix {
            width: 100px;
        }
        div.el-pagination .el-pagination__jump {
            margin-left: 0px;
        }
        ul.el-pager li {
            min-width: 25px;
        }

        #spel_title .el-input.el-input--mini{
            width: 350px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="container" v-loading="loading" element-loading-text="保存中">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item v-for="item in breadArr">{{item.name}}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title"></div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
                                <el-form-item label="任务名称：" prop="taskName">
                                    <el-input v-model="formInline.taskName" placeholder="任务名称" size="mini"
                                              clearable></el-input>
                                </el-form-item>
                                <!--<el-form-item label="所属警种：" prop="policeclass">-->
                                    <!--<el-select size="mini" v-model="formInline.policeclass" placeholder="所属警种">-->
                                        <!--<el-option-->
                                                <!--v-for="item in policeclassOption"-->
                                                <!--:key="item.code"-->
                                                <!--:label="item.value"-->
                                                <!--:value="item.code"-->
                                        <!--&gt;-->
                                        <!--</el-option>-->
                                    <!--</el-select>-->
                                <!--</el-form-item>-->
                                <el-form-item label="所属分类：" prop="taskClass">
                                    <el-select size="mini" v-model="formInline.taskClass" placeholder="所属分类" clearable>
                                        <el-option
                                                v-for="item in taskClassOption"
                                                :key="item.key"
                                                :label="item.value"
                                                :value="item.key"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item label="开始日期：" prop="startTime">
                                    <el-date-picker
                                            v-model="formInline.startTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="开始时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="结束日期：" prop="endTime">
                                    <el-date-picker
                                            v-model="formInline.endTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="结束时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item>
                                    <el-button class="reset_btn" size="mini" @click="resetForm('formInline')">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置
                                    </el-button>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div>
                        <div class="info_btn">
                            <el-button size="mini" type="primary" @click="addLearnTask"><i class="iconfont icon-htmal5icon18"></i>新增</el-button>
                        </div>
                        <el-table
                                :data="tableData"
                                border
                                stripe
                                style="width: 100%">
                            <el-table-column
                                    label="序号"
                                    type="index"
                                    header-align="center"
                                    align="center"
                                    :index="indexMethod"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="taskName"
                                    label="任务名称"
                                    >
                            </el-table-column>
                            <el-table-column
                                    prop="taskClassName"
                                    label="所属分类"
                                    width="100"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="sourceType"
                                    label="任务内容来源"
                                    width="150"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <!--<el-table-column-->
                                    <!--prop="policeclassName"-->
                                    <!--label="所属警种"-->
                                    <!--width="100"-->
                                    <!--header-align="center"-->
                                    <!--align="center">-->
                            <!--</el-table-column>-->
                            <el-table-column
                                    prop="startTime"
                                    label="开始日期"
                                    width="150"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="endTime"
                                    label="结束日期"
                                    width="150"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="completionDegree"
                                    label="任务完成度"
                                    width="100"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <!--<el-table-column
                                    prop="overDegree"
                                    label="超时完成率"
                                    width="100"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>-->
                            <el-table-column
                                    prop="isUse"
                                    label="是否发布"
                                    align="center"
                                    header-align="center"
                                    width="100">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.isUse === '0'" size="small" type="danger">未发布</el-tag>
                                    <el-tag v-else size="small" type="success">已发布</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    header-align="center"
                                    align="center"
                                    width="300px"
                                    >
                                <template slot-scope="scope">
                                    <el-popover
                                            placement="right"
                                            trigger="hover"
                                            content="查看">
                                        <i class="iconfont icon-chakan tabIcon"
                                           slot="reference"
                                           @click="handleDetail(scope.$index, scope.row)"
                                           style="color: #1381e3;font-size: 12px;">
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            placement="top-start"
                                            trigger="hover"
                                            content="编辑">
                                        <i class="iconfont icon-xiugaimima tabIcon"
                                           slot="reference"
                                           @click="handleEdit(scope.$index, scope.row)"
                                           style="color: #119e0a;"
                                        >
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            placement="right"
                                            trigger="hover"
                                            content="删除">
                                        <i class="iconfont icon-tubiaozhizuo- tabIcon"
                                           slot="reference"
                                           @click="handleDel(scope.$index, scope.row)"
                                           style="color: #e31313;"
                                        >
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            v-if="scope.row.isUse=='0'"
                                            placement="right"
                                            trigger="hover"
                                            content="发布">
                                        <i class="iconfont icon-renyuanqiyong tabIcon"
                                           slot="reference"
                                           @click="handleStart(scope.$index, scope.row)"
                                           style="color: #1381e3;"
                                        >
                                        </i>
                                    </el-popover>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="formInline.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="formInline.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="formInline.totalCount">
                        </el-pagination>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>


        <el-dialog :title="title" :visible.sync="dialogLearnTask" :before-close="closeDia" >
            <!--<el-row>-->
                <!--<el-col :span="12">-->

                <!--</el-col>-->
            <!--</el-row>-->
            <el-form :model="learnTasks" :rules="rules" ref="learnTasks" label-width="100px"
                     class="demo-learnTasks" size="mini">
                <el-col :span="24">
                    <el-form-item label="任务名称：" prop="taskName">
                        <el-input v-model="learnTasks.taskName" :disabled="!isEdit" placeholder="请输入任务名称" clearable></el-input>
                    </el-form-item>

                    <!--<el-form-item label="所属警种：" prop="policeclass">-->
                        <!--<el-select v-model="learnTasks.policeclass" placeholder="所属警种">-->
                            <!--<el-option-->
                                    <!--v-for="item in policeclassOption"-->
                                    <!--:key="item.code"-->
                                    <!--:label="item.value"-->
                                    <!--:value="item.code"-->
                            <!--&gt;-->
                            <!--</el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->
                    <el-form-item label="所属分类：" prop="taskClass">
                        <el-select v-model="learnTasks.taskClass" :disabled="!isEdit" placeholder="所属分类" clearable>
                            <el-option
                                    v-for="item in taskClassOption"
                                    :key="item.key"
                                    :label="item.value"
                                    :value="item.key"
                            >
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="开始日期：" prop="startTime">
                        <el-date-picker
                                :disabled="!isEdit"
                                v-model="learnTasks.startTime"
                                type="date"
                                format="yyyy年MM月dd日"
                                value-format="yyyy-MM-dd"
                                size="mini"
                                placeholder="开始日期">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="结束日期：" prop="endTime">
                        <el-date-picker
                                :disabled="!isEdit"
                                v-model="learnTasks.endTime"
                                type="date"
                                format="yyyy年MM月dd日"
                                value-format="yyyy-MM-dd"
                                size="mini"
                                placeholder="结束日期">
                        </el-date-picker>
                    </el-form-item>
                    <!--<el-form-item label="任务执行者：" prop="taskExecute">
                        <el-input v-model="learnTasks.taskExecute" placeholder="请输入任务执行者" clearable></el-input>
                    </el-form-item>-->
                    <el-form-item label="使用部门：" prop="deptName" v-if="menuForm!='person'">
                        <el-input type="textarea" :rows="2" v-model="learnTasks.deptName" :disabled="!isEdit" readonly @focus="chooseDept" placeholder="请选择使用部门"
                                  clearable></el-input>
                    </el-form-item>
                    <el-form-item label="使用人员：" prop="userName" v-if="menuForm!='person'">
                        <el-input type="textarea" :rows="2" v-model="learnTasks.userName" :disabled="!isEdit" readonly @focus="chooseUser" placeholder="请选择使用人员"
                                  clearable></el-input>
                    </el-form-item>
                    <el-form-item class="containInfo" label="任务内容：" prop="taskContent">
                        <el-input type="textarea" :rows="2" v-model="learnTasks.taskContent" :disabled="!isEdit" readonly @focus="chooseTaskContent" placeholder="请选择任务内容"
                                  clearable></el-input>
                        <!--<el-input type="textarea" maxlength="200" v-model="learnTasks.taskContent" placeholder="请输入任务内容" clearable></el-input>-->
                        <!--<el-tree
                                ref="classTree"
                                :data="classData"
                                :props="defaultClassProps"
                                accordion
                                show-checkbox
                                @check-change="handleClassCheckChange"
                                node-key="infoId"
                                :default-expanded-keys="[2079]"
                        >
                        </el-tree>-->
                        <!-- 选择任务 -->
                        <!--<el-scrollbar wrap-class="list" wrap-style="color: red;" view-style="font-weight: bold;" view-class="view-box" :native="false">-->
                            <!--<ul id="classTree" class="ztree"></ul>-->
                        <!--</el-scrollbar>-->
                    </el-form-item>
                </el-col>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogLearnTask = false">取消</el-button>
                <el-button v-if="isEdit" type="primary" @click="saveOrUpdate('learnTasks')">保存</el-button>
            </div>
        </el-dialog>

        <el-dialog title="选择部门" :visible.sync="dialogDept">
            <!--对于同一级的节点，每次只能展开一个-->
            <el-scrollbar wrap-class="list" wrap-style="color: red;" view-style="font-weight: bold;" view-class="view-box" :native="false">
                <el-tree
                        ref="deptTree"
                        :data="deptData"
                        :props="defaultDeptProps"
                        accordion
                        show-checkbox
                        @check-change="handleCheckChange"
                        node-key="id"
                        :default-expanded-keys="[2079]"
                        :default-checked-keys="deptCheckData"
                >
                </el-tree>
            </el-scrollbar>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelDept">取消</el-button>
                <el-button type="primary" size="mini" @click="confimDept">保存</el-button>
            </div>
        </el-dialog>

        <el-dialog title="选择人员" :visible.sync="dialogUser" class="dialog_minW750">
            <!--对于同一级的节点，每次只能展开一个-->
            <div>
                <el-col :span="6">
                    <el-scrollbar wrap-class="depList" wrap-style="color: red;" view-style="font-weight: bold;"
                                  view-class="view-box" :native="false">
                        <el-tree

                                :data="userData"
                                :props="defaultUserProps"
                                accordion
                                node-key="id"
                                :default-expanded-keys="idArr"
                                @node-click="handleDeptNodeClick">
                        </el-tree>
                    </el-scrollbar>
                </el-col>

                <el-col :span="18" class="paddingLeft20">
                    <el-form :inline="true" :model="userForm" ref="userForm" class="demo-form-inline">
                        <el-form-item prop="userCode">
                            <el-input v-model="userForm.userCode" placeholder="身份证号" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item prop="userName">
                            <el-input v-model="userForm.userName" placeholder="用户名" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="resetForm('userForm')" size="mini">重置</el-button>
                            <el-button type="primary" @click="searchUser" size="mini">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <div>
                        <el-table
                                ref="userTable"
                                :data="userTableData"
                                border
                                height="529"
                                stripe
                                @selection-change="handleSelectionChange"
                                style="width: 100%">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    label="序号"
                                    type="index"
                                    header-align="center"
                                    align="center"
                                    :index="indexUserMethod"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="userCode"
                                    label="身份证号"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="userName"
                                    label="姓名"
                                    width="280"
                            >
                            </el-table-column>

                        </el-table>
                        <el-pagination
                                @size-change="userHandleSizeChange"
                                @current-change="userHandleCurrentChange"
                                :current-page="userForm.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :pager-count="3"
                                :page-size="userForm.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="userForm.totalCount">
                        </el-pagination>
                    </div>
                </el-col>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelUser">取消</el-button>
                <el-button type="primary" size="mini" @click="confimUser">保存</el-button>
            </div>
        </el-dialog>

        <el-dialog title="选择学习任务内容" :visible.sync="dialogLearnConTask" width="70%">
            <!--对于同一级的节点，每次只能展开一个-->
            <div>
                <el-col :span="6">
                    <el-scrollbar wrap-class="depList" wrap-style="color: red;" view-style="font-weight: bold;"
                                  view-class="view-box" :native="false">
                        <el-tree

                                :data="classData"
                                :props="defaultLearnTaskProps"
                                accordion
                                node-key="id"
                                current-node-key="all"
                                @node-click="handleTaskNodeClick">
                        </el-tree>
                    </el-scrollbar>
                </el-col>

                <el-col :span="18" class="paddingLeft20">
                    <el-form :inline="true" :model="taskForm" ref="taskForm" class="demo-form-inline">
                        <el-form-item id="spel_title" prop="infoName" label="标题：">
                            <el-input v-model="taskForm.infoName" placeholder="标题" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item prop="infoType" label="来源：">
                            <el-radio-group v-model="taskForm.infoType" @change="changeInfoType">
                                <el-radio label="law">法律法规</el-radio>
                                <el-radio label="video">视频</el-radio>
                                <el-radio label="audio">音频</el-radio>
                                <el-radio label="pic" >图文</el-radio>
                            </el-radio-group>

                        </el-form-item>
                        <br>
                        <el-form-item>
                            <el-button @click="resetForm('taskForm')" size="mini">重置</el-button>
                            <el-button type="primary" @click="searchContent" size="mini">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <div>
                        <el-table
                                ref="learnTaskTable"
                                :data="learnTaskData"
                                border
                                height="529"
                                stripe
                                @selection-change="handleLearnTaskChange"
                                style="width: 100%">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    label="序号"
                                    type="index"
                                    header-align="center"
                                    align="center"
                                    :index="indexComMethod"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="infoName"
                                    label="标题"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="infoType"
                                    label="类型"
                                    width="100"
                            >
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.infoType === 'law_data'" size="small" >法律法规</el-tag>
                                    <el-tag v-if="scope.row.infoType === 'stu_pic_data'" size="small" type="info">学习图文</el-tag>
                                    <el-tag v-if="scope.row.infoType === 'stu_audio_data'" size="small" type="warning">学习音频</el-tag>
                                    <el-tag v-if="scope.row.infoType === 'stu_video_data'" size="small" type="warning">学习视频</el-tag>
                                    <el-tag v-if="scope.row.infoType === 'case_pic_data'" size="small" type="warning">案例图文</el-tag>
                                    <el-tag v-if="scope.row.infoType === 'case_audio_data'" size="small" type="warning">案例音频</el-tag>
                                    <el-tag v-if="scope.row.infoType === 'case_video_data'" size="small" type="warning">案例视频</el-tag>
                                </template>
                            </el-table-column>


                        </el-table>
                        <el-pagination
                                @size-change="learnTaskSizeChange"
                                @current-change="learnTaskCurrentChange"
                                :current-page="userForm.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="taskForm.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="taskForm.totalCount">
                        </el-pagination>
                    </div>
                </el-col>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelTaskCom">取消</el-button>
                <el-button type="primary" size="mini" @click="confimTaskCom">保存</el-button>
            </div>
        </el-dialog>
        <!--<el-dialog title="选择法律法规" :visible.sync="dialogClass" >
            &lt;!&ndash;对于同一级的节点，每次只能展开一个&ndash;&gt;
            <el-tree
                    ref="classTree"
                    :data="classData"
                    :props="defaultClassProps"
                    accordion
                    show-checkbox
                    @check-change="handleClassCheckChange"
                    node-key="id"
                    :default-expanded-keys="[2079]"
            >
            </el-tree>
            <el-button type="primary" size="mini" @click="confimClass">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelClass">取消</el-button>
        </el-dialog>-->
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/manageCen/learntasks.js?_${.now?long}"></script>
</html>
