<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>
    .header-right ul {
        background: transparent;
    }

    .header-right ul li:after {
        content: '';
    }

    .el-menu--horizontal .el-menu-item,
    .el-menu--horizontal .el-submenu {
        float: left;
        height: 70px;
        /*line-height: 70px;*/
        margin: 0;
        border-bottom: 2px solid transparent;
        color: #fff;
    }

    .el-menu--horizontal > .el-submenu .el-submenu__title {
        height: 70px;
        /* line-height: 70px; */
        border-bottom: 2px solid transparent;
        color: #909399;
    }

    .header-right ul li a {
        text-align: center;
        padding: 0;
        /*margin: 10px 0;*/
        box-sizing: border-box;
        height: auto;
        display: inline-block;
    }

    .header-right .el-menu-item [class^=el-icon-],
    .header-right .el-submenu [class^=el-icon-],
    .el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
        font-size: 30px;
        color: #fff;
    }

    /*.header-right .el-submenu [class^=el-icon-]*/
    .header-right ul li a span {
        display: block;
        margin-top: -10px;
        line-height: 10px;
    }

    .header-right .el-menu-item:hover a,
    .header-right .el-submenu:hover a,
    .header-right .el-menu-item:hover [class^=el-icon-],
    .header-right .el-submenu:hover [class^=el-icon-],
    .header-right .el-submenu:hover .el-submenu__title [class^=el-icon-] {
        color: #909399;
    }

    .el-submenu__icon-arrow {
        margin-top: 16px;
    }

    .el-menu--horizontal .el-menu .el-menu-item a {
        color: #909399;
    }

    .el-menu--horizontal .el-menu .el-menu-item a:hover {
        color: #000;
    }

    .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
        background-color: #fff;
        float: none;
        height: 36px;
        line-height: 36px;
        padding: 0 10px;
        color: #909399;
        display: inline-block;
    / / 悬浮块横向显示
    }
</style>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item v-for="item in breadArr">{{item.name}}</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title"></div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                                <el-form-item label="任务名称" prop="taskName">
                                    <el-input v-model="formInline.taskName" placeholder="任务名称" size="mini"
                                              clearable></el-input>
                                </el-form-item>
                                <el-form-item label="所属警种" prop="policeclass">
                                    <el-select size="mini" v-model="formInline.policeclass" placeholder="所属警种">
                                        <el-option
                                                v-for="item in policeclassOption"
                                                :key="item.code"
                                                :label="item.value"
                                                :value="item.code"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="所属分类" prop="taskClass">
                                    <el-select size="mini" v-model="formInline.taskClass" placeholder="所属分类">
                                        <el-option
                                                v-for="item in taskClassOption"
                                                :key="item.code"
                                                :label="item.value"
                                                :value="item.code"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>

                                <el-form-item label="开始日期" prop="startTime">
                                    <el-date-picker
                                            v-model="formInline.startTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="开始时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="结束日期" prop="endTime">
                                    <el-date-picker
                                            v-model="formInline.endTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="结束时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询
                                    </el-button>
                                    <el-button class="reset_btn" size="mini" @click="resetForm('formInline')">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置
                                    </el-button>

                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div>
                        <el-button size="mini" type="primary" @click="addLearnTask">新增</el-button>
                        <el-table
                                :data="tableData"
                                border
                                style="width: 100%">
                            <el-table-column
                                    prop="taskName"
                                    label="任务名称"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="taskClassName"
                                    label="任务类型"
                                    width="180"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="policeclassName"
                                    label="所属警种"
                                    width="180"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="startTime"
                                    label="任务开始时间"
                                    width="180"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="endTime"
                                    label="任务结束时间"
                                    width="180"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="completionDegree"
                                    label="任务完成度"
                                    width="180"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="overDegree"
                                    label="超时完成率"
                                    width="180"
                                    header-align="center"
                                    align="center"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="isUse"
                                    label="是否启用"
                                    width="180"
                                    align="center"
                                    width="100">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.isUse === '0'" size="small" type="danger">未启用</el-tag>
                                    <el-tag v-else size="small">已启用</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    header-align="center"
                                    align="center"
                                    width="180">
                                <template slot-scope="scope">
                                    <el-button v-if="scope.row.isUse=='0'"
                                               size="mini"
                                               @click="handleStart(scope.$index, scope.row)">启用
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            @click="handleEdit(scope.$index, scope.row)">编辑
                                    </el-button>
                                    <el-button
                                            plain
                                            type="danger"
                                            size="mini"
                                            @click="handleDel(scope.$index, scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="formInline.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="formInline.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="formInline.totalCount">
                        </el-pagination>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>


        <el-dialog :title="title" :visible.sync="dialogLearnTask" :before-close="closeDia">
            <el-row>
                <el-col :span="12">
                    <el-form :model="learnTasks" :rules="rules" ref="learnTasks" label-width="100px"
                             class="demo-learnTasks" size="mini">
                        <el-form-item label="任务名称" prop="taskName">
                            <el-input v-model="learnTasks.taskName" placeholder="请输入任务名称" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="任务内容" prop="taskContent">
                            <!--<el-input type="textarea" maxlength="200" v-model="learnTasks.taskContent" placeholder="请输入任务内容" clearable></el-input>-->
                            <!--<el-tree
                                    ref="classTree"
                                    :data="classData"
                                    :props="defaultClassProps"
                                    accordion
                                    show-checkbox
                                    @check-change="handleClassCheckChange"
                                    node-key="infoId"
                                    :default-expanded-keys="[2079]"
                            >
                            </el-tree>-->
                            <!-- 选择任务 -->
                            <ul id="classTree" class="ztree"></ul>
                        </el-form-item>
                        <el-form-item label="所属警种" prop="policeclass">
                            <el-select v-model="learnTasks.policeclass" placeholder="所属警种">
                                <el-option
                                        v-for="item in policeclassOption"
                                        :key="item.code"
                                        :label="item.value"
                                        :value="item.code"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="所属分类" prop="taskClass">
                            <el-select v-model="learnTasks.taskClass" placeholder="所属分类">
                                <el-option
                                        v-for="item in taskClassOption"
                                        :key="item.code"
                                        :label="item.value"
                                        :value="item.code"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="开始日期" prop="startTime">
                            <el-date-picker
                                    v-model="learnTasks.startTime"
                                    type="date"
                                    size="mini"
                                    placeholder="开始日期">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="结束日期" prop="endTime">
                            <el-date-picker
                                    v-model="learnTasks.endTime"
                                    type="date"
                                    size="mini"
                                    placeholder="结束日期">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="任务执行者" prop="taskExecute">
                            <el-input v-model="learnTasks.taskExecute" placeholder="请输入任务执行者" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="使用部门" prop="deptName" v-if="menuForm!='person'">
                            <el-input v-model="learnTasks.deptName" readonly @focus="chooseDept" placeholder="请选择使用部门"
                                      clearable></el-input>
                        </el-form-item>
                        <el-form-item label="使用人员" prop="userName" v-if="menuForm!='person'">
                            <el-input v-model="learnTasks.userName" readonly @focus="chooseUser" placeholder="请选择使用人员"
                                      clearable></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="saveOrUpdate('learnTasks')">保存</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-dialog>

        <el-dialog title="选择部门" :visible.sync="dialogDept">
            <!--对于同一级的节点，每次只能展开一个-->
            <el-tree
                    ref="deptTree"
                    :data="deptData"
                    :props="defaultDeptProps"
                    accordion
                    show-checkbox
                    @check-change="handleCheckChange"
                    node-key="id"
                    :default-expanded-keys="[2079]"
                    :default-checked-keys="deptCheckData"
            >
            </el-tree>
            <el-button type="primary" size="mini" @click="confimDept">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelDept">取消</el-button>
        </el-dialog>

        <el-dialog title="选择人员" :visible.sync="dialogUser">
            <!--对于同一级的节点，每次只能展开一个-->
            <el-row>
                <el-col :span="4">
                    <el-tree
                            :data="userData"
                            :props="defaultUserProps"
                            accordion
                            @node-click="handleDeptNodeClick">
                    </el-tree>
                </el-col>

                <el-col :span="20">
                    <el-tabs type="border-card">
                        <el-tab-pane label="检索">
                            <el-form :inline="true" :model="userForm" ref="userForm" class="demo-form-inline">

                                <el-form-item prop="code">
                                    <el-input v-model="userForm.userCode" placeholder="身份证号" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item prop="value">
                                    <el-input v-model="userForm.userName" placeholder="用户名" size="mini"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="searchUser" size="mini">查询</el-button>
                                    <el-button @click="resetForm('userForm')" size="mini">重置</el-button>

                                </el-form-item>
                            </el-form>
                            <div>
                                <el-table
                                        :data="userTableData"
                                        border
                                        @selection-change="handleSelectionChange"
                                        style="width: 100%">
                                    <el-table-column
                                            type="selection"
                                            width="55">
                                    </el-table-column>
                                    <el-table-column
                                            prop="userCode"
                                            label="身份证号"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="userName"
                                            label="姓名"
                                            width="280"
                                    >
                                    </el-table-column>

                                </el-table>
                                <el-pagination
                                        @size-change="userHandleSizeChange"
                                        @current-change="userHandleCurrentChange"
                                        :current-page="userForm.currPage"
                                        :page-sizes="[10, 20, 30, 40]"
                                        :page-size="userForm.pageSize"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="userForm.totalCount">
                                </el-pagination>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                    <el-button type="primary" size="mini" @click="confimUser">保存</el-button>
                    <el-button type="primary" size="mini" @click="cancelUser">取消</el-button>
                </el-col>
            </el-row>

        </el-dialog>

        <!--<el-dialog title="选择法律法规" :visible.sync="dialogClass" >
            &lt;!&ndash;对于同一级的节点，每次只能展开一个&ndash;&gt;
            <el-tree
                    ref="classTree"
                    :data="classData"
                    :props="defaultClassProps"
                    accordion
                    show-checkbox
                    @check-change="handleClassCheckChange"
                    node-key="id"
                    :default-expanded-keys="[2079]"
            >
            </el-tree>
            <el-button type="primary" size="mini" @click="confimClass">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelClass">取消</el-button>
        </el-dialog>-->
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/manageCen/learntasks.js?_${.now?long}"></script>
</html>
