<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>管理中心</el-breadcrumb-item>
            <el-breadcrumb-item>勋章管理</el-breadcrumb-item>
        </el-breadcrumb>
        <div>
            <div class="info_btn">
                <el-button type="primary" @click="addMedal()" size="mini">新增勋章</el-button>
            </div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        label="序号"
                        type="index"
                        header-align="center"
                        align="center"
                        :index="indexMethod"
                        width="50">
                </el-table-column>
                <!--<el-table-column-->
                        <!--type="index"-->
                        <!--:index="indexMethod">-->
                <!--</el-table-column>-->
                <el-table-column
                        prop="titleName"
                        label="勋章名称">
                </el-table-column>
                <el-table-column
                        label="勋章图标"
                        width="80"
                        header-align="center"
                        align="center">
                    <template slot-scope="scope">
                        <i class="iconfont" :class="scope.row.badge ? scope.row.badge:'icon-085shucezhongxin'" style="color: #000000"></i>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="integral"
                        label="获取条件（积分）">
                </el-table-column>
                <el-table-column
                        prop="credit"
                        label="获取条件（学分）">
                </el-table-column>
                </el-table-column>
                <el-table-column
                        align="center"
                        prop="active"
                        label="操作">
                    <template slot-scope="scope">
                        <el-popover
                                placement="right"
                                trigger="hover"
                                content="编辑">
                            <i class="iconfont icon-xiugaimima tabIcon"
                               slot="reference"
                               @click="handleEdit(scope.$index, scope.row)"
                               style="color: #119e0a;" >
                            </i>
                        </el-popover>
                        <el-popover
                                placement="right"
                                trigger="hover"
                                content="删除">
                            <i class="iconfont icon-tubiaozhizuo- tabIcon"
                               slot="reference"
                               @click="handleDel(scope.$index, scope.row)"
                               style="color: #e31313;" >
                            </i>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurChange"
                    :current-page="form.page"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="form.limit"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="form.count">
            </el-pagination>
            <!--<el-pagination-->
                    <!--@size-change="handleSizeChange"-->
                    <!--@current-change="handleCurChange"-->
                    <!--:current-page="formInline.page"-->
                    <!--:page-sizes="[10, 20, 30, 40]"-->
                    <!--:page-size="formInline.limit"-->
                    <!--layout="total, sizes, prev, pager, next, jumper"-->
                    <!--:total="formInline.count">-->
            <!--</el-pagination>-->
        </div>
 
        <el-dialog :title="title" :visible.sync="dialogFormVisible">
            <el-form :model="medal" size="mini" :rules="rules" ref="xunzhang">
                <div>
                    <el-col :span="24">
                        <el-form-item label="勋章名称" :label-width="formLabelWidthS" prop="titleName">
                            <el-input v-model="medal.titleName" autocomplete="off" placeholder="请输入勋章名称"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="勋章图标" :label-width="formLabelWidthS" prop="badge">
                            <el-input v-model="medal.badge" autocomplete="off" placeholder="请输入勋章图标（后期会做成选择图片库图片，现在请手动写图标 例如：icon-ai-book）"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="获取条件（积分）" :label-width="formLabelWidth" prop="integral">
                            <el-input v-model="medal.integral" autocomplete="off" placeholder="请输入积分"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="获取条件（学分）" :label-width="formLabelWidth" prop="credit">
                            <el-input v-model="medal.credit" autocomplete="off" placeholder="请输入学分"></el-input>
                        </el-form-item>
                    </el-col>
                    <!--<el-col :span="24">-->
                        <!--<el-form-item label="参与人员" :label-width="formLabelWidthS">-->
                            <!--<el-input v-model="form.participantUser" autocomplete="off"></el-input>-->
                        <!--</el-form-item>-->
                    <!--</el-col>-->
                    <!--<el-col :span="24">-->
                        <!--<el-form-item label="参与部门" :label-width="formLabelWidthS">-->
                            <!--<el-input v-model="form.participantDept" autocomplete="off"></el-input>-->
                        <!--</el-form-item>-->
                    <!--</el-col>-->
                </div>
            </el-form>
            <div slot="footer" class="dialog-footer" :label-width="formLabelWidth">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="save('xunzhang')">保存</el-button>
            </div>

        </el-dialog>

    </div>
</div>
</body>
<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/manageCen/medalConfig.js?_${.now?long}"></script>
</html>