<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.exam.UserExamFormDao">
    <select id="findList" resultType="com.lawschool.form.UserExamForm">
        select * from (
        SELECT
        A . ID ID,
        b. ID user_Exam_Id,
        A .EXAM_NAME,
        A .EXAM_TYPE,
        a.exam_score,
        a.pass_pnt,
        a.reach_Reward_Type,
        a.reach_Reward,
        DICTCODE2VALE (A .reach_Reward_Type) reach_Reward_Type_NAME,
        DICTCODE2VALE (A .EXAM_TYPE) EXAM_TYPE_NAME,
        A .EXAM_TIME,
        o .full_name ORGANIZED_ORG_CODE,
        A .START_TIME,
        A .END_TIME,
        b.EXAM_STATUS,
        a.IS_MUST_TEST,
        a.status,
        a.enabled
        FROM
        LAW_EXAM_CONFIG A
        INNER JOIN LAW_USER_EXAM b ON A . ID = b.EXAM_CONFIG_ID
        left  join law_org o on a.ORGANIZED_ORG_CODE = o.local_org_code
        where 1=1 and o.org_status >=2000
        <if test="authArr != null and authArr.length > 0">
            and a.id in
            <foreach collection="authArr" index="index" item="item" open="(" separator="," close=")">
                '${item}'
            </foreach>
        </if>
        and b.user_id = #{userId}
        UNION ALL
        SELECT
        A . ID ID,
        '' user_Exam_Id,
        A .EXAM_NAME,
        A .EXAM_TYPE,
        a.exam_score,
        a.pass_pnt,
        a.reach_Reward_Type,
        a.reach_Reward,
        DICTCODE2VALE (A .reach_Reward_Type) reach_Reward_Type_NAME,
        DICTCODE2VALE (A .EXAM_TYPE) EXAM_TYPE_NAME,
        A .EXAM_TIME,
        o .full_name ORGANIZED_ORG_CODE,
        A .START_TIME,
        A .END_TIME,
        '0' EXAM_STATUS,
        a.IS_MUST_TEST，
        a.status,
        a.enabled
        FROM
        LAW_EXAM_CONFIG A
        left  join law_org o on a.ORGANIZED_ORG_CODE = o.local_org_code
        where 1=1 and o.org_status >=2000 and
        A ."ID" NOT IN (
        SELECT
        exam_config_id
        FROM
        LAW_USER_EXAM where user_id = #{userId}
        )
        <if test="authArr != null and authArr.length > 0">
            and a.id in
            <foreach collection="authArr" index="index" item="item" open="(" separator=" , " close=")">
                '${item}'
            </foreach>
        </if>
        )
        where 1=1
        <if test="examName != null and examName != '' ">
            and EXAM_NAME like concat(concat('%',#{examName}),'%')
        </if>
        <if test="examStatus != null and examStatus!='' ">
            and EXAM_STATUS =#{examStatus}
        </if>
        <if test="source=='1'">
            and exam_status!='2'
        </if>
        <if test="source=='0'">
            and exam_status='2'
        </if>
        and enabled ='1' and status='1'
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
        </choose>
    </select>

</mapper>