<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.competition.CompetitionRecordDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->


    
    
    <update id="updateRecordStatus" >
        UPDATE
        LAW_COMPETITION_RECORD
        SET STATUS='0'

    </update>
    
    <select id="chuangguanCountBydept" resultType="java.lang.Integer" parameterType="java.lang.String">

        SELECT
            count(*)
        FROM
            (
                SELECT
                    LAW_COMPETITION_RECORD.*, LAW_USER.ORG_CODE
                FROM
                    LAW_COMPETITION_RECORD,
                    LAW_USER
                WHERE
                    LAW_COMPETITION_RECORD.USER_ID = LAW_USER. ID
            )
        where org_code=#{deptcode}
    </select>



    <select id="chuangguanSorceBydept" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            "SUM" (score)
        FROM
            (
                SELECT
                    LAW_COMPETITION_RECORD.*, LAW_USER.ORG_CODE
                FROM
                    LAW_COMPETITION_RECORD,
                    LAW_USER
                WHERE
                    LAW_COMPETITION_RECORD.USER_ID = LAW_USER. ID
            )
        WHERE
            org_code = #{deptcode}
    </select>
    
    
    <select id="chuangGuanRanking" resultType="com.lawschool.beans.competition.CompetitionRecord">
            SELECT
                ttt.user_id AS "userId",
                USERID2NAME(ttt.user_id) AS "userName",
                ttt.score AS "score",
                ttt.how_big AS "howBig",
                ttt.how_lit AS "howLit",
                ttt.create_time AS "createTime"
            FROM
                (
                    SELECT
                        *
                    FROM
                        (
                            SELECT
                                LAW_COMPETITION_RECORD.*, ROW_NUMBER () OVER (
                                    PARTITION BY USER_ID
                                    ORDER BY
                                        HOW_BIG DESC,
                                        HOW_LIT DESC
                                ) rn
                            FROM
                                LAW_COMPETITION_RECORD
                            WHERE
                                LAW_COMPETITION_RECORD.STATUS = '1'
                            AND LAW_COMPETITION_RECORD.SCORE != '0'
                        )
                    WHERE
                        rn = 1
                ) ttt
            ORDER BY
                ttt.HOW_BIG DESC,
                ttt.HOW_LIT DESC,
                ttt.USER_ID DESC,
                ttt.create_time
    </select>
</mapper>