<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.competition.MatchSettingDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.lawschool.beans.competition.MatchSetting">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="WIN_ID" property="winId" jdbcType="VARCHAR" />
        <result column="TOPIC_NUM" property="topicNum" jdbcType="VARCHAR" />
        <result column="UNIFORM_RULES" property="uniformRules" jdbcType="VARCHAR" />
        <result column="WIN_REWARD" property="winReward" jdbcType="VARCHAR" />
        <result column="LOSER_REWARD" property="loserReward" jdbcType="VARCHAR" />
        <result column="ANSWER_TIME" property="answerTime" jdbcType="DATE" />
        <result column="BACKUP1" property="backup1" jdbcType="VARCHAR" />
        <result column="BACKUP2" property="backup2" jdbcType="VARCHAR" />
        <result column="BACKUP3" property="backup3" jdbcType="VARCHAR" />
        <result column="BACKUP4" property="backup4" jdbcType="VARCHAR" />
        <result column="BACKUP5" property="backup5" jdbcType="VARCHAR" />

    </resultMap>

    <select id="list" resultType="com.lawschool.beans.competition.MatchSetting">

        SELECT
            LAW_MATCH_SETTING.ID as "id",
            LAW_MATCH_SETTING.WIN_ID as "winId",
            USERID2NAME(LAW_MATCH_SETTING.WIN_ID) as "winName",
            LAW_MATCH_SETTING.TOPIC_NUM as "topicNum",
            LAW_MATCH_SETTING.UNIFORM_RULES as "uniformRules",
            LAW_MATCH_SETTING.WIN_REWARD as "winReward",
            LAW_MATCH_SETTING.LOSER_REWARD as "loserReward",
            LAW_MATCH_SETTING.ANSWER_TIME as "answerTime",
            LAW_MATCH_SETTING.LAST_TIME as "lastTime",
            LAW_MATCH_SETTING.WIN_COUNT as "winCount"
        FROM
            LAW_MATCH_SETTING

    </select>
</mapper>