<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.competition.RecruitCheckpointConfigurationDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->

       <resultMap id="BaseResultMap" type="com.lawschool.beans.competition.RecruitCheckpointConfiguration">
           <id column="ID" property="id" jdbcType="VARCHAR" />
           <result column="RECRUIT_CONFIGURATION_ID" property="recruitConfigurationId" jdbcType="VARCHAR" />
           <result column="SPECIAL_KNOWLEDGE_ID" property="specialKnowledgeId" jdbcType="VARCHAR" />
           <!--<result column="HOW_MANY_MARK" property="howManyMark" jdbcType="VARCHAR" />-->
           <result column="UNIFY_CONFIGURATION" property="unifyConfiguration" jdbcType="VARCHAR" />
           <!--<result column="SMALL_NUM" property="smallNum" jdbcType="VARCHAR" />-->
           <result column="HOW_MANY_SMALL" property="howManySmall" jdbcType="INTEGER" />
           <result column="ITEM_TYPE" property="itemType" jdbcType="VARCHAR" />
           <result column="ITEM_DIFFICULTY" property="itemDifficulty" jdbcType="VARCHAR" />
           <result column="CROSSING_POINTS" property="crossingPoints" jdbcType="VARCHAR" />
           <result column="MARK_REWARD" property="markReward" jdbcType="VARCHAR" />
           <result column="REWARD_SCORE" property="rewardScore" jdbcType="VARCHAR" />
           <result column="CREATE_PEOPLE" property="createPeople" jdbcType="VARCHAR" />
           <result column="CREATE_DEPT" property="createDept" jdbcType="VARCHAR" />
           <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
           <result column="STATUS" property="status" jdbcType="VARCHAR" />
           <result column="BACKUP1" property="backup1" jdbcType="VARCHAR" />
           <result column="BACKUP2" property="backup2" jdbcType="VARCHAR" />
           <result column="BACKUP3" property="backup3" jdbcType="VARCHAR" />
           <result column="BACKUP4" property="backup4" jdbcType="VARCHAR" />
           <result column="BACKUP5" property="backup5" jdbcType="VARCHAR" />

       </resultMap>
    <!--   //  对应数据库	LAW_RECRUIT_CHECK_CON   太长了 存不了  所以删减了表名字！-->



    <select id="selectListByBaBaId" resultType="com.lawschool.beans.competition.RecruitCheckpointConfiguration">

         SELECT
            LAW_RECRUIT_CHECK_CON.id as "id",
            LAW_RECRUIT_CHECK_CON.RECRUIT_CONFIGURATION_ID as "recruitConfigurationId",
            LAW_RECRUIT_CHECK_CON.SPECIAL_KNOWLEDGE_ID as "specialKnowledgeId",
            topicId2name(LAW_RECRUIT_CHECK_CON.SPECIAL_KNOWLEDGE_ID) as "specialKnowledgeName",
            LAW_RECRUIT_CHECK_CON.UNIFY_CONFIGURATION as "unifyConfiguration",
            CASE LAW_RECRUIT_CHECK_CON.UNIFY_CONFIGURATION WHEN '1' THEN '是'
            　　ELSE '否'
            END AS "unifyConfigurationName" ,
            LAW_RECRUIT_CHECK_CON.HOW_MANY_SMALL as "howManySmall",
            LAW_RECRUIT_CHECK_CON.ITEM_TYPE as "itemType",
            DICTCODE2VALE(LAW_RECRUIT_CHECK_CON.ITEM_TYPE) as "itemTypeName",
            LAW_RECRUIT_CHECK_CON.ITEM_DIFFICULTY as "itemDifficulty",
            DICTCODE2VALE(LAW_RECRUIT_CHECK_CON.ITEM_DIFFICULTY) as "itemDifficultyName",

            LAW_RECRUIT_CHECK_CON.CROSSING_POINTS as "crossingPoints",
            LAW_RECRUIT_CHECK_CON.MARK_REWARD as "markReward",
            CASE LAW_RECRUIT_CHECK_CON.MARK_REWARD WHEN '1' THEN '是'
            　　ELSE '否'
            END AS "markRewardName" ,

            LAW_RECRUIT_CHECK_CON.REWARD_SCORE as "rewardScore"
         FROM
            LAW_RECRUIT_CHECK_CON
          WHERE  LAW_RECRUIT_CHECK_CON.RECRUIT_CONFIGURATION_ID=#{id}
        ORDER BY LAW_RECRUIT_CHECK_CON.HOW_MANY_SMALL

    </select>


   </mapper>