@charset "utf-8";
/*
* Copyright https://github.com/larryqin/larrycms
*/
/* 头部 */
.header{height: 62px;  color: #fff;}
.logo{display:block;position: absolute; left: 10px; top: 10px;}
.logo img{width: 40px; height: 40px;}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; line-height: 66px;}

.body{display: block;}
.layui-layout-admin .header-demo{border-bottom: none;}
.header-demo .logo{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	left: 10px;
	top: 0px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	height: 62px;
	line-height: 62px;
	text-align: center;
}
.header-demo .layui-nav{top: 0;}
.header-demo .layui-nav .layui-nav-item{margin: 0 10px; line-height: 48px;}
.header-demo .layui-nav .layui-nav-item a{
	color: #ffffff;
	padding-right: 15px;
	position: relative;
    display: inline-block;
    height: auto;
}

.header-demo .layui-nav .layui-nav-item a i{
	margin-right: 3px;
}
.header-demo .layui-nav .layui-nav-item:nth-child(2) a i{
	 margin-right: 0px;
 }
.header-demo .layui-nav .layui-nav-item:hover{
	border-bottom-color: #000;
}
.header-demo .layui-nav .layui-this{background-color: #000;/* #5FB878 */}
.header-demo .layui-nav .layui-nav-item a:hover,
.header-demo .layui-nav .layui-this a{color: #ffffff;}
.header-demo .layui-nav .layui-nav-item span.layui-nav-more{
	top: 32px;
}
.header-demo .layui-nav .layui-nav-item span.layui-nav-mored{
	top: 26px;
}
.header-demo .layui-nav .layui-this:after,
.header-demo .layui-nav-bar{background-color: #38c3cf;}
.header-demo .layui-nav .layui-this a{padding: 0 15px;}
.header{
	/*background: #1280eb;*/
    background-image: linear-gradient(90deg,#4281cd 0%,#66a6ff 100%),linear-gradient( #4281cd,#4281cd);
}
.admin-logo-box{
	width: 550px; height: 62px; position: relative;
}
.larry-side-menu{
	position: absolute;
	cursor: pointer;
    z-index: 19940201;
    left: 355px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #76a8d9;
    line-height: 30px;
    top: 28%;
}
.larry-side-menu:hover{
	background-color: #fff;
	color: #76a8d9;
}
/* 头部左侧 */
.layui-larry-menu{
	width: auto;
	height: 70px;
	position: absolute;
	left: 245px;
	top: 0px;
}
.layui-larry-menu ul.layui-nav{
	height: 70px;
	position:static;
}
.layui-larry-menu ul.layui-nav li.layui-nav-item{
	margin: 0px;
}
.layui-larry-menu ul.layui-nav li.layui-nav-item a{
	color: #F5F5F5;
	/*font-size: 14px;*/
	line-height: 60px;
	padding-left: 10px;
	padding-right: 10px;
}
.layui-larry-menu ul.layui-nav li.layui-nav-item a i{
	font-size: 24px;
}
.layui-larry-menu ul.layui-nav .layui-this{
	background: #2B2E37;

}
.layui-larry-menu ul.layui-nav .layui-this::after{
	/* background: #2B2E37; */
	background: #1AA094;
}
/* 头部右侧 */
.navtop{
	padding: 10px 0 0 10px;
	border-bottom: 1px solid #dcdfe6;
	box-sizing: border-box;
	height: 30px;
	line-height: 20px;
}
.el-breadcrumb{
    font-size: 15px;
}
.navtop button{
	margin-top: -9px;
}
.navtop img{
	margin-top: -4px;
}
.blue{
	color: #1280eb;
	cursor: pointer;
}
.header ul.larry-header-item{
	height: 62px;
}
.header ul.larry-header-item li.layui-nav-item{
	margin-left: 0px;
	margin-right: 0px;
	/*overflow: hidden;*/
    height: 62px;
}

.header ul.larry-header-item .userimg{
	width: 40px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #44576b;
	margin-top: -6px;
}
.header ul.larry-header-item .layui-this{
	background: #393D49;
	border-bottom: none;
}
.header ul.larry-header-item .layui-this::after{
	background: transparent;
}
/* ======================= */
/* 左侧区域 */
.layui-nav{
	background: none;
}
.layui-nav li{
	background-color: #94bbe1 !important;
}
.layui-layout-admin .layui-side {
	top: 62px;
	width: 200px;
	overflow-x: hidden;
	padding-top: 5px;
}
.layui-nav-tree .layui-nav-bar {
	width: 5px;
	height: 0;
	background: none;
}
.layui-nav .layui-nav-item a {
	display: block;
	padding: 0px;
	color: #ffffff;
	transition: all .3s;
	-webkit-transition: all .3s;
}
.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
	background: none!important;
	color: #fff!important;
}
.layui-nav-tree .layui-nav-item {
	display: block;
	width: 195px;
	line-height: 38px;
	margin-bottom: 10px;
	border-radius: 0px 4px 4px 0px;
}
.layui-side-bg{
	background: #78a9d7;
}
.layui-larry-side{
	padding: 0px;
}
.layui-larry-side .user-photo{
	width: 200px;
	height: 120px;
	padding-top: 15px;
	padding-bottom: 5px;
}
.layui-larry-side  .user-photo a.img{
    display: block;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.layui-larry-side  .user-photo a.img img{
	display: block;
	border: none;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 4px solid #44576b;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover {
    background-color: #4281cd;
    color: #fff;
}
.layui-nav-child dd:nth-child(1){
	padding-top: 0px;
}
.layui-larry-side  .user-photo p{
	display: block;
	width: 100%;
	height: 25px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
	line-height: 25px;
	overflow: hidden;
}
.layui-nav-tree li.layui-nav-item a{
	padding-right: 10px;
	height: 35px;
}
.layui-nav-tree li.layui-nav-item a i{
	margin-left: 13px;
	font-size: 17px;
}
.layui-nav-tree li.layui-nav-item a:not(.three_level) .iconbox{
	width: 40px;
	height: 38px;
	/*background: #81afdc;*/
	margin-left: 0;
	display: inline-block;
}
.layui-nav-tree li.layui-nav-itemed a:not(.three_level) .iconbox{
	width: 40px;
	height: 38px;
    background-color: #4281cd;
	margin-left: 0;
	display: inline-block;
}
.layui-nav-tree li.layui-nav-item a span{
	margin-left: 5px;
}
.layui-nav-tree li.layui-nav-item .layui-nav-child i{
	margin-left: 0px;
}
.layui-nav-tree li.layui-nav-item .layui-nav-child span{
	margin-left: 5px;
}
.layui-nav-tree li.layui-nav-item .layui-nav-child dd a{
	padding-left: 20px ;
	padding-right: 0px;
	opacity: 0.5;
}
.layui-nav-tree li.layui-nav-item .layui-nav-child dd a i{
	padding-right: 3px;
	width: 19.438px;
	height: 17px;
}
.larry-header-item li{
	background: none !important;
}
.layui-nav-itemed>.layui-nav-child {
	display: block;
	padding: 0;
	/*width: 155px;*/
	min-width: 155px;
	/*background: #1280eb;*/
    background-color: #4281cd;
	/*margin-left: 40px;*/
	margin-top: -2px;
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}
.layui-nav-tree .layui-nav-child a{
	line-height: 35px;
}
.layui-nav-tree .layui-nav-more {
	top: 16px;
	right: 10px;
	border-color: #ffffff transparent transparent;
}
.layui-nav-itemed>a .layui-nav-more {
	top: 10px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #ffffff;
}

.layui-nav-itemed .layui-nav-child dl{
	border-radius: 0px 0px 4px 4px;
}
.layui-nav-tree .layui-nav-item a:hover{
    background-color: #4281cd;
	border-radius: 0px 4px 4px 4px;
	opacity: 1 !important;
}
.layui-nav-tree .layui-nav-itemed{
	background: none !important;
}
.layui-nav-tree .layui-nav-itemed>a{
    background-color: #4281cd !important;
	border-radius: 0px  4px 0px 0px;
}

.layui-three-itemed .layui-nav-more{
	top: 10px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #ffffff;
}
.layui-three-itemed>.layui-three-child {
	display: block;
	/*width: 155px;*/
	min-width: 155px;
    background-color: #4281cd;
	margin-top: -2px;
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
	padding: 0 10px 0 56px;
	box-sizing: border-box;
}
.layui-three-child{
	display: none;
}
.layui-three-child a{
	padding: 0 !important;
}
/* 右侧主体区域 */
.layui-body{
	bottom: 0;
	border-left: solid 2px #1AA094;
}
.layui-tab-content{
	min-height: 150px;
	/* padding: 5px 0 0 0; */
}
 /* tab选项卡 */
.layui-body{
 	padding-left: 0px;
 }
 .layui-layout-admin .layui-body {
    top: 62px;
}
.larry-tab-menu{
	width: 200px;
	height: 40px;
	display: none;
}
.larry-tab-box .layui-tab-title li em{
   padding-left: 5px;
   font-style: normal;
    font-size: 15px;
}
.layui-tab-card>.layui-tab-title .layui-tab-bar{
	height: 29px;
	z-index: 100;
    line-height: 29px;
}
#admin-home i.layui-icon{
	display: none;
}
.larry-tab-box{
	box-shadow:none;
	border: none;
	background: #F0F0F0;
}
.layui-tab-title li .layui-tab-close {
	position: relative;
	margin-left: 5px;
	top: 1px;
	/*color: #1280eb;*/
}
.rightmenu{
	position: fixed;
	display: none;
	z-index: 999;
	width:95px !important;
	border: 1px solid #dddddd;
	background: #fff;
}
.rightmenu li{
	float: left;
	color: black !important;=
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	transition: all .2s;
	-webkit-transition: all .2s;
	position: relative;
	line-height: 40px;
	min-width: 65px;
	padding: 0 15px;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}
.rightmenu li:hover{
	background: #dddddd;
}
.rightmenu li i{
	display: none !important;
}



/* layui-tab-title start */
.layui-tab-title .larry-tab-menu{
	display: inline-block;
	float: right;border: 1px solid red;
	position: relative;
	font-size: 14px;
}
.larry-test{

	height: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 16px;
	color: #ffffff;
}
.refresh_iframe{
	display: none;
	position: absolute;
	top: 10px;
	right: 1px;
	height: 41px;
	background: #33AB9F;
	color: #FFFFFF;
}

/* layui-tab-title end */
.layui-layout-admin .header-demo{
	min-width: 760px;
}
.layui-tab{
    margin: 0;
}
.layui-tab-content{
	padding: 0px;
	margin: 0px;
}
.layui-tab-item{
	padding: 10px 0 0 10px;
	margin: 0px;

}
.layui-tab-content .layui-tab-item iframe{
	width: 100%;
	border: 0;
	height: 100%;
}
.larry-tab-box>.layui-tab-title{
	border-bottom: 1px solid #9bbcdb;
	padding-left: 4px;
}
.layui-tab-title li {
	min-width:80px;
	height: 25px;
	color: #ffffff;
	margin-right: 4px !important;
    margin-top: 2px;
	border-radius: 4px 4px 0px 0px;
	background-color: #1280eb;
	border: 1px solid #1280eb;
	padding: 0 5px;
	line-height: 26px;
}
.layui-nav-tree li.layui-nav-item .layui-nav-child .dc-nav-this a{
	opacity:1 !important;
}
.layui-nav-child .dc-nav-this a{
	opacity: 1;
}
.three_level_op1{
	opacity: 1 !important;
}
.layui-this .layui-tab-close{
	color: #1280eb;
}
.layui-tab-title{
	height: 29px;
}
.layui-tab-more{
	height: auto;
}
.larry-tab-box .layui-tab-title cite{
	font-style: normal;
	padding-left: 5px;
}
.larry-tab-box>.layui-tab-title .layui-this{
	color: #1280eb;
    background: none;
	border-bottom: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	height: 26px;
	margin-bottom: -1px;
}
.layui-tab-title .layui-this:after {
	border: none;
}
.larry-tab-box>.layui-tab-title .layui-this:after{
	border-bottom: 0;
}
.layui-tab-item {
	padding:0;
}


#time{
	width:100%;
	color:#fff;
	font-size:60px;
	margin-bottom:80px;
	display:inline-block;
	text-align:center;
}
.form-group {
    margin-bottom: 15px;
}
.col-lg-12{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

::selection{background:#FF6C60;color:#fff;}
.form-control {
    height: 30px;
}
@media (min-width: 1200px){
	.col-lg-12 {
	    width: 100%;
	    float: left;
	}
}

body .layui-layout-admin .layui-larry-foot{
    height: 30px;
    padding-left:10px;
    line-height: 30px;
    background-color: #eee;
    color: #666;
    font-weight: 300;
    border-left: 2px solid #78a9d7;
    z-index: 998;
	border: none;
}
body .layui-layout-admin .layui-larry-foot a{
    padding: 0 5px;

}

.layui-form-item .layui-input-inline {
    float: left;
    width: 350px;
    margin-right: 10px;
}

.laber-account{
	padding:3px 6px;margin-top:8px;width:auto;border-radius:5px;text-align: left;background-color:#009688; color: #fff;
}
/*layui 弹出框修改*/
.layui-layer-molv .layui-layer-title {
	background-color: #94bbe1 !important;
	height: 34px;
	line-height: 34px;
}

.layui-layer-setwin {
	top: 10px !important;
}

.layui-layer-molv .layui-layer-btn .layui-layer-btn1 {
	color: #fff;
	background-color: #409EFF !important;
	border-color: #409EFF;
}

.layui-layer-molv .layui-layer-btn .layui-layer-btn1:hover {
	background: #66b1ff;
	border-color: #66b1ff;
	color: #fff;
}

.layui-layer-btn .layui-layer-btn0 {
	background: #fff !important;
	border: 1px solid #dcdfe6 !important;
	color: #606266 !important;
}

.layui-layer-btn .layui-layer-btn0:hover {
	color: #409EFF !important;
	border-color: #c6e2ff !important;
	background-color: #ecf5ff !important;
}

.layui-layer-page .layui-layer-btn {
	background-color: #f2f2f2;
}
.laber-account{
	background-color: #409EFF ;
}
/*sup badge标记  修改*/
.el-badge__content.is-fixed{
	top: -27px;
	height: 15px;
	border: none;
	line-height: 14px;
	right: 22px;
	font-size: 14px;
}
.tit-padding a{
	text-align: center;
	padding: 0 !important;
	width: 101px;
	margin: 12px 0;
	line-height: 15px;
	height: 15px;
	border-left: 2px solid #fff;
	box-sizing: border-box;
}
.tit-padding a i{
    font-size: 22px;
}
.tit-padding a span{
    display: block;
    margin-top: 10px;
}
/*vue css*/
[v-cloak] {
	display: none;
}
@media screen and (max-width: 1480px) {
	.module-two .count-button {
		text-align: left;
		padding-le: 10%;
	}
}
/*0802样式修改*/
.layui-nav *{
	font-size: 16px;
}
/*消息提醒 start*/
#userbar-msg .nav-msg-layout{
	display: none;
	position: absolute;
	z-index: 1001;
	background-color: #fff;
	top: 65px;
	right: -217px;
	width: 500px;
	border: 1px solid  #ebeef5;
	box-shadow: 0 0 4px 3px rgba(141,176,199,.07)
}
#userbar-msg .nav-msg-layout .nav-msg-tri{
	position: absolute;
	top: -9px;
	right: 216px;
	width: 101px;
	height: 10px;
	background: url("../images/i-msg.png") no-repeat center;
}
#userbar-msg .nav-msg-layout div.msg-show-all{
	display: block;
	border-top: 1px solid #F5F8F8;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
#userbar-msg .nav-msg-layout div.msg-show-all a{
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 40px;
	font-size: 14px;
	color: #9EACB6;
	letter-spacing: 0;
	text-decoration: none;
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp{
	padding: 0 23px;
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp li{
	border-bottom: 1px solid #F5F8F8;
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp:nth-last-child(1) li{
	border-bottom: none;
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp a{
	color: #606266;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	width: 100%;
	text-align: left;
	margin: 10px 0 0 0;
	height: auto;
	line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp li span{
    font-size: 15px;
    line-height: 1;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp a:hover{
	text-decoration: underline
}
#userbar-msg .nav-msg-layout .msg-content-wp .msg-list-wp .msg-list-content.single-list{
	padding-top: 12px;
}
#userbar-msg .nav-msg-layout .nav-msg-warn{
	width: 78px;
	height: 65px;
	background: url("../images/i-bell.png") no-repeat;
	margin: 65px auto 4px;
}
#userbar-msg .nav-msg-layout .nav-msg-warntext{
	font-size: 14px;
	color: #DAE0E4;
	letter-spacing: 0;
	margin-bottom: 65px;
	text-align: center;
	margin-left: 8px;
}
/*消息提醒 end*/

/*el-dialog*/
.el-dialog__header {
	padding: 9px 10px;
	background-color: #94bbe1;
	min-height: 34px;
	box-sizing: border-box;
}
.el-dialog__footer {
	background-color: #f2f2f2;
	padding: 5px 10px;
}
.dc-dialog .el-button {
	padding: 0px 10px !important;
	min-width: 50px;
	border-radius: 2px;
}
.dc-dialog .el-button,.dc-dialog .el-button span {
	line-height: 26px !important;
}
.el-dialog__title {
	font-size: 16px;
	color: #fff;
}
.el-dialog__headerbtn .el-dialog__close {
	color: #fff;
}
.el-dialog__headerbtn {
	top: 14px;
}
.icon-changyongfenlei:before {
	content: "\e643";
	padding-right: 3px !important;
}