@charset "utf-8";
html,body{
    width: 100% !important;
    height: 100% !important;
}
*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style:none
}
body{
    background: url("../img/bg_login.png") no-repeat;
    background-size: cover;
}
.city{
    background: url("../img/bgnew.png") no-repeat;
}
.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-box-body{
    max-width: 670px;
    min-width: 540px;
    width: 100%;
    height: 416px;
    margin: 0 auto;
    background: rgba(255,255,255,0.6);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: solid 1px #ffffff;
}
.login-box-body>div{
    padding: 8% 5%;
    height: 100%;
}
.pull-left{
    min-width: 200px;
}
.pull-right .el-tabs__item.is-top{
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #666666;
}
.pull-right .el-tabs__active-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #1381e3;
    z-index: 1;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    list-style: none;
}
.pull-right .el-tabs__nav-wrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
     background-color: transparent;
    z-index: 1;
}
.pull-right .el-tabs__item,
.pull-right .el-checkbox{
    color: #666666;
    font-weight: normal;
    margin-bottom: 0;
}
.pull-right .el-checkbox__inner,
.pull-right el-checkbox__input{
    width: 25px;
    height: 25px;
    border-radius: 0;
    line-height: 0;
}
.pull-right .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #1381e3;
}
.pull-right .el-checkbox__input.is-checked .el-checkbox__inner,
.pull-right .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #fff;
    border-color: #1381e3;
}
.pull-right .el-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 1px solid #1381e3;
    border-left: 0;
    border-top: 0;
    height: 12px;
    left: 9px;
    position: absolute;
    top: 3px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 5px;
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s,-webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.pull-right .el-checkbox__label{
    font-size: 16px;
}
.pull-right .el-input__inner{
    border-radius: 0;
}
.pull-right .el-tabs__item.is-active,
.pull-right.el-checkbox.is-checked,
.pull-right.el-checkbox__input.is-checked {
    color: #1381e3;
}
.pull-right .has-feedback{
    height: 46px;
    margin-bottom: 14px;
}
.pull-right .login-btn{
    width: 100%;
    border-radius: 0;
    background-color: #1381e3;
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 4px;
}
/*.login-box-body>div{*/
    /*width: 49%;*/
/*}*/
/*.pull-left{*/
    /*margin-top: 5%;*/
    /*float: left;*/
/*}*/
/*.pull-right {*/
    /*margin-top: 5%;*/
    /*float: right;*/
/*}*/
/*.left-con{*/
    /*width:260px;*/
    /*height: 260px;*/
    /*border-radius: 50%;*/
    /*background: rgba(143, 193, 251, 0.16);*/
/*}*/
.left-con p{
    color: #1381e3;
    font-size: 26px;
    text-align: center;
    font-weight: normal;
    line-height: 45px;
}
.left-con p img{
    margin-top: 24%;
}
.left-con p.logintit{
    font-size: 26px;
    margin-top: 15px;
}
/*数字证书登录*/
.pull-right #pane-certificate{
    text-align: center;
}
.credit-word{
    font-size: 16px;
    color: #666666;
    margin: 43px 0 64px 0;
}
/*.right-con{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.right-con img{*/
    /*width: 60%;*/
/*}*/
/*.right-con .has-feedback {*/
    /*max-width: 300px;*/
    /*height: 46px;*/
    /*margin-bottom: 14px;*/
/*}*/
.login-box-msg{
    font-size: 25px;
    color: #357fd9;
    margin-bottom: 15px;
    margin-top: 10px;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #357fd9;
}
.has-feedback .form-control {
    padding-left: 42.5px;
    border:none;
    border-bottom: 1px solid #5777af;
    background: transparent;
    border-radius: 0px;
    box-shadow:none;
}
.btn-primary{
    height: 38px;
}
.footer{
    width: 100%;
    height: 10%;
    padding: 0 5%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    color: #ffffff;
}
.footer span{
    font-size: 12px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*city*/
.city{
    min-width: 1200px;
    min-height: 768px;
    position: relative;
}
.city .login-box{
    height: 508px;
    width: 508px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
.city .city-bg:before{
    content: "安全生产行政执法管理系统";
    position: absolute;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    color: #297ee5;
    width: 1082px;
    text-align: right;
    padding-right: 538px;
    top: 50%;
    left: 36%;
    transform: translate(-50%,-50%);
    display:none;
}
.city .city-bg{
    height: 226px;
    background-color: #c1d8f2;
    border-bottom: 13px solid #73a1db;
    border-top: 13px solid #73a1db;
    width: 100%;
    border-radius: inherit;
}
.tit ,.login{
    background-color: #2269c6;
    height: 154px;
}
.tit img{
    width: 68px;
    height: 68px;
    margin: 20px 0 13px 0;
}
.tit p{
    height: 38px;
    font-family: MicrosoftYaHei;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0px;
    color: #ffffff;
}
.content{
    height: 200px;
    background-color: #dbeafa;
}
.content .form-group{
    width: 100%;
    text-align: center;
}
.content .form-group label{
    width: 48px;
    height: 17px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0px;
    letter-spacing: 0px;
    color: #092e5f;
    margin-right: 18px;
    text-align: left;
    display: inline-block;
    margin-bottom: 0;
}
.content .form-group:nth-child(1){
    margin-bottom: 18px;
}
.content .form-inline{
    padding-top: 57px;
}
.content .form-inline .form-control{
    width: 300px;
    display: inline-block;
}
.login .login-content{
    padding-top: 20px;
}
.login-content .btn{
    width: 88px;
    height: 40px;
    background-color: #297ee5;
    border-radius: 4px;
    margin-left: 33px;
    font-size: 16px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:active:hover{
    color: #fff;
    background-color: #368af0;
    border-color: transparent;
}
.login-content .el-checkbox{
    color: #fff;
}
.city .footer{
    height: auto;
    margin-bottom: 25px;
    color: #333333;
}

/*vue css*/
[v-cloak] {
    display: none;
}
@media (max-width: 1080px) {
    .login-box-body{
        height: 375px;
    }
    .pull-left{
        padding: 5% 2% 5% 3% !important;
    }
    .footer span{
        font-size: 12px;
    }
    .left-con p.logintit,.login-box-msg{
        font-size: 23px;
    }
}
/*背景视频*/
video { display: block; }
video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;

}
/*浏览器提醒*/
.login-browser-msg{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 19px;
}
.login-browser-msg a:focus,.login-browser-msg a:hover {
    color: #3da3ff;
    text-decoration: underline;
}

/*首页提醒*/
.login-version-msg{
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f70c2c;
    font-size: 19px;
}
.login-version-msg a:focus,.login-version-msg a:hover {
    color: #3da3ff;
    text-decoration: underline;
}

.login_tab li{
    float: left;
}
