@charset "UTF-8";
/*.el-form {*/
    /*min-width: 400px;*/
/*}*/
/*页面头部*/
.header{
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background: #1381e3;
}
.header .header-left{
    float: left;
    height: 70px;
    line-height: 70px;
}
.header .header-left img{
    margin-top: -10px;
    width: 48px;
    /*height: 47px;*/
    vertical-align: middle;
}
.header .header-left a{
    font-family: MicrosoftYaHei;
    font-size: 24px;
    font-weight: normal;
    color: #ffffff;
    margin-left: 10px;
}
.header-right{
    float: right;
    height: 70px;
    /*padding-top: 10px;*/
}

.header-right ul li{
    /*display: inline-block;*/
    float: left;
    padding: 23px 7px 8px;
    /*border-right: 1px solid #fff;*/
    text-align: center;
    position: relative;
}
.header-right ul li:hover{
    background-color: #056fcd;
}
/*.header-right ul li:after{*/
    /*position: absolute;*/
    /*content: '|';*/
    /*color: #ffffff;*/
    /*background: #fff;*/
    /*height: 30px;*/
    /*display: inline-block;*/
    /*right: 0;*/
    /*top: 8px;*/
    /*font-size: 1px;*/
/*}*/
/*.header-right ul li:last-child:after{*/
    /*content: '';*/
/*}*/
.header-right ul li i{
    font-size: 29px;
}
.container{
    padding: 24px;
    background: #fff;
    /*min-width: 1200px;*/
}
.container .info_btn button{
    margin-bottom: 8px;
    padding: 7px 12px;
}
.container .info_btn button i{
    margin-right: 10px;
}
.container .container-btn{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
}
.container .container-btn .el-col{
    border-top: 1px solid #dddddd;
    padding: 0 36px;
}
.container .container-btn a{
    color: #333333;
}
.container .container-btn i{
    font-size: 16px;
    vertical-align: middle;
}
.container .align-rig{
    text-align: right;
}
.container .align-cent{
    text-align: center;
    border: 1px solid #dddddd;
    border-bottom: none;
}
.container .container-btn .disabled{
    cursor: not-allowed;
    color: #999999;
}
/*.m {*/
    /*width: 960px;*/
    /*height: 400px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 100px;*/
/*}*/
/*首页05 第一块*/
.content5-1 .small-box{
    color: #ffffff;
    height: 120px;
    position: relative;
    border-radius: 2px;
    box-shadow: 3px 3px 5px #888888;
}
.small-box.bg-blue{
    background: #e06971;
}
.small-box.bg-blue .inner h3{
    padding: 31px 0 0 141px;
    margin-bottom: 22px;
}
.small-box.bg-blue .inner div p{
    text-align: left;
    padding-left: 152px;
}
.small-box.bg-green{
    background: #43abeb;
}
.small-box.bg-green .inner h3{
    padding: 19px 0 0 138px;
}
.small-box.bg-green .inner div p{
    text-align: left;
    padding-left: 139px;
}
.small-box.bg-orange{
    background: #fbb844;
}
.small-box.bg-orange .inner h3{
    padding: 31px 0 0 141px;
    margin-bottom: 22px;
}
.small-box.bg-orange .inner div p{
    text-align: left;
    padding-left: 148px;
}
.small-box.bg-red{
    background: #64cb5e;
}
.small-box.bg-red .inner h3{
    text-align: left;
    padding:13px 0 0 30px;
}
.small-box.bg-red .inner .competition{
    padding: 0;
    position: absolute;
    left: 25px;
    top: 49px;
    z-index: 9;
}
.small-box.bg-red .icon{
    right: 18px;
    color: #47b845;
}
.small-box.bg-red .icon i{
    font-size: 105px;
}
.small-box .icon{
    position: absolute;
    top: 22px;
    left: 36px;
    z-index: 0;
    font-size: 68px;
}
.small-box.bg-blue .icon i{
    background: -webkit-linear-gradient(90deg,
    #ffffff 0%,
    #fbd1d4 65%,
    #f7a3a8 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(90deg,
    #ffffff 0%,
    #fbd1d4 65%,
    #f7a3a8 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(90deg,
    #ffffff 0%,
    #fbd1d4 65%,
    #f7a3a8 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(90deg,
    #ffffff 0%,
    #fbd1d4 65%,
    #f7a3a8 100%); /* 标准的语法 */
    -webkit-background-clip: text;
    color: transparent;

}
.small-box.bg-green .icon i{
    background: -webkit-linear-gradient(-90deg,
    #9fd6f7 0%,
    #e0f2fc 50%,
    #e8f5fd 58%,
    #f4fafe 68%,
    #ffffff 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-90deg,
    #9fd6f7 0%,
    #e0f2fc 50%,
    #e8f5fd 58%,
    #f4fafe 68%,
    #ffffff 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-90deg,
    #9fd6f7 0%,
    #e0f2fc 50%,
    #e8f5fd 58%,
    #f4fafe 68%,
    #ffffff 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(-90deg,
    #9fd6f7 0%,
    #e0f2fc 50%,
    #e8f5fd 58%,
    #f4fafe 68%,
    #ffffff 100%); /* 标准的语法 */
    -webkit-background-clip: text;
    color: transparent;
}
.small-box.bg-orange .icon i{
    background: -webkit-linear-gradient(-90deg,
    #feae24 0%,
    #fcbf56 0%,
    #fad087 0%,
    #fde8c3 32%,
    #ffffff 100%); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-90deg,
    #feae24 0%,
    #fcbf56 0%,
    #fad087 0%,
    #fde8c3 32%,
    #ffffff 100%); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-90deg,
    #feae24 0%,
    #fcbf56 0%,
    #fad087 0%,
    #fde8c3 32%,
    #ffffff 100%); /* Firefox 3.6 - 15 */
    background: linear-gradient(-90deg,
    #feae24 0%,
    #fcbf56 0%,
    #fad087 0%,
    #fde8c3 32%,
    #ffffff 100%); /* 标准的语法 */
    -webkit-background-clip: text;
    color: transparent;
}

.small-box.bg-red .icon{
    top: 0;
    left: auto;
    right: 18px;
}
.small-box .icon i{
    font-size: 68px;
}
.small-box .inner{
    height: 100%;
}
.small-box .inner h3{
    padding-top: 19px;
    padding-left: 138px;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: normal;
}
.small-box p{
    text-align: center;
    margin-bottom: 5px;
}
/*竞赛中心*/
.small-box .inner .competition{
    padding: 0 10px 0 80px;
}
.small-box .inner .competition p{
    text-align:left;
    width: auto;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.small-box.bg-green span{
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
/*蓝底白字标题卡片*/
.box-card .header{
    background: #1381e3;
    height: 32px;
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    line-height: 32px;
}
.box-card .pl12{
    padding-left: 12px;
}
.box-card .header .more{
    float: right;
    color: #1381e3;
    padding-right: 14px;
}
.box-card .header .date{
    float: right;
    padding-right: 10px;
    color: #446279;
}
.box-card .content{
    background: #ffffff;
    height: auto;
    min-height: 229px;
}
/*我的考试*/
.box-card .content.exam{
    padding-left: 20px;
    padding-top: 25px;
    /*height: 229px;*/
    border: 1px solid #dbedfc;
}
.content.exam .title{
    position: relative;
}
.content.exam .title img{
    width: 44px;
    height: 30px;
}
.content.exam .title span:nth-of-type(1){
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    position: absolute;
    top: 0;
    left: 12px;
}
.content.exam .title span:nth-of-type(2){
    font-size: 16px;
    color: #333;
    position: absolute;
    top: 5px;
    left: 52px;
    font-weight: 600;
}
.content.exam .minContent{
    padding: 10px;
}
.content.exam .minContent table tr{
    height: 30px;
}
.content.exam .minContent table td:first-child{
    color: #333;
    min-width: 60px;
}
.content.exam .minContent table td:last-child{
    color: #666;
    padding-left: 20px;
}
.content.exam .minContent p{
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: #36a9e0;
}
.content.exam .minContent p a{
    background: #1381e3;
    color: #fff;
    padding: 10px 16px;
    border-radius: 4px;
}
/*学年目标*/
.box-card .content.target{
    padding: 35px 20px;
    /*height: 229px;*/
    border: 1px solid #dbedfc;
}
.content.target .target-div:first-child{
    margin-bottom: 40px;
}
.content.target .target-div .title{
    margin-bottom: 8px;
    padding: 0 7px;
}
.content.target .target-div .left{
    float: left;
    width: 10%;
    color: #5ebc5c;
    padding-top: 6px;
}
.content.target .target-div:last-child .left{
    color: #feae23;
}
.content.target .target-div .left i{
    font-size: 27px;
}
.content.target .target-div .right{
    float: right;
    width: 88%;
}
.content.target span{
    color: #4db49a;
    font-size: 16px;
}
.content.target span:first-child{
    text-align: left;
}
.content.target span:last-child{
    float: right;
}
/*最新课程*/
.box-card .content.lesson{
    padding: 30px;
}
.content.lesson .el-card{
    /*width: 240px;*/
    /*height: 200px;*/
}
.content.lesson .lawType{
    display: inline-block;
    padding: 2px 6px;
    background: #f97a1f;
    color: #fff;
}
.content.lesson .title{
    color: #666666;
    margin-left: 5px;
    line-height: 24px;
}
.content.lesson p{
    min-height: 14px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content.lesson p:last-child{
    color: #a9a9a9;
}
.content.lesson .dept{
    float: left;
}
.content.lesson .time{
    float: right;
}
/*新法速递*/
.box-card .content.fast{
    padding: 25px 16px;
}
.content.fast li{
    height: 33px;
    line-height: 30px;
}
.content.fast li .title{
    color: #333;
    display: inline-block;
    max-width: 83%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.content.fast li .date{
    color: #333;
    float: right;
}
/*学情看板*/
.content5-2 .header{
    position: relative;
}
.header_special{
    background: #e7f1fa!important;
}
.header_special > span{
    display: block!important;
    background: #1381e3!important;
    width: 80px!important;
    text-align: center!important;
    float: left!important;
    border-radius: 2px;
}
.content5-2 .header .search{
    position: absolute;
    right: 10px;
    top: 0;
}
.content5-2 .boardCard .header{

}
.span-title{
    font-size: 16px;
    color: #333;
    height: 20px;
    line-height: 20px;
    border-left: 5px solid #1381e3;
    padding-left: 7px;
    margin: 10px 0 0 10px;
}
.boardCard .el-tabs__nav div{
    width: 51%;
    text-align: center;
}
.boardCard .infoCount{
    height: 300px;
    background-color: #ecf4fb;
    opacity: 0.8;
}
.infoCount .infoMsg ul li{
    padding: 20px 0 0 72px;
}
.infoCount .infoMsg .info{
    font-size: 14px;

}
.infoCount .infoMsg .info i{
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #1381e3;
    border-radius: 2px;
    margin-right: 4px;
}
.infoCount .infoMsg .info span{
    font-size: 16px;
    color: #1381e3;
}
.infoCount .infoMsg .contrast{
    text-align: right;
    padding-top: 10px;
    font-size: 16px;
    color: #666;
    padding-right: 30px;
}
.infoCount .infoMsg ul li:nth-child(2) .info i{
    background: #feaf25;
}
.infoCount .infoMsg ul li:nth-child(2) .info span{
    color: #feaf25;
}
.infoCount .infoMsg ul li:nth-child(3) .info i{
    background: #5ebd5c;
}
.infoCount .infoMsg ul li:nth-child(3) .info span{
    color: #5ebd5c;
}
.boardCard .rate{

}

.el-progress{
    border: #5ebc5c 1px solid;
    padding: 2px;
    border-radius: 4px;
}
.el-progress-bar__inner{
    border-radius: 4px;
}
.content.target span{
    color: #333;
}
.content.target .title > span > span:nth-child(1){

}
.content.target .title > span > span:nth-child(2){
    color: #999;
}
.el-progress-bar__outer{
    background: transparent;
}
.content.target .target-div:nth-child(2) .el-progress{
    border: #feae23 1px solid;
}
.clearfix {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.clearfix:after {
    clear:both;
    content:'';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;


}   /*==for FF/chrome/opera/IE8==*/
.el-tabs__header.is-top{
    width: 350px;
    /*padding-left: 38px;*/
    margin-bottom: 8px;
}
.pieArea .el-icon-arrow-left,.pieArea .el-icon-arrow-right{
    display: none
}
/*检索*/
.info_card{
    margin-bottom: 8px;
}
.info_card .card_title{
    height: 6px;
    background: #1381e3;
    border-radius: 4px 4px 0 0;
}
.info_card .card_title i{
    color: #9eacb8;
    padding-left: 20px;
}
.info_card .card_title > *{
    display: inline-block;
    font-weight: normal;
}
.info_card .card_contain .el-form-item{
    margin-bottom: 10px;
}
.info_card .card_contain{
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 10px 20px 0;
}
.info_card .el-form-item__label,.info_card .el-form-item__content{
    line-height: 30px;
    height: 30px;
}
.info_card .el-form-item__label{
    min-width: 68px;
}
.info_card .reset_btn{
    background: #cae6fe;
    color: #0079d7;
}
.info_card button{
    padding: 6px 8px;
}
.info_card input,.info_card .el-date-editor.el-input{
    width: 196px;
}
.info_card .card_contain .el-form-item .el-form-item__content>.el-col{
    padding: 0 !important;
    margin-right: 0;
    width: 196px;
}
.info_card .el-form-item__content .line{
    min-width: 68px;
    width: 82px !important;
    text-align: center;
}
.el-button--primary{
    background-image: none;
}
.el-button--primary:focus, .el-button--primary:hover{
    background-image: url("../img/btn_hover.png");
    background-size: 100% 100%;
    /*box-shadow: 1px 2px 5px 1px #1381e3;*/
    border-color: transparent;
}
.el-button--primary.is-active, .el-button--primary:active{
    background-image: url("../img/btn_pressed.png");
    background-size: 100% 100%;
    box-shadow: none;
}
/*表格样式*/
thead.has-gutter th{
    background-color: #f5f7fa;
    /*font-size: 14px;*/
    background:-webkit-linear-gradient(#fbfcfd 5%,#f5f7fa 94%,#eef0f2 1%);
    background:-o-linear-gradient(#fbfcfd 5%,#f5f7fa 94%,#eef0f2 1%);
    background:-moz-linear-gradient(#fbfcfd 5%,#f5f7fa 94%,#eef0f2 1%);
    background:linear-gradient(#fbfcfd 5%,#f5f7fa 94%,#eef0f2 1%);
    border-color: transparent;
}
thead.has-gutter th > .cell{
    font-size: 14px;
    color: #666;
}
.el-table__row:hover td{
    background: #e9f3ff!important;
    border-top: 1px solid #b7d8ff;
    border-bottom: 1px solid #b7d8ff;
    padding: 11px 0 12px 0;
}
.el-table--border{
    border-color: #dddddd;
}
.el-table--border td{
    border-color: #dddddd;
}
.el-table--border::after, .el-table--group::after, .el-table::before{
    background: #dddddd;
}
.el-table td, .el-table th.is-leaf{
    border-bottom-color: #dddddd;
}
/*面包屑底部*/
.el-breadcrumb{
    margin-bottom: 20px;
}
.el-breadcrumb__inner.is-link{
    color: #1381e3;
    font-size: 14px;
}
.el-breadcrumb__inner.is-link:hover{
    text-decoration: underline;
}
.el-breadcrumb > span:first-child .el-icon-arrow-right{
    position: relative;
    padding-right: 10px;
}
.el-breadcrumb > span:first-child .el-icon-arrow-right:before{
    position: absolute;
    right: 3px;
    top: -10px;
    content: '';
    width: 1px;
    height: 12px;
    background: #aaa;
}
/*小气泡样式*/
.el-popover{
    min-width: 0px;
}
.el-popover--plain{
    padding: 8px;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item{
    color: #1381e3;
}
el-tabs__item is-top.is-active{
    border-radius: 2px;
}
.el-breadcrumb{
    padding-left: 0px!important;
    margin-bottom: 18px;
}
/*小标题样式*/
.little-title{
    height: 20px;
    line-height: 20px;
    margin-left:24px;
    border-left: 5px solid #1381e3;
    padding-left: 12px;
    font-size: 14px;
    color: #333;
}
/*table 操作区 icon*/
.tabIcon{
    cursor: pointer;
    margin: 0 20px;
    padding: 0;
    font-size: 18px;
}