@charset "UTF-8";
[v-cloak]{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MicrosoftYaHei;
    letter-spacing: 0px;
    font-size: 14px;
}
#app{
    min-width: 1200px;
}
body{
    background: #efefef;
}
a{
    text-decoration: none;
    letter-spacing: 0px;
    color: #ffffff;
}
.iconfont {
    outline-width: 0;
}
ul li{
    list-style:none;
}

.dialog_minW750>.el-dialog{
    min-width: 750px;
}
.paddingLeft20{
    padding-left: 20px;
}
.depList{
    max-height: 639px;
}
.list{
    height: 390px;
}
.manList{
    max-height: 702px;
}
/*table 操作区 icon*/
.tabIcon{
    cursor: pointer;
    padding: 0 20px;
    font-size: 18px;
}
/*element 公共样式修改 start*/
.container>.el-row>.el-col,.container>.el-row>.el-col>.el-tabs--border-card>.el-tabs__content {
    padding: 0;
}
.container>.el-row{
    margin-bottom: 0px;
}
.el-row {
    /*margin-bottom: 20px;*/
}
.el-pagination{
    text-align: right;
    margin-top: 6px;
}
.el-submenu{
    margin-top: -51px!important;
}
/*el-tree start*/
.el-tree{
    border-top: 1px solid #eeeeee;
}
.el-tree-node__content{
    height: 40px;
    border: 1px solid #eeeeee;
    border-top: none;
    background-color: #fafafa;
}
.el-tree-node.is-current.is-focusable{
    border-left: 4px solid #1381e3;

    animation: myfirst .5s;
    -moz-animation: myfirst .5s;	/* Firefox */
    -webkit-animation: myfirst .5s;	/* Safari 和 Chrome */
    -o-animation: myfirst .5s;	/* Opera */
}
.el-tree-node.is-current.is-focusable .el-tree-node__content{
    color: #1381e3;
    box-sizing: border-box;
    background-color: #fff;
    border-right: none;
}
.el-tree>.el-tree-node{display:inline-block;min-width: 100%;}
@keyframes myfirst
{
    from {border-left: 1px solid #1381e3;}
    to {border-left: 4px solid #1381e3;}
}

@-moz-keyframes myfirst /* Firefox */
{
    from {border-left: 1px solid #1381e3;}
    to {border-left: 4px solid #1381e3;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    from {border-left: 1px solid #1381e3;}
    to {border-left: 4px solid #1381e3;}
}

@-o-keyframes myfirst /* Opera */
{
    from {border-left: 1px solid #1381e3;}
    to {border-left: 4px solid #1381e3;}
}
/*el-tree  end */

/*el-dialog start*/
.el-dialog__footer .el-button{
    height: 30px;
    padding: 0px 18px;
}
.el-dialog .el-select>.el-input{
    width: 220px;
}
.el-pagination__sizes .el-select>.el-input{
    width: 100px;
}
.el-dialog  .el-date-editor.el-input--mini.el-date-editor--datetime{
    width: 220px !important;
}
.el-dialog .el-form-item{
    margin-bottom: 15px;
}
/*el-dialog end*/
/*表单disabled样式*/
.is-disabled .el-input__inner,.is-disabled .el-textarea__inner{
    border: none!important;
    color: #999!important;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after{
    border-color: #999
}
.el-checkbox__input.is-disabled+span.el-checkbox__label{
    color: #999;
}
.el-radio__input.is-disabled+span.el-radio__label{
    color: #999;
}

/*element 公共样式修改  end */
