html, body, .container, ul, li, i, p, span {
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    list-style: none
}

img {
    width: 100%;
    height: 100%;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    background: url("../img/competeCenter/rushBg.png");
    background-size: 100% auto;
    height: 100vh;
    position: relative;
    padding-top: 34vh;
    box-sizing: border-box;
    overflow: hidden;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.return_back, .rule_info {
    width: 68px;
    height: auto;
    position: fixed;
    top: 50px;
}

.return_back {
    left: 98px;
}

.integral {
    line-height: 62px;
    height: 62px;
    border-radius: 31px;
    padding: 0 34px 0 103px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.5) url("../img/competeCenter/coin.png") no-repeat scroll 28px 7px;
    position: fixed;
    left: 200px;
    top: 58px;
}

.integral > i {
    width: 66px;
    height: 55px;
}

.integral p, .integral p span {
    color: #fef73b;
    font-size: 24px;
}

.rule_info {
    right: 96px;
}

.level_list {
    width: 1175px;
    height: 343px;
    margin: 0 auto;
    position: relative;
}

.level_list li {
    position: absolute;
    width: 233px;
    height: 241px;
    background-size: 100% 100%;

}

.level_list li:nth-child(1) {
    background-image: url("../img/competeCenter/1.png");
    left: 471px;
    top: 0;
}

.level_list li:nth-child(2) {
    background-image: url("../img/competeCenter/2.png");
    left: 942px;
    top: 102px;
}

.level_list li:nth-child(3) {
    background-image: url("../img/competeCenter/2.png");
    left: 1342px;
    top: 102px;
}

.level_list li:nth-child(4) {
    background-image: url("../img/competeCenter/2.png");
    left: 1542px;
    top: 102px;
}

.level_list li p {
    text-align: center;
}

.level_list li p:first-child {
    line-height: 84px;
    height: 84px;
    color: #fef73b;
    font-size: 30px;
}

.level_list li p:last-child {
    line-height: 157px;
    height: 157px;
    font-size: 30px;
    color: #fff;
}

.level_list li i {
    display: inline-block;
    width: 20px;
    height: 27px;
    background: url("../img/competeCenter/coin_little.png") 100% 100% no-repeat;
}

.opacity0 {
    opacity: 0;
}

.level_list > .move_class:nth-child(1) {
    animation: levelMove1 1s;
    -webkit-animation: levelMove1 1s; /* Safari 和 Chrome */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.level_list > .move_class:nth-child(2) {
    animation: levelMove2 1s;
    -webkit-animation: levelMove2 1s; /* Safari 和 Chrome */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.level_list > .move_class:nth-child(3) {
    animation: levelMove3 1s;
    -webkit-animation: levelMove3 1s; /* Safari 和 Chrome */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.level_list > .move_class:nth-child(4) {
    animation: levelMove4 1s;
    -webkit-animation: levelMove4 1s; /* Safari 和 Chrome */
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes levelMove1 {
    from {
        left: 471px;
        top: 0;
    }
    to {
        left: 0;
        top: 102px;

    }
}

@-webkit-keyframes levelMove1 {
    from {
        left: 471px;
        top: 0;
    }
    to {
        left: 0;
        top: 102px;

    }
}

@keyframes levelMove2 {

    from {
        left: 942px;
        top: 102px;
    }
    to {
        left: 471px;
        top: 0;
    }
}

@-webkit-keyframes levelMove2 {
    from {
        left: 942px;
        top: 102px;
    }
    to {
        left: 471px;
        top: 0;
    }
}

@keyframes levelMove3 {
    /*left: 942px;*/
    /*top: 102px;*/
    from {
        left: 1342px;
        top: 102px;

    }
    to {
        left: 942px;
        top: 102px;
    }
}

@-webkit-keyframes levelMove3 {
    from {
        left: 1342px;
        top: 102px;

    }
    to {
        left: 942px;
        top: 102px;
    }
}

@keyframes levelMove4 {
    from {
        left: 1542px;
        top: 102px;

    }
    to {
        left: 1342px;
        top: 102px;
    }
}

@-webkit-keyframes levelMove4 {
    from {
        left: 1542px;
        top: 102px;

    }
    to {
        left: 1342px;
        top: 102px;
    }
}

.level_list .car {
    background-image: url("../img/competeCenter/police_car.png");
    width: 251px;
    height: 176px;
    position: absolute;
    left: 460px;
    top: 218px;
    cursor: pointer;
}

/*背景灯光*/
.city_light {
    position: fixed;
    left: 0;
    top: 5.85651537335286vw;
    width: 100vw;
    height: 30vw;
    background: url(../img/competeCenter/city_light.png) repeat;
    background-size: 100vw 100%;
    animation: 50s bgMove1 linear infinite;
    -webkit-animation: 50s bgMove1 linear infinite;
}

@keyframes bgMove1 {
    form {
        background-position-x: 0;
    }
    to {
        background-position-x: -100vw;
    }
}

@-webkit-keyframes bgMove1 {
    form {
        background-position-x: 0;
    }
    to {
        background-position-x: -100vw;
    }
}

/*第三层背景*/
.build_third {
    position: fixed;
    left: 0;
    top: 18.856515vw;
    width: 100vw;
    height: 18vw;
    background: url(../img/competeCenter/build_third.png) repeat;
    background-size: 100vw 100%;
    animation: 40s bgMove1 linear infinite;
    -webkit-animation: 40s bgMove1 linear infinite;
}

/*第二层背景*/
.build_second {
    position: fixed;
    left: 0;
    top: 10.856515vw;
    width: 100vw;
    height: 25vw;
    background: url(../img/competeCenter/build_second.png) repeat;
    background-size: 100vw 100%;
    animation: 30s bgMove1 linear infinite;
    -webkit-animation: 30s bgMove1 linear infinite;
}

/*第一层背景*/
.build_fist {
    position: fixed;
    left: 0;
    top: 26.856515vw;
    width: 100vw;
    height: 10vw;
    background: url(../img/competeCenter/build_fist.png) repeat;
    background-size: 100vw 100%;
    animation: 20s bgMove1 linear infinite;
    -webkit-animation: 20s bgMove1 linear infinite;
}

.model_area {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
}
/*规则*/

.rule_area .inner{
    width: 866px;
    height: 505px;
    margin: 200px auto 0;
    position: relative;
    background-image: url("../img/competeCenter/bu_gonglue.png");
    background-size: 100% 100%;
    padding-top: 1px;
}
.rule_area .inner .close{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 91px;
    top: 0px;
}
.rule_area .inner .title{
    width: 123px;
    height: 36px;
    margin: 86px auto 0;
    background-image: url("../img/competeCenter/chuangguan_gonglue.png");
    background-size: 100% 100%;
}
.rule_area .inner p{
    width: 650px;
    font-size: 18px;
    color: #75431f;
    margin: 50px auto 0;
    line-height: 23px;
}
