/* 整体布局搭建 */
html {
    /* 控制字体大小 小 8px 中 10px 大 12px */
    font-size: 9px;
}
.container {
    position: relative;
    background: #EFEFEF !important;
}
.container .content {
    width: 77vw;
    padding: 0 62px 10px;
    background: white;
}
.container .bar {
    position: fixed !important;
    top: 56px;
    right: 1vw;
    width: 18vw;
    background: white;
}

.clearfix:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}

/* header样式 */
.content {
    position: relative;
    border-top: 1px solid transparent;
}
.content .score {
    position: absolute;
    top: 25px;
    right: 50px;
    height: 88px;
    line-height: 88px;
    padding: -1px 4px;
    border-bottom: 5px solid #d93822;
    font-size: 80px;
    color: #d93822;
    transform: rotate(10deg);
}
.content header .title {
    height: 38px;
    margin: 54px auto;
    text-align: center;
    font-size: 3.8rem;
}
.content header .tips {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #dddddd;
}
.tips .username, .tips .username span {
    font-size: 2.2rem;
}


.tips .font-size span:first-child {
    font-size: 17.6px;
    font-weight: 900;
}
.tips .font-size span:nth-child(2) {
    margin-left: 3px;
    font-size: 22px;
}
.tips .font-size span:last-child {
    margin-left: 3px;
    font-size: 26.4px;
}


/* 试卷题目样式 */
.main {
    width: 80%;
    margin: 28px auto 0;
    background: white;
}
.main .description {
    font-size: 2.2rem;
    font-weight: 900;
}
/* 题目公共样式 */
.main .question {
    margin: 10px auto;
    padding: 26px 0 0 0;
}
.main .question .title {
    margin-bottom: 28px;
    padding-left: 54px;
    font-size: 2.2rem;
}
.main .question .el-radio {
    position: relative;
}
.main .question .icon-dui1 {
    position: absolute;
    right: 20px;
    color: #37aa57;
}
.main .question .answer-area {
    /*margin-top: 22px;*/
    position: relative;
    padding:20px 0 20px 54px;
    background: white;
}
.main .question .answer-area .collection {
    position: absolute;
    left: 90%;
    text-align: left;
    top: 40px;
    font-size: 1.6rem;
}
.main .question .answer-area .collection i {
    margin-right: 5px;
    color: #dddddd;
    font-size: 1.6rem;
}
.main .question .answer-area::before {
    content:'.';
    height: 0;
    width: 77vw;
    margin-left: -14vw;
    margin-bottom: 20px;
    display: block;
    border: 1px dashed #dddddd;
}
.main .question .answer-area i {
    color: #dddddd;
}
.main .question .answer-area .answer-text {
    margin-top: 16px;
    font-size: 1.6rem;
    color: #999999;
}
.main .question .answer-area .answer-text span {
    font-size: 1.6rem;
    color: #333333;
}
.main .question .answer-area .text {
    margin-top: 16px;
}
.main .question .diff {
    margin-left: 14px;
    font-size: 1.6rem !important;
    color: #ff6600;
}
.main .question .answer-area .icon-shoucang1 {
    margin-right: 6px;
    font-size: 1.6rem;
}
.main .question .gray {
    width: 150%;
    height: 16px;
    margin-left: -240px;
    margin-right: -240px;
    background: #EFEFEF;
}
.main .question .answer-area p, .main .question .answer-area span {
    font-size: 2rem;
    background: white;
}
/* 题目样式 */
.el-radio-group {
    width: 100%;
}
.content .main div.question .el-checkbox {
    margin-bottom: 5px;
}
/*.content .main div.question .el-checkbox-group {
    background: #1381E3;
}*/
.one-option label.el-radio, .multi-options label.el-checkbox, .checking label.el-radio {
    display: block;
    margin-left: 0;
    margin-bottom: 5px;
    padding-left: 54px;
    height: 52px;
    line-height: 52px;
}
.one-option .el-radio__label, .multi-options .el-checkbox__label, .checking .el-radio__label {
    font-size: 2rem;
}
/* 主观题样式 */
.main .expressing .button {
    float: right;
    margin-top: 10px;
}
.main .expressing .el-textarea {
    padding-left: 55px;
}
.main .expressing textarea {
    min-height: 100px !important;
    background: #fbfcfe;
}
.main .expressing .title .title {
    padding-left: 15px;
}
/* bar 样式 */
.bar .category {
    width: 50%;
    margin: 20px auto;
}
.bar .time {
    width: 100%;
    margin: 30px auto 0;
    padding-bottom: 25px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.bar .duration .consumed-time {
    font-size: 1.9rem;
    color: #1381e3;
}
.bar .time .duration {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 11px;
}
.bar .time .duration>span {
    display: block;
    margin-top: 25px;
}
.bar .time .duration>span span {
    padding: 8px;
    background: #1b1b1b;
    border-radius: 2px;
    color: white;
}
.bar .category li {
    height: 50px;
    text-align: center;
}
.bar .category li:last-child {
    height: 45px;
}
.bar .category li a {
    position: relative;
    color: black;
    font-size: 1.6rem;
}
.bar .category .icon-biaodiandidian {
    display: none;
    position: absolute;
    left: -30px;
    top: 0px;
    color: #1381e3;
    font-size: 20px;
}
.bar .buttons {
    width: 100%;
    padding-top: 21px;
    padding-left: 90px;
    border-top: 1px solid #dddddd;
}
.bar .buttons .el-button {
    display: block;
    width: 160px;
    margin-left: 0 !important;
    margin-bottom:6px;
}
.bar .display {
    width: 100%;
    padding: 20px 0 20px 0;
    border-top: 1px solid #dddddd;
}
.bar .display .number {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.bar .display .right-num, .bar .display .error-num {
    display: inline-block;
    margin-top: 20px;
    padding: 0 60px;
    color: black;
}
.bar .display .right-num {
    border-right: 1px solid #dddddd;
}
.bar .display .right-num span, .bar .display .error-num span {
    display: block;
    font-size: 2.2rem;

}
.bar .display .green {
    color: green;
}
.bar .display .red {
    color: red;
}

/* toggle 公共样式 */
.el-radio.is-checked {
    background: #e1f1ff;
}
.el-checkbox.is-checked {
    background: #e1f1ff;
}
.done-something {
    color: #1381e3 !important;
}
.question-background {
    margin: 22px auto;
    background: #f2f9ff;
}
.right {
    color: #37aa57;
}
.err {
    color: #fb1515 !important;
}
.right-answer {
    background: #e3fff1;
}
.light {
    color: #ff6600 !important;
}
div.answer_area i.gray {
    color: #999999 !important;
}
.favorite {
    color: #ff6600 !important;
    font-size: 1.6rem !important;
}
.items a.finished {
    background: #3dff02;
    color: #1381E3;
}

.items a.submit {
    background: #ff2916;
    color: #050303;
}
