<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawschool.dao.bbs.PostCollectionDao">

    <select id="queryPostIdList" resultType="string">
        SELECT
        post_id
        FROM law_post_collection
        <where>
            user_id = #{userId}
        </where>
    </select>

    <delete id="deleteByUserId" parameterType="string">
        DELETE FROM law_post_collection
        <where>
            user_id = #{userId}
        </where>
    </delete>

    <delete id="deleteByPostId">
        DELETE FROM law_post_collection
        WHERE post_id IN
        <foreach collection="list" index="index" item="item" open=" (" separator="," close=") ">
            #{item}
        </foreach>
    </delete>

    <insert id="insert">
		INSERT INTO law_post_collection
			(id,
			post_id,
			user_id
			)
		VALUES
			(#{id},
			#{postId},
			#{userId}
			)
	</insert>

    <delete id="deleteBatchByUserId">
        DELETE FROM law_post_collection
        WHERE a.user_id in
        <foreach collection="list" index="index" item="item" open=" (" separator="," close=") ">
            #{item}
        </foreach>
    </delete>

    <select id="findMyCollection" resultType="Integer">
        SELECT
            COUNT (*) num
        FROM
            law_post_collection
        WHERE
            user_id = #{userId}
    </select>

    <select id="findList" parameterType="com.lawschool.form.CollectionPostForm" resultType="com.lawschool.form.CollectionPostForm">
        SELECT
            a.id AS "id",
            u.user_name AS "userName",
            a.content AS "content",
            a.subordinate_column AS "subordinateColumn",
            a.collection_num AS "collectionNum",
            a.comment_num AS "commentNum",
            a.report_num AS "reportNum",
            a.create_time AS "createTime"
        FROM
            law_post_collection pc
            INNER JOIN law_post a ON pc.post_id = a.id
            INNER JOIN law_user u ON u.id = a.create_user
        <where>
            pc.user_id = #{userId}
            <if test="subordinateColumn != null and subordinateColumn != ''">
                AND a.subordinate_column = #{subordinateColumn}
            </if>
        </where>
    </select>
</mapper>