<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>
    .daliy .el-dialog__body {
        background: #f2f9ff;
    }

    .daliy .el-dialog__body {
        padding: 34px 44px;
    }

    .daliy_title {
        line-height: 28px;
        font-size: 20px;
        color: #2a2a2a;
        margin-bottom: 20px;
    }

    .daliy_title span {
        display: inline-block;
        background: #f3eee8;
        color: #ff9019;
        border: 1px solid #ff9019;
        padding: 6px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 14px;
    }

    .daliy .el-radio {
        display: block;
        line-height: 52px;
    }

    .daliy .el-radio span {
        color: #2a2a2a;
        font-size: 16px;
        line-height: 52px;
    }

    .daliy .is-disabled span {
        color: #2a2a2a !important;
    }

    .daliy .el-radio.is-checked {
        background: #e1f1ff;
    }

    .daliy .el-radio-group {
        display: block;
    }

    .daliy .el-radio + .el-radio {
        margin: 0;
    }

    /*checkbox*/
    .daliy .el-checkbox {
        display: block;
        line-height: 52px;
    }

    .daliy .el-checkbox span {
        color: #2a2a2a;
        font-size: 16px;
        line-height: 52px;
    }

    .daliy .is-disabled span {
        color: #2a2a2a !important;
    }

    .daliy .el-checkbox.is-checked {
        background: #e1f1ff;
    }

    .daliy .el-checkbox-group {
        display: block;
    }

    .daliy .el-checkbox + .el-checkbox {
        margin: 0;
    }

    .daliy .el-button {
        padding: 8px 22px;
        margin: 0 auto;
        display: block;
    }
</style>
<body>
<div id="app" v-cloak>

    <div class="container">
        <el-row :gutter="20" class="content5-1">
            <el-col :span="12">
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="small-box bg-blue">
                            <div class="inner" @click="everyTi()">
                                <h3>每日一题</h3>
                                <div>
                                    <p>{{everyDay}}</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="iconfont icon-ai-book"></i>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>我的任务</h3>
                                <div>
                                    <p>学习任务 <span>{{learnTasks}}</span> 个</p>
                                    <p>练习任务 <span>{{practiceTasks}}</span> 个</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="iconfont icon-renwu2"></i>
                            </div>
                        </div>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="12">
                        <div class="small-box bg-orange">
                            <div class="inner">
                                <h3>我要出题</h3>
                                <div>
                                    <p>----->出题</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="iconfont icon-bi"></i>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="12">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>竞赛中心</h3>
                                <div class="competition">
                                    <p>闯关竞赛到{{chuangguan}}</p>
                                    <p>擂台赛擂主{{leitaiCount}}次</p>
                                    <p>在线比武累计{{onlPkSum}}分</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="iconfont icon-zaixianxuexi"></i>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </el-col>
            <el-col :span="6">
                <el-popover
                        placement="right-end"
                        :title="popoverTitle"
                        width="200"
                        trigger="hover"
                        :content="popoverContent">
                    <div slot="reference" class="box-card">
                        <div class="header pl12">
                            <span>我的考试</span>
                        </div>

                        <el-carousel height="229px" indicator-position="none" @change="carouselChange">
                            <el-carousel-item v-for="(list,index) in examList">
                                <div class="content exam">
                                    <div class="title">
                                        <img src="${rc.contextPath}/statics/img/jiantou.png">
                                        <span>{{index+1}}</span>
                                        <span>{{list.examName}}</span>
                                    </div>
                                    <div class="minContent">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td>考试类型</td>
                                                <td>{{list.examTypeName}}</td>
                                            </tr>
                                            <tr>
                                                <td>开始时间</td>
                                                <td>[{{list.startTime}}]</td>
                                            </tr>
                                            <tr>
                                                <td>结束时间</td>
                                                <td>[{{list.endTime}}]</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <el-button type="primary" style="float:right;" @click="startExam(list.id)">
                                        <i class="iconfont"
                                           style="color: white;padding-right: 5px"
                                        >&#xe68c;
                                        </i>开始考试</el-button>
                                    </div>
                                </div>
                            </el-carousel-item>
                        </el-carousel>

                    </div>
                </el-popover>

            </el-col>
            <el-col :span="6">
                <div class="box-card">
                    <div class="header pl12">
                        <span>学年目标</span>
                    </div>
                    <div class="content target">
                        <div class="target-div clearfix">
                            <div class="left">
                                <i class="iconfont icon-jifen"></i>
                            </div>
                            <div class="right">
                                <div class="title">
                                    <span>学年积分</span>
                                    <span><span>{{yearPlan.integraled || 0}}</span><span>/{{yearPlan.integral}}</span></span>
                                </div>
                                <el-progress :show-text="false" :stroke-width="12"
                                             :percentage="integralPer"
                                             color="rgb(77,180,154)"></el-progress>
                            </div>
                        </div>
                        <div class="target-div clearfix">
                            <div class="left">
                                <i class="iconfont icon-xuefen"></i>
                            </div>
                            <div class="right">
                                <div class="title">
                                    <span>学年学分</span>
                                    <span><span>{{yearPlan.credited || 0}}</span><span>/{{yearPlan.credit}}</span></span>
                                </div>
                                <el-progress :show-text="false" :stroke-width="12"
                                             :percentage="creditPer"
                                             color="#feae23"></el-progress>
                            </div>
                        </div>
                    </div>
                </div>
            </el-col>
        </el-row>

        <el-row :gutter="20" class="content5-2">
            <el-col :span="12">
                <div class="box-card">
                    <div class="header header_special">
                        <span>最新课程</span>
                        <a href="javascript:;" class="more"> 更多>></a>
                    </div>
                    <div class="content lesson">
                        <el-row :gutter="66">
                            <el-col :span="12" v-for="(item, index) in videoData">
                                <el-card :body-style="{ padding: '0px' }">
                                    <video class="video" width="315" height="155" controls preload="none"
                                           :poster="item.videoPicAccUrl" @play="onPlay(item.id,item.comContent)"
                                           @pause="onPause(item.id,$event)">
                                        <source :src="item.contentUrl" type="video/mp4">
                                        您的浏览器不支持视频播放
                                    </video>
                                    <div style="padding: 14px 14px 0 14px;">
                                        <p>
                                            <span class="lawType">{{item.lawType}}</span>
                                            <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                        </p>
                                        <p>
                                            <span class="dept">{{item.stuIssuer}}</span>
                                            <span class="time">{{item.stuIsstime}}</span>
                                        </p>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
            <el-col :span="12">
                <div class="box-card">
                    <div class="header header_special">
                        <span>法律新知</span>
                        <a href="javascript:;" class="more"> 更多>></a>
                    </div>
                    <div class="content fast">
                        <ul>
                            <li v-for="item in newsData">
                                <a href="javascript:;" class="title" @click="goLaw(item.id)">{{item.lawTitle}}</a>
                                <img v-if="item.tipShow" src="${rc.contextPath}/statics/img/new.png">
                                <span class="date">{{item.issueTime}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-col>
        </el-row>

        <el-row class="content5-3">
            <el-col :span="24">
                <div class="box-card boardCard">
                    <div class="header header_special">
                        <span>学情看板</span>
                        <div class="date">
                            <!--<el-form :model="dateRange" :rules="validateactInfo" ref="dateRange">-->
                            <!--<el-form-item prop="startDate">-->
                            <el-date-picker
                                    v-model="dateRange.startDate"
                                    type="date"
                                    size="mini"
                                    placeholder="开始日期">
                            </el-date-picker>
                            <!--</el-form-item>-->
                            至
                            <!--<el-form-item prop="endDate">-->
                            <el-date-picker
                                    v-model="dateRange.endDate"
                                    type="date"
                                    size="mini"
                                    placeholder="结束日期">
                            </el-date-picker>
                            <!--</el-form-item>-->
                            <!--</el-form>-->
                        </div>
                    </div>
                    <div class="content board" style="padding-top: 17px;">
                        <el-row :gutter="20">
                            <el-col :span="6" class="pieArea">
                                <el-tabs type="border-card">
                                    <el-tab-pane label="学习知识点分布">
                                        <div id="pie1" style="width: 300px;height:220px;"></div>
                                    </el-tab-pane>
                                    <el-tab-pane label="练习知识点分布">练习知识点分布</el-tab-pane>
                                </el-tabs>
                            </el-col>
                            <el-col :span="6" class="infoCount">
                                <div class="span-title">学情统计</div>
                                <div class="infoMsg">
                                    <ul>
                                        <li v-for="(item, index) in stuInfo">
                                            <p class="info"><i></i>{{item.name}}:<span>{{item.countTime}}h</span></p>
                                            <p class="contrast">击败了<span>{{item.ratio}}</span>的同事</p>
                                        </li>
                                    </ul>
                                </div>
                            </el-col>
                            <el-col :span="12" class="rate">
                                <div class="span-title">练习正确率</div>
                                <div id="bar1" style="width: 640px;height:220px;"></div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
        </el-row>

        <el-row :gutter="20" v-if="false">
            <el-col :span="4">
                <!--对于同一级的节点，每次只能展开一个-->
                <el-tree
                        :data="data"
                        :props="defaultProps"
                        accordion
                        @node-click="handleNodeClick">
                </el-tree>
            </el-col>
            <el-col :span="20">
                <el-tabs type="border-card">
                    <el-tab-pane label="检索">
                        <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
                            <el-form-item prop="region">
                                <el-select v-model="formInline.region" placeholder="单选" size="mini" clearable>
                                    <el-option label="区域一" value="shanghai"></el-option>
                                    <el-option label="" value="beijing">区域二</el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item prop="user">
                                <el-input v-model="formInline.user" placeholder="提示" size="mini" clearable></el-input>
                            </el-form-item>
                            <el-form-item prop="chooseDate" label="选择日期">
                                <el-date-picker
                                        v-model="formInline.chooseDate"
                                        type="date"
                                        size="mini"
                                        placeholder="选择日期">
                                </el-date-picker>
                            </el-form-item>
                            <el-form-item prop="value11">
                                <el-select
                                        v-model="formInline.value11"
                                        size="mini"
                                        multiple
                                        collapse-tags
                                        style="margin-left: 20px;"
                                        placeholder="多选">
                                    <el-option
                                            v-for="item in formInline.options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit" size="mini">查询</el-button>
                                <el-button @click="resetForm('formInline')" size="mini">重置</el-button>
                            </el-form-item>
                        </el-form>
                        <div>
                            <el-table
                                    :data="tableData"
                                    border
                                    style="width: 100%">
                                <el-table-column
                                        prop="date"
                                        label="日期"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="name"
                                        label="姓名"
                                        width="180">
                                </el-table-column>
                                <el-table-column
                                        prop="address"
                                        label="地址">
                                </el-table-column>
                            </el-table>
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="currentPage4"
                                    :page-sizes="[100, 200, 300, 400]"
                                    :page-size="100"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="400">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="高级检索">高级检索</el-tab-pane>
                    <el-tab-pane label="专业检索">专业检索</el-tab-pane>
                    <el-tab-pane label="内容检索">内容检索</el-tab-pane>
                    <el-tab-pane label="句子检索">句子检索</el-tab-pane>
                </el-tabs>
            </el-col>
        </el-row>

        <!--<div>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;表单验证-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</div>-->
        <!--<ol>-->
            <!--<li>输入框控制输入长度：最大输入长度maxlength='40',最小输入长度minlength</li>-->
            <!--<li>是否可清空:clearable,禁用:disabled,只读:readonly</li>-->
            <!--<li>当一个 form 元素中只有一个输入框时，在该输入框中按下回车应提交该表单。如果希望阻止这一默认行为，可以在 'el-form' 标签上添加 @submit.native.prevent。</li>-->
            <!--<li>model:表单数据对象,rules:表单验证规则,size:用于控制该表单内组件的尺寸medium / small / mini,prop:表单域 model 字段</li>-->
            <!--<li>表单重置:一、el-form 加ref属性，二、el-form-item 加prop属性</li>-->
            <!--<li>表单验证:一、-->
                <!--属性为验证规则，二、el-form-item 加prop属性设置为需校验的字段名即可-->
            <!--</li>-->
        <!--</ol>-->
        <!--&lt;!&ndash;表单验证&ndash;&gt;-->
        <!--<el-row>-->
            <!--<el-col :span="12">-->
                <!--<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"-->
                         <!--size="mini">-->
                    <!--<el-form-item label="上级菜单" prop="parentName">-->
                        <!--<el-popover-->
                                <!--ref="menuListPopover"-->
                                <!--placement="bottom-start"-->
                                <!--trigger="click"-->
                                <!--v-model="ruleForm.visible">-->
                            <!--<el-tree-->
                                    <!--:data="ruleForm.menuList"-->
                                    <!--:props="ruleForm.menuListTreeProps"-->
                                    <!--node-key="ruleForm.menuId"-->
                                    <!--ref="ruleForm.menuListTree"-->
                                    <!--@current-change="menuListTreeCurrentChangeHandle"-->
                                    <!--:default-expand-all="true"-->
                                    <!--:highlight-current="true"-->
                                    <!--:expand-on-click-node="false">-->
                            <!--</el-tree>-->
                            <!--<el-input v-model="ruleForm.parentName" v-popover:menuListPopover slot="reference"-->
                                      <!--:readonly="true" placeholder="点击选择上级菜单"></el-input>-->
                        <!--</el-popover>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="活动名称" prop="name">-->
                        <!--<el-input v-model="ruleForm.name" placeholder="提示语句" clearable></el-input>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="正则表达式" prop="phone">-->
                        <!--<el-input v-model="ruleForm.phone" placeholder="提示语句" clearable></el-input>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="活动区域" prop="region">-->
                        <!--<el-select v-model="ruleForm.region" placeholder="请选择活动区域">-->
                            <!--<el-option label="区域一" value="shanghai"></el-option>-->
                            <!--<el-option label="区域二" value="beijing"></el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="活动时间" required>-->
                        <!--<el-col :span="11">-->
                            <!--<el-form-item prop="date1">-->
                                <!--<el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date1"-->
                                                <!--style="width: 100%;"></el-date-picker>-->
                            <!--</el-form-item>-->
                        <!--</el-col>-->
                        <!--<el-col class="line" :span="2">-</el-col>-->
                        <!--<el-col :span="11">-->
                            <!--<el-form-item prop="date2">-->
                                <!--<el-time-picker type="fixed-time" placeholder="选择时间" v-model="ruleForm.date2"-->
                                                <!--style="width: 100%;"></el-time-picker>-->
                            <!--</el-form-item>-->
                        <!--</el-col>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="日期区间" prop="value6">-->
                        <!--<el-date-picker-->
                                <!--v-model="ruleForm.value6"-->
                                <!--type="daterange"-->
                                <!--range-separator="至"-->
                                <!--start-placeholder="开始日期"-->
                                <!--end-placeholder="结束日期">-->
                        <!--</el-date-picker>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="日期区间">-->
                        <!--<el-col :span="11">-->
                            <!--<el-form-item prop="startDate">-->
                                <!--<el-date-picker-->
                                        <!--v-model="ruleForm.startDate"-->
                                        <!--type="date"-->
                                        <!--placeholder="开始日期">-->
                                <!--</el-date-picker>-->
                            <!--</el-form-item>-->
                        <!--</el-col>-->
                        <!--<el-col class="line" :span="2">至</el-col>-->
                        <!--<el-col :span="11">-->
                            <!--<el-form-item prop="endDate">-->
                                <!--<el-date-picker-->
                                        <!--v-model="ruleForm.endDate"-->
                                        <!--type="date"-->
                                        <!--placeholder="结束日期">-->
                                <!--</el-date-picker>-->
                            <!--</el-form-item>-->
                        <!--</el-col>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="即时配送" prop="delivery">-->
                        <!--<el-switch v-model="ruleForm.delivery"></el-switch>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="活动性质" prop="type">-->
                        <!--<el-checkbox-group v-model="ruleForm.type">-->
                            <!--<el-checkbox label="美食/餐厅线上活动" name="type"></el-checkbox>-->
                            <!--<el-checkbox label="地推活动" name="type"></el-checkbox>-->
                            <!--<el-checkbox label="线下主题活动" name="type"></el-checkbox>-->
                            <!--<el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>-->
                        <!--</el-checkbox-group>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="特殊资源" prop="resource">-->
                        <!--<el-radio-group v-model="ruleForm.resource">-->
                            <!--<el-radio label="线上品牌商赞助"></el-radio>-->
                            <!--<el-radio label="线下场地免费"></el-radio>-->
                        <!--</el-radio-group>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="活动形式" prop="desc">-->
                        <!--<el-input type="textarea" maxlength="200" v-model="ruleForm.desc"></el-input>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item>-->
                        <!--<el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>-->
                        <!--<el-button size="mini" @click="resetForm('ruleForm')">-->
                            <!--<i class="iconfont icon-tableresetpassword"></i>-->
                            <!--重置</el-button>-->
                    <!--</el-form-item>-->
                <!--</el-form>-->
            <!--</el-col>-->
        <!--</el-row>-->

        <el-button v-if="false" type="primary" @click="handleAdd" size="mini">新增</el-button>
        <el-button v-if="false" type="danger" @click="handleDelete()"
                   :disabled="dataListSelections.length <= 0" size="mini">批量删除
        </el-button>
        <el-table v-if="false"
                  :data="data11"
                  height="250"
                  border
                  style="width: 100%"
                  @selection-change="selectionChangeHandle">
            <el-table-column
                    type="selection"
                    header-align="center"
                    align="center"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="题型"
                    width="180">
                <template slot-scope="scope">
                    <el-select v-model="scope.row.type" placeholder="请选择" size="mini" clearable>
                        <el-option
                                v-for="item in typeOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-table-column>
            <el-table-column
                    prop="num"
                    label="数量"
                    width="180">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.num" placeholder="请输入内容" size="mini" clearable></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    prop="score"
                    label="分值">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.score" placeholder="请输入内容" size="mini" clearable></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center"
                    width="180">
                <template slot-scope="scope">
                    <el-button
                            plain
                            type="danger"
                            size="mini"
                            @click="handleDel(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>


        <el-button v-if="false" type="text" @click="open2">简易提示框</el-button>

        <!-- Table -->
        <el-button v-if="false" type="text" @click="dialogTableVisible = true">打开嵌套表格的 Dialog</el-button>

        <el-dialog v-if="false" title="收货地址" :visible.sync="dialogTableVisible">
            <el-table :data="tableData">
                <el-table-column property="date" label="日期" width="150"></el-table-column>
                <el-table-column property="name" label="姓名" width="200"></el-table-column>
                <el-table-column property="address" label="地址"></el-table-column>
            </el-table>
        </el-dialog>

        <!-- Form -->
        <el-button v-if="false" type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>


        <el-popover v-if="false"
                    placement="top-start"
                    :title="popover.title"
                    width="200"
                    trigger="hover"
                    :content="popover.content">
            <el-button slot="reference">hover 激活</el-button>
        </el-popover>
        <p v-if="false">
            <a href="http://www.iconfont.cn/manage/index?spm=a313x.7781069.1998910419.11&manage_type=myprojects&projectId=947370&keyword=">iconfont图标：</a>
            <i class="iconfont icon-testing-mouse"></i>
        </p>

        <p v-if="false">
            <a href="http://element-cn.eleme.io/#/zh-CN/component/icon">element - icon:</a>
            <br>
            <i class="el-icon-info"></i>
            <el-button type="primary" icon="el-icon-search">搜索</el-button>
        </p>
        <div v-if="false" class="m">
            <video id="my-video" class="video-js" controls preload="auto" width="960" height="400" data-setup="{}">
                <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
                <p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web
                    browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                        video</a></p>
            </video>
        </div>
        <el-dialog v-if="false" title="收货地址" :visible.sync="dialogFormVisible">
            <el-form :model="ruleForm">
                <el-form-item label="名称" :label-width="formLabelWidth">
                    <el-input v-model="ruleForm.name" autocomplete="off" placeholder="请选择活动名称" clearable></el-input>
                </el-form-item>
                <el-form-item label="活动区域" :label-width="formLabelWidth">
                    <el-select v-model="ruleForm.region" placeholder="请选择活动区域" clearable>
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
            </div>
        </el-dialog>
    </div>
    <el-dialog class="daliy" title="每日一题" :visible.sync="dialogyes" :close-on-click-modal="false">
        <div>
            {{textmag}}
            <p class="daliy_title"><span>{{questionForm.questionType==10004?'单选题':questionForm.questionType==10005?'多选题':'判断题'}}</span>
                题目：{{questionForm.comContent}}</p>
            <!--单选 与判断-->
            <el-radio-group v-model="answers"
                            v-if="questionForm.questionType==10004 || questionForm.questionType==10006"
                            :disabled="radio_disabled">
                <el-radio :label="answer.id" v-for="answer in questionForm.answer"
                          @change="radioCheck(answer.id, questionForm.answerId, questionForm.questionType)">
                    {{answer.questionContent}}
                </el-radio>
                <br/>
            </el-radio-group>


            <!--多选题-->

            <el-checkbox-group v-model="answers" v-if="questionForm.questionType==10005">
                <el-checkbox :label="answer.id" v-for="answer in questionForm.answer" :disabled="checkboxdisabled">
                    {{answer.questionContent}}
                </el-checkbox>
                <br/>
            </el-checkbox-group>

            <el-button type="primary" :disabled="checkboxdisabled" v-if="questionForm.questionType==10005"
                       @click="onSubmit(questionForm.answerId)">提交
            </el-button>


            <!--<el-button type="primary" v-if="questionForm.questionType==10005" @click="onSubmit(questionForm.answerId)">提交</el-button><br/>-->
            <br/>
            <span v-show="showDetail">
                <span v-show="answerShow">答案描述：{{questionForm.answerDescrible}}</span><br/>
                <span v-show="legalBasisShow">法律依据：{{questionForm.legalBasis}}</span><br/>
                <!--<span>题目难度：{{questionForm.questionDifficulty}}</span>-->
            </span>
        </div>
    </el-dialog>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/container.js?_${.now?long}"></script>
<script>
    $(function () {
        // $('#app').css('background','#f00')
    })
</script>
</html>
