<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel = "Shortcut Icon" href="${rc.contextPath}/statics/img/favicon.ico">
    <!--<link rel="stylesheet" href="${rc.contextPath}/statics/plugins/froala_editor/css/font-awesome.min.css">-->

    <!-- 引入element-ui样式 -->
    <link rel="stylesheet" href="${rc.contextPath}/statics/plugins/element/element.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/login.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script>
        //document.createElement('video');
    </script>
    <![endif]-->
    <!--<script src="/statics/js/common.js"></script>-->
</head>
<body class="hold-transition login-page">


<div class="login-box" id="rrapp" v-cloak>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <el-row :gutter="30">
            <el-col :span="10" class="pull-left">
                <div class="left-con">
                    <p><img src="${rc.contextPath}/statics/img/logo_login.png"></p>
                    <p class="logintit">江苏省公安机关<br>网上法律学校</p>
                </div>
            </el-col>
            <el-col :span="14" class="pull-right">
                <div class="right-con">
                    <el-tabs v-model="activeName" @tab-click="handleClick">
                        <el-tab-pane label="密码登录" name="password">
                            <div>
                                <!--<div v-if="error" class="alert alert-danger alert-dismissible">-->
                                <!--<h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>-->
                                <!--</div>-->
                                <div class="form-group has-feedback">
                                    <el-input prefix-icon="el-icon-search" v-model="username" placeholder="账号" clearable></el-input>
                                </div>
                                <div class="form-group has-feedback">
                                    <el-input prefix-icon="el-icon-search" v-model="password" type="password" placeholder="密码" clearable></el-input>
                                </div>
                                <!--<div class="form-group has-feedback">-->
                                    <!--<el-row :gutter="20">-->
                                        <!--<el-col :span="14">-->
                                            <!--<el-input prefix-icon="el-icon-search" v-model="captcha" placeholder="验证码" @keyup.enter="login" clearable></el-input>-->
                                        <!--</el-col>-->
                                        <!--<el-col :span="10" class="login-captcha">-->
                                            <!--<img :src="src" alt="">-->
                                        <!--</el-col>-->
                                    <!--</el-row>-->
                                    <!--&lt;!&ndash;<input type="text" class="form-control" v-model="captcha" @keyup.enter="login"&ndash;&gt;-->
                                    <!--&lt;!&ndash;placeholder="验证码">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="form-group has-feedback">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">&ndash;&gt;-->
                                    <!--&lt;!&ndash;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode">点击刷新</a>&ndash;&gt;-->
                                <!--</div>-->
                                <div class="form-group has-feedback row" style="margin-bottom: 0;">
                                    <div class="col-lg-12">
                                        <el-checkbox v-model="checked" style="padding-left: 0px;margin-bottom: 10px">记住用户名</el-checkbox>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <!--<div class="col-lg-12">-->
                                        <el-button class="login-btn" @click="login">登录</el-button>
                                        <!--<button type="button" class="btn login-key btn-primary btn-block btn-flat" @click="login">登录</button>-->
                                    <!--</div>-->
                                    <!-- /.col -->
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="证书登陆" name="certificate">
                            <div>
                                <p class="credit-word">请插入数字证书完成登录</p>
                                <p>
                                    <img src="${rc.contextPath}/statics/img/zhengshu_left.png">
                                    <img src="${rc.contextPath}/statics/img/zhengshu_right.png">
                                </p>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </el-col>
        </el-row>

        <!-- /.social-auth-links -->
    </div>
    <!--<div class="footer">-->
        <!--<span>CopyRight @2018 STATE ADMINISTRATION OF WORK SAFETY ALL Rights Reserved</span>-->
    <!--</div>-->
    <!-- /.login-box-body -->
</div>

<!--<p class="login-browser-msg">本系统建议使用Chrome浏览器，点击 <a href="https://sm.myapp.com/original/Browser/69.0.3497.92_chrome_installer_x64.exe">下载</a></p>-->
<!-- /.login-box -->
<!--<script src="${rc.contextPath}/statics/plugins/IE9/html5shiv.min.js"></script>-->
<!--<script src="${rc.contextPath}/statics/plugins/IE9/respond.min.js"></script>-->
<script src="${rc.contextPath}/statics/plugins/jQuery/jquery-1.11.2.min.js"></script>
<!--dev -->
<script src="${rc.contextPath}/statics/plugins/vue/Vue.v2.5.17.dev.js"></script>

<!--prod -->
<!--<script src="${rc.contextPath}/statics/plugins/vue/Vue.v2.5.17.prod.js"></script>-->

<!-- 引入element-ui组件库 -->
<script src="${rc.contextPath}/statics/plugins/element/element.js"></script>
<script src="${rc.contextPath}/statics/plugins/layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        if(top!=self){
            if(top.location != self.location)
                top.location=self.location;
        }

        //页面初始化时，如果帐号密码cookie存在则填充
        if(getCookie('username') && getCookie('password')){
            vm.username = getCookie('username');
            vm.password = getCookie('password');
            vm.checked = true;
        }

        //复选框勾选状态发生改变时，如果未勾选则清除cookie
        $(".el-checkbox input").on("change", function (){
            if ($(".el-checkbox input[type='checkbox']").is(':checked') == true) {
                setCookie('username',vm.username,7); //保存密码到cookie，有效期7天
                setCookie('password',vm.password,7); //保存帐号到cookie，有效期7天
            } else {
                delCookie('username');
                delCookie('password');
            }
        });
        $("body").keydown(function() {
            var theEvent = window.event || arguments.callee.caller.arguments[0]; //谷歌能识别event，火狐识别不了，所以增加了这一句，chrome浏览器可以直接支持event.keyCode
            var code = theEvent.keyCode;
            if (code == "13") {//keyCode=13是回车键
                $('.login-key').click();
            };

        });
    });
    //设置cookie
    function setCookie(name,value,day){
        var date = new Date();
        date.setDate(date.getDate() + day);
        document.cookie = name + '=' + value + ';expires='+ date;
    };
    //获取cookie
    function getCookie(name){
        var reg = RegExp(name+'=([^;]+)');
        var arr = document.cookie.match(reg);
        if(arr){
            return arr[1];
        }else{
            return '';
        }
    };
    //删除cookie
    function delCookie(name){
        setCookie(name,null,-1);
    };


    var vm = new Vue({
        el:'#rrapp',
        data:{
            username: '',
            password: '',
            captcha: '',
//		error: false,
//		errorMsg: '',
            checked: false,
            src: 'captcha.jpg',
            activeName: 'password'
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        methods: {
            handleClick: function (tab, event) {
                console.log(tab, event);
            },
            refreshCode: function(){
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function (event) {
                var data = "username="+vm.username+"&password="+vm.password+"&captcha="+vm.captcha;
                if ($(".el-checkbox input[type='checkbox']").is(':checked') == true) {
                    setCookie('username',vm.username,7); //保存密码到cookie，有效期7天
                    setCookie('password',vm.password,7); //保存帐号到cookie，有效期7天
                } else {
                    delCookie('username');
                    delCookie('password');
                }
                $.ajax({
                    type: "POST",
                    url: "sys/login",
                    data: data,
                    dataType: "json",
                    success: function(result){
                        if(result.code == 0){//登录成功
                            parent.location.href ='main.html';
                        }else{
//						vm.error = true;
//						vm.errorMsg = result.msg;
//                             alert(result.msg);
                            vm.$message('提示',result.msg);
//                             layer.alert(result.msg, {
//                                 icon: 0,
//                                 skin: 'layer-ext-moon',
//                                 title: "提示"
//                             });
                            vm.refreshCode();
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>


