<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>练习中心</el-breadcrumb-item>
            <el-breadcrumb-item>组卷练习</el-breadcrumb-item>
        </el-breadcrumb>
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                border>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="练习卷名称"
                    width="280"
                    header-align="center"
                    align="left">
            </el-table-column>
            <el-table-column
                    prop="source"
                    label="来源"
                    header-align="center"
                    align="center">
                <template slot-scope="scope">
                    {{scope.row.source == 0 ? '自定义组卷'
                        : scope.row.source == 1 ? '部门任务'
                        : scope.row.source == 2 ? '我的错题' : '重点试题'}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="练习卷类型"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="已答题量/总题量"
                    header-align="center"
                    align="center"
            >
                <template slot-scope="scope">
                    {{scope.row.answerNum==null?0:scope.row.answerNum}} / {{scope.row.total}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="userName"
                    label="创建人"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center"
            >
                <template slot-scope="scope">
                    <el-popover
                            placement="right-start"
                            width="105"
                            trigger="hover"
                            content="开始练习">
                        <i class="iconfont icon-lianxi" v-if="scope.row.status == null"
                           @click="start(scope.row.id, scope.row.taskId)"
                           slot="reference"
                           style="color: #1381e3;font-size: 20px"
                        >
                        </i>
                    </el-popover>

                    <el-popover
                            placement="right-start"
                            width="105"
                            trigger="hover"
                            content="继续练习">
                        <i class="iconfont icon-lianxi"
                           v-if="scope.row.status == 0"
                           @click="goon(scope.row.id, scope.row.taskId)"
                           slot="reference"
                           style="color: #119e0b;font-size: 20px"
                        >
                        </i>
                    </el-popover>

                    <el-popover
                            placement="right-start"
                            width="105"
                            trigger="hover"
                            content="练习回顾">
                        <i class="iconfont icon-lianxihuigu"
                                style="color: #1381e3;font-size: 20px"
                           v-if="scope.row.status == 1"
                           slot="reference"
                           @click="review(scope.row.id, scope.row.taskId)"
                        >
                        </i>
                    </el-popover>

                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurChange"
                :current-page="formInline.page"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="formInline.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="formInline.count">
        </el-pagination>

    </div>
</div>
</body>
<script src="${rc.contextPath}/js/practiceCen/paper_index.js?_${.now?long}"></script>
</html>