<!DOCTYPE html>
<html lang="en">
<head>
    <title>随机练习</title>
    <#include "/header.html">
</head>
<body>
    <div id="app" v-cloak>
    <div class="header">
        <div class="header-left">
            <img src="${rc.contextPath}/statics/img/logo.png">
            <a href="javascript:;">江苏省公安厅法律学校</a>
        </div>
    </div>
    <div class="container">
        <el-button size="mini" type="primary" @click="addExercise" >随机练习</el-button>
        <br/>
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe>
            <el-table-column
                    prop="createTime"
                    label="练习时间"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    prop="difficulty"
                    label="答题难度"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    prop="classify"
                    label="试题分类"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="试题类型"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    prop="topicType"
                    label="试题主题"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    prop="answerNum"
                    label="总答题数"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    prop="rightNum"
                    label="正确答题数"
                    header-align="center">
            </el-table-column>
            <el-table-column
                    label="正确率"
                    header-align="center">
                <template slot-scope="scope">
                    100%
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center"
                    prop="status">
                <template slot-scope="scope">
                    <el-button
                            plain
                            type="danger"
                            size="mini"
                    >错题回顾
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog :title="title" :visible.sync="dialogConfig" :before-close="closeDia">
            <el-row>
                <el-col :span="12">
                    <el-form :model="exercise" ref="exercise" label-width="100px" class="demo-sysMenu" size="mini">
                        <el-form-item label="试题难度：">
                            <el-radio v-for="item in diffList" v-model="exercise.difficulty" :label="item.key">
                                {{item.value}}
                            </el-radio>
                        </el-form-item>

                        <el-form-item label="试题分类：">
                            <el-radio v-for="item in typeList" v-model="exercise.classify" :label="item.key">{{item.value}}</el-radio>
                        </el-form-item>

                        <el-form-item label="试题类型：">
                            <el-radio v-if="item.value != '主观题'" v-for="item in qtList" v-model="exercise.type" :label="item.key">
                                {{item.value}}
                            </el-radio>
                        </el-form-item>

                        <el-form-item label="主题类型：">
                            <el-select v-model="exercise.topic" placeholder="请选择">
                                <el-option
                                        v-for="item in topicList"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="start()">开始练习</el-button>
                        </el-form-item>

                    </el-form>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</div>
</body>

<script src="${rc.contextPath}/js/practiceCen/random_index.js?_${.now?long}"></script>

</html>