<!DOCTYPE html>
<html lang="en">
<head>
    <title>随机练习</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>练习中心</el-breadcrumb-item>
            <el-breadcrumb-item>随机练习</el-breadcrumb-item>
        </el-breadcrumb>
        <div class="info_btn">
            <el-button size="mini" type="primary" @click="addExercise"><i class="iconfont icon-suiji1"></i>随机练习</el-button>
        </div>

        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                border>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    align="center"
                    :index="indexMethod">
            </el-table-column>
            <el-table-column
                    prop="diffName"
                    width="180"
                    label="答题难度"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="className"
                    label="试题分类"
                    width="100"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="typeName"
                    label="试题类型"
                    width="180"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="topicName"
                    label="试题主题"
                    width="180"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="answerNum"
                    label="总答题数"
                    width="100"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="rightNum"
                    label="正确答题数"
                    header-align="center"
                    width="100"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="正确率"
                    header-align="center"
                    align="center"
                    width="100"
                    :formatter="getRate">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="练习时间"
                    header-align="center"
                    align="center"
                    width="160"
            >
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center"
                    prop="status">
                <template slot-scope="scope">
                    <el-popover
                            placement="right"
                            width="150"
                            trigger="hover"
                            content="点击继续练习">
                        <i class="iconfont icon-lianxi"
                           @click="goon(scope.row.id, scope.row.answerNum)"
                           slot="reference"
                           style="color: #119e0b;cursor: pointer;padding: 0 20px;font-size: 20px"
                        >
                        </i>
                    </el-popover>

                    <el-popover
                            placement="top-start"
                            width="150"
                            trigger="hover"
                            content="错题回顾"
                            v-if="scope.row.answerNum > scope.row.rightNum">
                        <i  class="iconfont icon-cuotiku"
                            slot="reference"
                            style="color: #ff1f14;cursor: pointer;padding: 0 20px;font-size: 20px"
                            @click="review(scope.row.id)"
                        >
                        </i>
                    </el-popover>

                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurChange"
                :current-page="formInline.page"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="formInline.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="formInline.count">
        </el-pagination>

        <el-dialog :title="title" :visible.sync="dialogConfig" :before-close="closeDia">
            <el-row>
                <el-col :span="24">
                    <el-form :model="exercise" ref="exercise" label-width="100px" class="demo-sysMenu" size="mini">
                        <el-form-item label="试题难度：">
                            <el-checkbox-group v-model="diffs">
                                <el-checkbox v-for="item in diffList" :label="item" border>
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="试题分类：">
                            <el-checkbox-group v-model="classs">
                                <el-checkbox v-for="item in typeList" :label="item" border>
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="试题类型：">
                            <el-checkbox-group v-model="types">
                                <el-checkbox v-if="item.value != '主观题'" v-for="item in qtList"
                                             :label="item" border>
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="主题类型：">
                            <el-select multiple collapse-tags v-model="topics" placeholder="请选择">
                                <el-option
                                        v-for="item in topicList"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="saveTask()">开始练习</el-button>
                        </el-form-item>

                    </el-form>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</div>
</body>

<script src="${rc.contextPath}/js/practiceCen/random_index.js?_${.now?long}"></script>

</html>