<!DOCTYPE html>
<html lang="en">
<head>
    <title>练习任务</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item v-for="item in breadArr">{{item.name}}</el-breadcrumb-item>
        </el-breadcrumb>

        <div class="info_card">
            <div class="card_title">
            </div>
            <div class="card_contain">
                <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                    <el-form-item label="任务名称" prop="taskName">
                        <el-input v-model="formInline.taskName" placeholder="任务名称" size="mini" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="开始日期" prop="startTime">
                        <el-date-picker
                                v-model="formInline.startTime"
                                type="date"
                                format="yyyy年MM月dd日"
                                value-format="yyyy-MM-dd"
                                placeholder="开始时间"
                                size="mini"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="结束日期" prop="endTime">
                        <el-date-picker
                                v-model="formInline.endTime"
                                type="date"
                                format="yyyy年MM月dd日"
                                value-format="yyyy-MM-dd"
                                placeholder="结束时间"
                                size="mini"
                        >
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" size="mini">
                            <i class="iconfont icon-sousuo1"></i>
                            查询
                        </el-button>
                        <el-button class="reset_btn" size="mini" @click="resetForm('formInline')">
                            <i class="iconfont icon-tableresetpassword"></i>
                            重置
                        </el-button>

                    </el-form-item>
                </el-form>
            </div>
        </div>
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                border>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    align="center"
                    :index="indexMethod">
            </el-table-column>
            <el-table-column
                    prop="numbers"
                    label="任务编号"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="任务名称"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="themeName"
                    label="专题类型"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="总题/已答题"
                    header-align="center"
                    align="center"
            >
                <template slot-scope="scope">
                    {{scope.row.total}}/{{scope.row.answerNum==null?0:scope.row.answerNum}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="createName"
                    label="创建人"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间"
                    width="200"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center">
                <template slot-scope="scope">
                    <el-popover
                            placement="right"
                            trigger="hover"
                            content="点击开始练习">
                        <i class="iconfont icon-lianxi tabIcon" v-if="scope.row.status == null"
                           @click="start(scope.row)"
                           slot="reference"
                           style="color: #1381e3;font-size: 20px"
                        >
                        </i>
                    </el-popover>
                    <el-popover
                            placement="right"
                            trigger="hover"
                            content="继续练习">
                        <i class="iconfont icon-lianxi tabIcon"
                           v-if="scope.row.status == 0"
                           @click="start(scope.row)"
                           slot="reference"
                           style="color: #119e0b;font-size: 20px"
                        >
                        </i>
                    </el-popover>
                    <el-popover
                            placement="right"
                            trigger="hover"
                            content="错题回顾"
                            v-if="scope.row.answerNum > scope.row.rightNum">
                        <i  class="iconfont icon-cuotiku tabIcon"
                            slot="reference"
                            style="color: #ff1f14;font-size: 20px"
                            @click="review(scope.row)"
                        >
                        </i>
                    </el-popover>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurChange"
                :current-page="formInline.page"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="formInline.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="formInline.count">
        </el-pagination>

    </div>
</div>
<script src="${rc.contextPath}/js/practiceCen/task_index.js?_${.now?long}"></script>
</body>
</html>
