<!DOCTYPE html>
<html lang="en">
<head>
    <title>练习任务配置（部门）</title>
    <#include "/header.html">
</head>
<body>
    <div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>练习管理</el-breadcrumb-item>
            <el-breadcrumb-item>部门任务设置</el-breadcrumb-item>
        </el-breadcrumb>

        <div class="info_btn">
            <el-button size="mini" type="primary" @click="addConfigure"><i class="iconfont icon-htmal5icon18"></i>新增配置</el-button>
        </div>
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                border>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="任务名称"
                    width="290"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="themeName"
                    label="主题类型"
                    width="160"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="题目类型"
                    width="160"
                    header-align="center"
                    align="center" :formatter="getType">
            </el-table-column>
            <el-table-column
                    prop="difficulty"
                    label="题目难度"
                    width="140"
                    header-align="center"
                    align="center"
                    :formatter="getDiff">
            </el-table-column>
            <el-table-column
                    prop="classify"
                    label="题目分类"
                    width="140"
                    header-align="center"
                    align="center"
                    :formatter="getClass">
            </el-table-column>
            <el-table-column
                    prop="total"
                    label="题目总数"
                    width="80"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center">
                <template slot-scope="scope">
                    <el-button
                            plain
                            type="primary"
                            size="mini"
                            @click="edit(scope.row.id)"
                    >编辑
                    </el-button>
                    <el-button
                            plain
                            type="danger"
                            size="mini"
                            @click="deletes(scope.row.id)"
                    >删除
                    </el-button>
                    <el-button
                            plain
                            type="info"
                            size="mini"
                            @click="info(scope.row.id)"
                    >查看详情
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurChange"
                :current-page="formInline.page"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="formInline.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="formInline.count">
        </el-pagination>

        <el-dialog :title="title" :visible.sync="dialogConfig" :before-close="closeDia" :close-on-click-modal="false">
            <el-row>
                <el-col :span="24">
                    <el-form :model="configureEntity" :rules="rules" ref="configureEntity" label-width="110px" size="mini">
                        <el-form-item label="练习卷名称：" prop="name">
                            <el-input v-model="configureEntity.name" :disabled="isEdit"></el-input>
                        </el-form-item>

                        <el-form-item label="试题难度：">
                            <el-checkbox-group v-model="configureEntity.difficultys">
                                <el-checkbox :disabled="isEdit" v-for="item in diffList" :label="item.key">{{item.value}}</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="试题分类：">
                            <el-checkbox-group v-model="configureEntity.classifys">
                                <el-checkbox :disabled="isEdit" v-for="item in typeList" :label="item.key">{{item.value}}</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="试题类型：">
                            <el-checkbox-group v-model="configureEntity.types">
                                <el-checkbox :disabled="isEdit" v-for="item in qtList" :label="item.key" v-if="item.value != '主观题'">
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="主题类型：">
                            <el-select :disabled="isEdit" multiple collapse-tags
                                       v-model="configureEntity.topics"
                                       placeholder="请选择">
                                <el-option
                                        v-for="item in topicList"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item >
                            <el-button v-if="!isEdit" type="primary" @click="save('configureEntity')">保存设置</el-button>
                            <el-button type="primary" @click="cancle">取消</el-button>
                        </el-form-item>

                    </el-form>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</div>
</body>
    <script src="${rc.contextPath}/js/practiceCen/task_configure_department.js?_${.now?long}"></script>
</html>