<!DOCTYPE html>
<html lang="en">
<head>
    <title>练习任务配置（部门）</title>
    <#include "/header.html">
</head>
<style>
    div.el-input--suffix {
        width: 350px !important;
    }
    .el-pagination__sizes .el-select>.el-input{
        width: 100px!important;
    }
    div.el-dialog .el-select>.el-input.el-input--suffix {
        width: 100px;
    }
    div.el-pagination .el-pagination__jump {
        margin-left: 0px;
    }
    ul.el-pager li {
        min-width: 25px;
    }
</style>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>管理员入口</el-breadcrumb-item>
            <el-breadcrumb-item>管理中心</el-breadcrumb-item>
            <el-breadcrumb-item>练习管理</el-breadcrumb-item>
            <el-breadcrumb-item>任务设置</el-breadcrumb-item>
        </el-breadcrumb>

        <div class="info_card">
            <div class="card_title">
            </div>
            <div class="card_contain">
                <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                    <el-form-item label="任务名称" prop="name">
                        <el-input v-model="formInline.name" placeholder="任务名称" size="mini" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="开始日期" prop="kssj">
                        <el-date-picker
                                v-model="formInline.kssj"
                                type="date"
                                format="yyyy年MM月dd日"
                                value-format="yyyy-MM-dd"
                                placeholder="开始时间"
                                size="mini"
                        >
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="结束日期" prop="jssj">
                        <el-date-picker
                                v-model="formInline.jssj"
                                type="date"
                                format="yyyy年MM月dd日"
                                value-format="yyyy-MM-dd"
                                placeholder="结束时间"
                                size="mini"
                        >
                        </el-date-picker>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" size="mini">
                            <i class="iconfont icon-sousuo1"></i>
                            查询
                        </el-button>
                        <el-button class="reset_btn" size="mini" @click="resetForm('formInline')">
                            <i class="iconfont icon-tableresetpassword"></i>
                            重置
                        </el-button>

                    </el-form-item>
                </el-form>
            </div>
        </div>

        <div class="info_btn">
            <el-button size="mini" type="primary" @click="addConfigure"><i class="iconfont icon-htmal5icon18"></i>新增配置
            </el-button>
        </div>
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                border>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    align="center"
                    :index="indexMethod">
            </el-table-column>
            <el-table-column
                    prop="numbers"
                    label="任务编号"
                    width="140"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="任务名称"
                    width="220"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="themeName"
                    label="主题类型"
                    width="130"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="题目类型"
                    width="140"
                    header-align="center"
                    align="center"
                    :formatter="getType">
            </el-table-column>
            <el-table-column
                    prop="difficulty"
                    label="题目难度"
                    width="140"
                    header-align="center"
                    align="center"
                    :formatter="getDiff">
            </el-table-column>
            <el-table-column
                    prop="classify"
                    label="题目分类"
                    width="140"
                    header-align="center"
                    align="center"
                    :formatter="getClass">
            </el-table-column>
            <el-table-column
                    prop="total"
                    label="题目总数"
                    width="80"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center">
                <template slot-scope="scope">
                    <el-popover
                            placement="right"
                            trigger="hover"
                            content="查看">
                        <i class="iconfont icon-chakan tabIcon"
                           slot="reference"
                           @click="info(scope.row.id)"
                           style="color: #1381e3;font-size: 12px">
                        </i>
                    </el-popover>
                    <el-popover
                            placement="right"
                            trigger="hover"
                            content="编辑">
                        <i class="iconfont icon-xiugaimima tabIcon"
                           slot="reference"
                           @click="edit(scope.row.id)"
                           style="color: #119e0a;"
                        >
                        </i>
                    </el-popover>
                    <el-popover
                            placement="right"
                            trigger="hover"
                            content="删除">
                        <i class="iconfont icon-tubiaozhizuo- tabIcon"
                           slot="reference"
                           @click="deletes(scope.row.id)"
                           style="color: #e31313;"
                        >
                        </i>
                    </el-popover>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurChange"
                :current-page="formInline.page"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="formInline.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="formInline.count">
        </el-pagination>

        <el-dialog :title="title" :visible.sync="dialogConfig" :before-close="closeDia" :close-on-click-modal="false">
            <el-row>
                <el-col :span="24">
                    <el-form :model="configureEntity" :rules="rules" ref="configureEntity" label-width="110px"
                             size="mini">
                        <el-form-item label="练习卷名称：" prop="name">
                            <el-input v-model="configureEntity.name" :disabled="isEdit" placeholder="练习卷名称"></el-input>
                        </el-form-item>

                        <el-form-item label="试题难度：">
                            <el-checkbox-group v-model="configureEntity.difficultys">
                                <el-checkbox :disabled="isEdit" v-for="item in diffList" :label="item.key">
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="试题分类：">
                            <el-checkbox-group v-model="configureEntity.classifys">
                                <el-checkbox :disabled="isEdit" v-for="item in typeList" :label="item.key">
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="试题类型：">
                            <el-checkbox-group v-model="configureEntity.types">
                                <el-checkbox :disabled="isEdit" v-for="item in qtList" :label="item.key"
                                             v-if="item.value != '主观题'">
                                    {{item.value}}
                                </el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-form-item label="主题类型：">
                            <el-select v-if="!isEdit" multiple collapse-tags
                                       v-model="configureEntity.topics"
                                       placeholder="请选择"
                                       >
                                <el-option
                                        v-for="item in topicList"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item.key"
                                        >
                                </el-option>
                            </el-select>
                            <p v-if="isEdit" style="background-color: #f5f7fa;color: #999;padding:0 5px">
                                <span v-for="item in topicList" style="padding: 0 5px">{{item.value}}</span>
                            </p>

                        </el-form-item>

                        <el-form-item label="使用部门：">
                            <el-input v-model="configureEntity.deptNames" :disabled="isEdit" readonly @focus="chooseDept" placeholder="请选择使用部门" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="使用人员：">
                            <el-input :disabled="isEdit" v-model="configureEntity.userNames" readonly
                                      @focus="chooseUser" placeholder="请选择使用人员" clearable></el-input>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancle">取消</el-button>
                <el-button v-if="!isEdit" type="primary" @click="save('configureEntity')">保存</el-button>
            </div>
        </el-dialog>

        <el-dialog title="选择部门" :visible.sync="dialogDept">
            <!--对于同一级的节点，每次只能展开一个-->
            <el-scrollbar wrap-class="list" wrap-style="color: red;" view-style="font-weight: bold;" view-class="view-box" :native="false">
                <el-tree
                        ref="deptTree"
                        :data="deptData"
                        :props="defaultDeptProps"
                        accordion
                        show-checkbox
                        @check-change="handleCheckChange"
                        node-key="id"
                        :default-expanded-keys="idArr"
                >
                </el-tree>
            </el-scrollbar>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelDept">取消</el-button>
                <el-button type="primary" size="mini" @click="confimDept">保存</el-button>
            </div>
        </el-dialog>

        <el-dialog title="选择人员" :visible.sync="dialogUser" class="dialog_minW750">
            <!--对于同一级的节点，每次只能展开一个-->
            <div>
                <el-col :span="6">
                    <el-scrollbar wrap-class="depList" wrap-style="color: red;" view-style="font-weight: bold;"
                                  view-class="view-box" :native="false">
                        <el-tree
                                :data="userData"
                                :props="defaultUserProps"
                                accordion
                                node-key="id"
                                :default-expanded-keys="idArr"
                                @node-click="handleDeptNodeClick">
                        </el-tree>
                    </el-scrollbar>
                </el-col>

                <el-col :span="18" class="paddingLeft20">
                    <el-form :inline="true" :model="userForm" ref="userForm" class="demo-form-inline">
                        <el-form-item prop="userCode">
                            <el-input v-model="userForm.userCode" placeholder="身份证号" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item prop="userName">
                            <el-input v-model="userForm.userName" placeholder="用户名" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="searchUser" size="mini">查询</el-button>
                            <el-button @click="resetForm('userForm')" size="mini">重置</el-button>
                        </el-form-item>
                    </el-form>
                    <div>
                        <el-table
                                :data="userTableData"
                                border
                                height="529"
                                stripe
                                @selection-change="handleSelectionChange"
                                style="width: 100%">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    label="序号"
                                    type="index"
                                    header-align="center"
                                    align="center"
                                    :index="indexUserMethod"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="userCode"
                                    label="身份证号"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="userName"
                                    label="姓名"
                                    width="280"
                            >
                            </el-table-column>

                        </el-table>
                        <el-pagination
                                @size-change="userHandleSizeChange"
                                @current-change="userHandleCurrentChange"
                                :current-page="userForm.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="userForm.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="userForm.totalCount">
                        </el-pagination>
                    </div>
                </el-col>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelUser">取消</el-button>
                <el-button type="primary" size="mini" @click="confimUser">保存</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>
<script src="${rc.contextPath}/js/practiceCen/task_configure_department.js?_${.now?long}"></script>
</html>