<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>

</style>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                broder>
            <el-table-column
                    prop="themeName"
                    label="主题类型"
                    width="480"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="total"
                    label="总题数"
                    width="200"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="已答题"
                    width="200"
                    header-align="center"
                    align="center"
                    prop="answerNum">
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center"
                    prop="status"
                    align="center">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.status == 0 || scope.row.status == null"
                            type="primary"s
                            size="mini"
                            @click="start(scope.$index)"
                            >开始练习
                    </el-button>
                    <el-button
                            plain
                            type="success"
                            size="mini"
                            v-if="scope.row.status == 1"
                            @click="start(scope.$index)"
                            >继续练习
                    </el-button>
                    <el-button
                            plain
                            type="danger"
                            size="mini"
                            v-if="scope.row.status == 1 || scope.row.status == 2"
                            >错题回顾
                    </el-button>
                    <el-button
                            plain
                            type="warning"
                            size="mini"
                            v-if="scope.row.status == 2"
                            @click="reStart(scope.row.id)"
                            >清空重做
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
</body>

<script src="${rc.contextPath}/js/practiceCen/theme.js?_${.now?long}"></script>
</html>
