<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<link rel="stylesheet" href="${rc.contextPath}/statics/css/schoolMain.css">
<body>
<div id="app" v-cloak>

    <div class="container">
        <div class="personal_area clearfix">
            <div class="user_head"><img src="${rc.contextPath}/statics/img/dog.jpg" alt=""></div>
            <div class="person_info">
                <p class="name">{{info.userName}}</p>
                <ul class="clearfix">
                    <li><span class="num">{{info.release}}</span><span class="name">发表</span></li>
                    <li><span class="num">{{info.comment}}</span><span class="name">评论</span></li>
                    <li><span class="num">{{info.collection}}</span><span class="name">收藏</span></li>
                </ul>
            </div>
            <div class="submit_info">
                <el-form ref="form" :model="form" :rules="rules">
                    <el-form-item prop="content">
                        <el-input type="textarea" v-model="form.content" placeholder="有什么和大家一起交流的话题？"></el-input>
                    </el-form-item>
                    <div class="clearfix">

                        <el-form-item label="所属栏目" label-width="80px" style="padding: 11px 0 10px;float: left">
                            <el-select v-model="form.subordinateColumn" placeholder="请选择">
                                <el-option label="试题" value="st"></el-option>
                                <el-option label="试题报错" value="stbc"></el-option>
                                <el-option label="学习" value="xx"></el-option>
                                <el-option label="案例" value="al"></el-option>
                                <el-option label="建议" value="jy"></el-option>
                                <el-option label="常见问题解答" value="cjwtjd"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-button type="primary" style="margin: 13px 9px 0 0;float: right" @click="save">
                            <i class="iconfont"
                               style="color: white;"
                            >&#xe643;
                            </i>发布</el-button>
                    </div>

                </el-form>

            </div>
        </div>
        <div class="info_area">
            <ul class="clearfix">
                <li v-for="(navItem,index) in navList" :class="!(index - menuIndex)?'active':''" @click="reload(index,navItem.alias)">{{navItem.name}}</li>
            </ul>
            <div class="tab">
                <div class="item" v-if="tableData" v-for="(item,index) in tableData">
                    <div class="item_top clearfix">
                        <div class="item_head">
                            <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                        </div>
                        <p>
                            <span class="name">{{item.userName}}</span>
                            <span class="time">{{item.createTime}}</span>
                        </p>
                    </div>
                    <pre class="text">{{item.content}}</pre>
                    <ul class="item_bot clearfix">
                        <li @click="collection(item.id,index)"><i class="iconfont icon-shoucang1"></i><span>{{item.collectionNum||0}}</span><span> 收藏</span></li>
                        <li @click="showComment(item.id,index)"><i class="iconfont icon-gerenzhongxin"></i><span>{{item.commentNum||0}}</span><span> 评论</span></li>
                        <li @click="report(item.id,index)">举报</li>
                    </ul>
                    <div class="writeComment clearfix" v-if="item.commentShow">
                        <el-input v-model="reply.content" placeholder="写下你的评论 · · ·"></el-input>
                        <el-button @click="saveReply(item.id)" type="primary">评论</el-button>
                    </div>
                    <!--这个model要改-->
                    <div class="comment_area" v-if="item.commentShow">
                        <div class="title">{{item.commentNum||0}}评论</div>
                        <div class="comment_item" v-for="i in item.child">
                            <div class="item_top clearfix">
                                <div class="item_head">
                                    <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                                </div>
                                <p>
                                    <span class="name">{{i.userName}}</span>
                                    <span class="time">{{i.createTime}}</span>
                                </p>
                            </div>
                            <pre class="text">{{i.content}}</pre>
                        </div>
                        <!--<p class="openMore">展开更多评论</p>-->

                    </div>
                </div>
                <div class="item" v-if="tableData.length==0">
                    <pre class="text" style="width: auto" >暂无内容</pre>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/school/index.js?_${.now?long}"></script>
<script>
    $(function () {
        // $('#app').css('background','#f00')
    })
</script>
</html>
