<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<link rel="stylesheet" href="${rc.contextPath}/statics/css/schoolMain.css">
<body>
<div id="app" v-cloak>

    <div class="container">
        <div class="personal_area clearfix">
            <div class="user_head"><img src="${rc.contextPath}/statics/img/dog.jpg" alt=""></div>
            <div class="person_info">
                <p class="name">{{info.userName}}</p>
                <ul class="clearfix">
                    <li><span class="num">{{info.release}}</span><span class="name">发表</span></li>
                    <li><span class="num">{{info.comment}}</span><span class="name">评论</span></li>
                    <li><span class="num">{{info.collection}}</span><span class="name">收藏</span></li>
                </ul>
            </div>
            <div class="submit_info">
                <el-form ref="form" :model="form">
                    <el-form-item>
                        <el-input type="textarea" v-model="form.content" placeholder="有什么和大家一起交流的话题？"></el-input>
                    </el-form-item>
                    <div class="clearfix">

                        <el-form-item label="所属栏目" label-width="80px" style="padding: 11px 0 10px;float: left">
                            <el-select v-model="form.subordinateColumn" placeholder="请选择">
                                <el-option label="试题" value="st"></el-option>
                                <el-option label="试题报错" value="stbc"></el-option>
                                <el-option label="学习" value="xx"></el-option>
                                <el-option label="案例" value="al"></el-option>
                                <el-option label="建议" value="jy"></el-option>
                                <el-option label="常见问题解答" value="cjwtjd"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-button type="primary" style="margin: 13px 9px 0 0;float: right" @click="save">发布</el-button>
                    </div>

                </el-form>

            </div>
        </div>
        <div class="info_area">
            <ul class="clearfix">
                <li v-for="(item,index) in navList" :class="{active:!(index - menuIndex)}" @click="reload(index)">{{item}}</li>
            </ul>
            <div class="tab">
                <div class="item">
                    <div class="item_top clearfix">
                        <div class="item_head">
                            <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                        </div>
                        <p>
                            <span class="name">孙大圣</span>
                            <span class="time">2018-11-02 23：57：41</span>
                        </p>
                    </div>
                    <p class="text">乘客错过公交站，侮辱打骂公交司机造成车辆坠江该怎么量刑？乘客错过公交站，侮辱打骂公交司机造成车辆坠江该怎么量刑？乘客错过公交站，侮辱打骂公交司机造成车辆坠
                        江该怎么量刑？乘客错过公交站，侮辱打骂公交司机造成车辆坠江该怎么量刑？</p>
                    <ul class="item_bot clearfix">
                        <li><i class="iconfont icon-gerenzhongxin"></i><span>102</span><span>收藏</span></li>
                        <li><i class="iconfont icon-gerenzhongxin"></i><span>28</span><span>评论</span></li>
                        <li>举报</li>
                    </ul>
                    <div class="writeComment clearfix">
                        <el-input v-model="form.region" placeholder="写下你的评论 · · ·"></el-input>
                        <el-button type="primary">发布</el-button>
                    </div>
                    <!--这个model要改-->
                    <div class="comment_area">
                        <div class="title">28评论</div>
                        <div class="item_top clearfix">
                            <div class="item_head">
                                <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                            </div>
                            <p>
                                <span class="name">孙大圣</span>
                                <span class="time">2018-11-02 23：57：41</span>
                            </p>
                        </div>
                        <p class="text">乘客错过公交站，侮辱打骂公交司机造成车辆坠江该怎么量刑？乘客错过公交站，侮辱打骂公交司机造成车辆坠江该怎么量刑？乘客错过公交站，侮辱打骂公交司机造成车辆坠
                            江该怎么量刑？乘客错过公交站，侮辱打骂公交司机造成车辆坠江该怎么量刑？</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/school/index.js"></script>
<script>
    $(function () {
        // $('#app').css('background','#f00')
    })
</script>
</html>
