<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
    <style>
        .content_audio{
            text-align: center;
            margin-top: 14px;
            padding: 0 14px ;
        }
        .content_audio audio{
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>学习中心</el-breadcrumb-item>
            <el-breadcrumb-item>音频课堂</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <!--<el-col :span="4">
                &lt;!&ndash;对于同一级的节点，每次只能展开一个&ndash;&gt;
                <el-tree
                        :data="treeData"
                        :props="defaultProps"
                        accordion
                        @node-click="handleNodeClick">
                </el-tree>
            </el-col>-->
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title"></div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                                <el-form-item label="资料标题" prop="stuTitle">
                                    <el-input v-model="formInline.stuTitle" placeholder="资料标题" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="发布人" prop="stuIssuer">
                                    <el-input v-model="formInline.stuIssuer" placeholder="发布人" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="法律分类" prop="stuLawName">
                                    <el-input v-model="formInline.stuLawName" placeholder="法律分类" @focus="chooseLaw" clearable
                                              size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="开始时间" prop="startTime">
                                    <el-date-picker
                                            v-model="formInline.startTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择开始时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="结束时间" prop="endTime">
                                    <el-date-picker
                                            v-model="formInline.endTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择结束时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <!--<el-form-item prop="status">
                                    <el-select v-model="formInline.status" placeholder="状态" size="mini">
                                        <el-option label="有效" value="1"></el-option>
                                        <el-option label="无效" value="0"></el-option>
                                    </el-select>
                                </el-form-item>-->
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询
                                    </el-button>
                                    <el-button class="reset_btn" @click="resetForm('formInline')" size="mini">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置
                                    </el-button>

                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div>
                        <div class="content lesson">
                            <el-row :gutter="10">
                                <el-col :span="6" v-for="(item, index) in videoData">
                                    <el-card :body-style="{ padding: '0px' }">
                                        <div class="content_audio">
                                            <audio :id="item.id" controls="controls" preload="none" @play="onPlay(item.id)"
                                                   @pause="onPause(item.id,$event)">
                                                <source :src="item.contentUrl" controls="controls">
                                            </audio>
                                        </div>
                                        <div style="padding: 14px 14px 0 14px;">
                                            <p>
                                                <span v-if="!item.isColl" @click="collect(item.id)">收藏</span>
                                                <span v-if="item.isColl" @click="cancelCollect(item.id)">取消收藏</span>
                                                <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                            </p>
                                            <p>
                                                <span class="stuIssuer">{{item.stuIssuer}}</span>
                                                <span class="stuCreat">{{item.stuIsstime}}</span>
                                            </p>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>
                        </div>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="formInline.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="formInline.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="formInline.totalCount">
                        </el-pagination>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>

    </div>

    <el-dialog title="选择法律分类" :visible.sync="dialogLaw" >
        <!--对于同一级的节点，每次只能展开一个-->
        <el-scrollbar wrap-class="list" wrap-style="color: red;" view-style="font-weight: bold;"
                      view-class="view-box" :native="false">
            <el-tree
                    ref="lawtree"
                    :data="treeData"
                    :props="defaultProps"
                    accordion
                    node-key="id"
                    show-checkbox
                    @check-change="handleCheckChange">
            </el-tree>
        </el-scrollbar>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelLaw">取消</el-button>
            <el-button type="primary" size="mini" @click="confimLaw">保存</el-button>
        </div>
    </el-dialog>

</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/learnCen/audiocourse.js?_${.now?long}"></script>
</html>
