<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
    <style>
        .info_card .el-form-item__label{
            min-width: 96px;
        }
        .content_p{
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 3px 8px 16px rgba(0,0,0,0.3);
            line-height: 22px;
            margin-bottom: 25px;
            position: relative;
        }
        .content_p .clearfix{

        }
        .content_p .clearfix p:first-child{
            float: left;
            font-style: italic;
            padding-left: 20px;
        }
        .content_p .clearfix p:last-child{
            float: right;
        }
        .content_p .shengxiao{
            position: absolute;
            right: -14px;
            top: -18px;
            width: 100px;
            height: 100px;
            border: 8px solid red;
            line-height: 78px;
            text-align: center;
            border-radius: 50%;
            font-size: 30px;
            color: red;
            transform: rotate(26deg);
            font-weight: bold;
            opacity: 0.3;
        }
        .content_info{
            padding-top: 10px;
            line-height: 25px;
        }
        pre{
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: '微软雅黑';
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>学习中心</el-breadcrumb-item>
            <el-breadcrumb-item>法律法规</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="4">
                <!--对于同一级的节点，每次只能展开一个-->
                <el-tree
                        :data="treeData"
                        :props="defaultProps"
                        accordion
                        current-node-key="all"
                        node-key="classifyId"
                        @node-click="handleNodeClick">
                </el-tree>
            </el-col>
            <el-col :span="20">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title"></div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
                                <el-form-item prop="libName" label="法律法规库">
                                    <el-input v-model="formInline.libName" placeholder="法律法规库" @focus="chooseLib"
                                              size="mini" clearable @clear="clearLib"></el-input>
                                </el-form-item>
                                <el-form-item prop="lawTitle" label="法律决定标题">
                                    <el-input v-model="formInline.lawTitle" placeholder="标题" size="mini"></el-input>
                                </el-form-item>
                                <!--<el-form-item prop="lawTitle" label="开始时间">-->
                                    <!--<el-input v-model="formInline.lawTitle" placeholder="开始时间" size="mini"></el-input>-->
                                <!--</el-form-item>-->
                                <!--<el-form-item prop="lawTitle" label="结束时间">-->
                                    <!--<el-input v-model="formInline.lawTitle" placeholder="结束时间" size="mini"></el-input>-->
                                <!--</el-form-item>-->
                                <el-form-item prop="status" label="状态">
                                    <el-select v-model="formInline.status" placeholder="状态" size="mini" clearable>
                                        <el-option label="有效" value="有效"></el-option>
                                        <el-option label="失效" value="失效"></el-option>
                                        <el-option label="已被修正" value="已被修正"></el-option>
                                        <el-option label="有关决议" value="有关决议"></el-option>
                                        <el-option label="法律解释" value="法律解释"></el-option>
                                        <el-option label="其他" value="其他"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item prop="issueOrg" label="颁布单位">
                                    <el-input v-model="formInline.issueOrg" placeholder="颁布单位" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询
                                    </el-button>
                                    <el-button class="reset_btn" @click="resetForm('formInline')" size="mini">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置
                                    </el-button>

                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                        <div>
                            <el-table
                                    :data="tableData"
                                    border
                                    stripe
                                    style="width: 100%">
                                <el-table-column
                                        label="序号"
                                        type="index"
                                        header-align="center"
                                        align="center"
                                        :index="indexMethod"
                                        width="50">
                                </el-table-column>
                                <el-table-column
                                        prop="lawTitle"
                                        label="标题"
                                        header-align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="issueTime"
                                        label="发布时间"
                                        width="200"
                                        header-align="center"
                                        align="center"

                                >
                                    <template slot-scope="scope">
                                        <p v-if="scope.row.issueTime" >{{ scope.row.issueTime }}</p>
                                        <p v-if="!scope.row.issueTime" >暂无</p>
                                    </template>
                                </el-table-column>

                                <el-table-column
                                        prop="issueOrg"
                                        label="颁布单位"
                                        width="200"
                                        header-align="center"
                                        align="center"
                                >
                                </el-table-column>

                                <el-table-column
                                        prop="status"
                                        label="状态"
                                        width="200"
                                        header-align="center"
                                        align="center"
                                >
                                    <template slot-scope="scope">
                                        <el-tag v-if="scope.row.status === '有效'" size="small" type="success">有效</el-tag>
                                        <el-tag v-if="scope.row.status === '失效'" size="small" type="info">失效</el-tag>
                                        <el-tag v-if="scope.row.status === '已被修正'" size="small" type="warning">已被修正</el-tag>
                                        <el-tag v-if="scope.row.status === '有关决议'" size="small" type="warning">有关决议</el-tag>
                                        <el-tag v-if="scope.row.status === '法律解释'" size="small" type="warning">法律解释</el-tag>
                                        <el-tag v-if="scope.row.status === '其他'" size="small" type="warning">其他</el-tag>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作" width="200" header-align="center"
                                                 align="center">
                                    <template slot-scope="scope">
                                        <el-popover
                                                placement="right"
                                                trigger="hover"
                                                content="查看">
                                            <i class="iconfont icon-chakan tabIcon"
                                               slot="reference"
                                               @click="handleDetail(scope.$index, scope.row)"
                                               style="color: #1381e3;font-size: 12px">
                                            </i>
                                        </el-popover>
                                    </template>
                              </el-table-column>
                            </el-table>
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="formInline.currPage"
                                    :page-sizes="[10, 20, 30, 40]"
                                    :page-size="formInline.pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="formInline.totalCount">
                            </el-pagination>
                        </div>
                </el-tabs>
            </el-col>
        </el-row>

        <el-dialog title="选择法律法规库" :visible.sync="dialogLib">
            <!--对于同一级的节点，每次只能展开一个-->
            <el-scrollbar wrap-class="list" wrap-style="color: red;" view-style="font-weight: bold;"
                          view-class="view-box" :native="false">
                <el-tree
                        ref="libTree"
                        :data="libData"
                        :props="defaultLibProps"
                        accordion
                        :default-expanded-keys="libIds"
                        node-key="libId">
                </el-tree>
            </el-scrollbar>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelLib">取消</el-button>
                <el-button type="primary" size="mini" @click="confimLib">保存</el-button>
            </div>

        </el-dialog>

        <el-dialog class="dialog_minW750" :title="title" :visible.sync="dialogLaw" :before-close="closeDia"  ref="lawDialog">
            <div class="content_p">
                <div class="clearfix">
                    <p>{{lawDesic.issueddept}}颁布于：{{lawDesic.issuedate}}</p>
                    <p></p>

                </div>
                <!--<p>{{lawDesic.title}}</p>-->


                <div class="shengxiao">{{lawDesic.status}}</div>
                <pre class="content_info" v-html="lawDesic.content"></pre>
            </div>
        </el-dialog>

    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/learnCen/lawdesic.js?_${.now?long}"></script>
</html>
