<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
    <style>
        .el-tabs__header.is-top{
            padding: 0;
            background: #efefef;
            width: 100%;
        }
        .el-tabs__item.is-top.is-active{
            padding: 0 23px!important;
            height: 28px;
            line-height: 30px;
            font-size: 16px;
            color: #36a9e0!important;
            background-color: #fff!important;
            border-radius: 3px 3px 0 0;
            border-color:#80c5e6 #80c5e6 transparent!important;
        }
        .content ul li{
            width: 20%;
            float: left;
        }
        .content ul li .item{
            padding-right: 25px;
        }
        .content ul li .item video{
            width: 100%;
            height: 9.15080527086384vw;
            border-radius: 5px;
        }
        .content .video-content{
            position: relative;
        }
        .content .video-content a{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }
        .stuType{
            background: #f97a1f;
            padding: 0 5px;
            color: #fff;
            border-radius: 2px;
        }
        .stuIssuer{
            float: left;
        }
        .stuCreat{
            float: right;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>学习中心</el-breadcrumb-item>
            <el-breadcrumb-item>视频课堂</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title"></div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                                <el-form-item label="资料标题" prop="stuTitle">
                                    <el-input v-model="formInline.stuTitle" placeholder="资料标题" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="发布人" prop="stuIssuer">
                                    <el-input v-model="formInline.stuIssuer" placeholder="发布人" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item  label="法律分类" prop="stuLawName">
                                    <el-input v-model="formInline.stuLawName" placeholder="法律分类" @focus="chooseLaw" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="开始时间" prop="startTime">
                                    <el-date-picker
                                            v-model="formInline.startTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择开始时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item  label="结束时间" prop="endTime">
                                    <el-date-picker
                                            v-model="formInline.endTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择结束时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询
                                    </el-button>
                                    <el-button class="reset_btn" @click="resetForm('formInline')" size="mini">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置
                                    </el-button>

                                </el-form-item>
                            </el-form>

                        </div>
                    </div>
                    <div>
                            <div class="content lesson">
                                <ul class="clearfix">
                                    <li v-for="(item, index) in videoData">
                                        <div class="item">
                                            <div class="video-content">
                                                <video width="300" height="155" controls preload="none" :poster="item.videoPicAccUrl" @play="onPlay(item.id)" @pause="onPause(item.id,$event)">
                                                    <source :src="item.contentUrl" type="video/mp4">
                                                    您的浏览器不支持视频播放
                                                </video>
                                                <a href="javascript:;" @click="onVideoDialog(item.id,item.contentUrl,item.videoPicAccUrl)"></a>
                                            </div>
                                            <div>
                                                <p>
                                                    <span v-if="!item.isColl" @click="collect(item.id)">收藏</span>
                                                    <span v-if="item.isColl" @click="cancelCollect(item.id)">取消收藏</span>
                                                    <span class="stuType">{{item.stuType}}</span>
                                                    <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                                </p>
                                                <p>
                                                    <span class="stuIssuer">{{item.stuIssuer}}</span>
                                                    <span class="stuCreat">{{item.stuIsstime}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="formInline.currPage"
                                    :page-sizes="[10, 20, 30, 40]"
                                    :page-size="formInline.pageSize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="formInline.totalCount">
                            </el-pagination>
                        </div>
                </el-tabs>
            </el-col>
        </el-row>
    </div>
    <el-dialog class="dialog_minW750" title="视频课堂" :visible.sync="dialogVideo" >
        <div v-if="dialogVideo" style="max-height: 450px;text-align: center">
            <video style="width:auto; max-height: 450px" controls autoplay preload="none" :poster="thisVideoPicAccUrl" @play="onPlay(thisVideoId)" @pause="onPause(thisVideoId,$event)">
                <source :src="thisVideoContentUrl" type="video/mp4">
                您的浏览器不支持视频播放
            </video>
        </div>
    </el-dialog>
    <el-dialog title="选择法律分类" :visible.sync="dialogLaw" >
        <!--对于同一级的节点，每次只能展开一个-->
        <el-tree
                ref="lawtree"
                :data="treeData"
                :props="defaultProps"
                accordion
                node-key="id"
                show-checkbox
                @check-change="handleCheckChange">
        </el-tree>
        <el-button type="primary" size="mini" @click="confimLaw">保存</el-button>
        <el-button type="primary" size="mini" @click="cancelLaw">取消</el-button>
    </el-dialog>

</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/learnCen/videocourse.js?_${.now?long}"></script>
</html>
