<!DOCTYPE html>
<html lang="en" xmlns="http://java.sun.com/jsf/html">
<head>
    <title>每日一题</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <div class="header-left">
            <img src="${rc.contextPath}/statics/img/logo.png">
            <a href="javascript:;">江苏省公安厅法律学校</a>
        </div>
    </div>
    <div>
        <el-row>
            <p>题目：{{questionForm.comContent}}</p>

            <el-checkbox-group v-model="questionForm.answer">
                <el-checkbox v-if="item.id" :change="aaa()" :label="item.questionContent" v-for="item in questionForm.answer">
                </el-checkbox>
            </el-checkbox-group>


            <span v-if="answerShow">答案：{{questionForm.answerDescrible}}</span>
        </el-row>
    </div>
</div>

</body>
<script src="${rc.contextPath}/js/practiceCen/Daily.js?_${.now?long}"></script>
</html>