<!DOCTYPE html>
<html lang="en">
<head>
    <title>闯关游戏</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/chuangguanGame.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <button class="return_back" @click="backRush">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="title">
            第{{nowBignum}}大关
        </div>
        <div class="rest">
            第<span>{{nowLitnum}}</span>题
        </div>

        <div class="questionArea">
            <div class="questionType">
                {{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}
            </div>
            <p class="questionTitle">
                {{Question.comContent}}
            </p>

            <el-form :class="Question.questionType==10004?'radioStyle':''" :model="Question" v-show="dialogQuestion" ref="Question" label-width="100px" class="demo-Question" size="mini">
                <el-checkbox-group v-model="answers" v-if="Question.questionType==10005">
                    <el-checkbox :label="answer.id" v-for="answer in Question.answerList">
                        {{answer.questionContent}}
                    </el-checkbox>
                    <br/>
                </el-checkbox-group>

                <el-button type="primary" v-if="Question.questionType==10005"
                           @click="thisSubmit(Question.answerId)">提交
                </el-button>


                <el-radio-group v-model="answers"
                                v-if="Question.questionType==10004 || Question.questionType==10006"
                                :disabled="radio_disabled">
                    <el-radio :label="answer.id" v-for="answer in Question.answerList"
                              @change="radioCheck(answer.id, Question.answerId, Question.questionType)">
                        {{answer.questionContent}}
                    </el-radio>
                </el-radio-group>

            </el-form>
        </div>


        <el-dialog :title="title" :visible.sync="dialogBegin" :before-close="closeBegin" :show-close="closedialog"
                   :close-on-click-modal="false">
            <div style="height: 200px;text-align: center">
                准备好开始接受挑战了吗？
                <br/><br/><br/><br/><br/><br/>
                <el-button type="primary" @click="tomain">返回</el-button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <el-button type="primary" @click="begin">挑战</el-button>
            </div>
        </el-dialog>
        <el-dialog :title="title" :visible.sync="dialogyes" :show-close="closedialog" :close-on-click-modal="false">
            <div style="height: 200px;text-align: center">
                {{textmag}}
                <br/><br/><br/><br/><br/><br/>
                <el-button type="primary" @click="questionError('over')" icon="el-icon">结束答题</el-button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <el-button type="primary" @click="goon()" icon="el-icon">继续答题</el-button>
            </div>
        </el-dialog>
        <div class="rushFailed model_area" v-if="dialogerror">
            <div class="inner">
                <img src="${rc.contextPath}/statics/img/competeCenter/chuangguan_lose.png" alt="">
                <h3>扣除</h3>
                <p>积分+0</p>
                <div class="button_area">
                    <button @click="tomain">结束闯关</button>
                    <button @click="replay"><i class="iconfont icon-zhongzuo"></i>再闯一次</button>
                </div>
            </div>
        </div>
        <div class="rushSuccess model_area" v-if="rushSuccess">
            <div class="inner">
                <img src="${rc.contextPath}/statics/img/competeCenter/chuangguan_success.png" alt="">
                <h3>奖励</h3>
                <p>积分+{{Score}}</p>
                <div class="button_area">
                    <button @click="tomain">结束闯关</button>
                    <button @click="jumpNextLevel">{{btnName}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/competition/chuangguanGame.js?_${.now?long}"></script>
</html>
