<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<link rel="stylesheet" href="${rc.contextPath}/statics/css/competeCenter.css">
<body>
<div id="app" v-cloak>
    <!--页面还没建-->
    <div class="content">
        <div class="innner_content">
            <el-scrollbar style="height: 100%">
                <div class="title">
                    <img src="${rc.contextPath}/statics/img/competeCenter/title.png">
                </div>
                <el-row>
                    <!--左侧关卡-->
                    <el-col :span="14">
                        <div class="part">
                            <img class="imgP" src="${rc.contextPath}/statics/img/competeCenter/p1.png">
                            <span class="words">闯关竞赛</span>
                        </div>
                        <div class="part">
                            <img class="imgP" src="${rc.contextPath}/statics/img/competeCenter/p2.png">
                            <span class="words">在线比武</span>
                        </div>
                        <div class="part">
                            <img class="imgP" src="${rc.contextPath}/statics/img/competeCenter/p3.png">
                            <span class="words">擂台赛</span>
                        </div>
                    </el-col>
                    <!--右侧排行榜-->
                    <el-col :span="10" class="top">
                        <div class="top_title">
                            <span>排行榜(TOP5)</span>
                        </div>
                        <div class="top_content">
                            <el-tabs v-model="rankTop5" type="card" @tab-click="handleClick">
                                <el-tab-pane label="闯关竞赛" name="first">
                                    <ul class="firstList">
                                        <li v-for="(item,index) in firstList">
                                            <span class="ranking" v-if="index<=2"></span>
                                            <span class="ranking2" v-if="index>2">{{index+1}}</span>
                                            <img class="headImg"
                                                 :src="'${rc.contextPath}/statics/img/competeCenter/' + item.headImg">
                                            <span class="name">{{item.name}}</span>
                                            <span class="score">当前积分：<i
                                                    style="font-style: normal;">{{item.score}}</i></span>
                                        </li>
                                    </ul>
                                </el-tab-pane>
                                <el-tab-pane label="在线比武" name="second">在线比武</el-tab-pane>
                                <el-tab-pane label="擂台榜" name="third">擂台榜</el-tab-pane>
                            </el-tabs>
                        </div>
                    </el-col>
                </el-row>
            </el-scrollbar>
        </div>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/competition/competeCenter.js?_${.now?long}"></script>
</html>
