<!DOCTYPE html>
<html lang="en">
<head>
    <title>在线比武</title>
    <#include "/header.html">
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/sockjs.min.js"></script>
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/chat.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/leitaiGame.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="container">
        <button class="return_back" @click="goBack">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="integral">
            <p>积分 <span>{{coinNum}}</span></p>
        </div>
        <button class="rule_info" @click="ruleAreaShow = true">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_gonglue.png" alt="">
        </button>
        <!--规则-->
        <div class="model_area rule_area" v-if="ruleAreaShow">
            <div class="inner">
                <button class="close" @click="ruleAreaShow = false"></button>
                <div class="title"></div>
                <p>
                    规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则</p>
            </div>
        </div>
        <div style="height: 700px;" >
            <p>当前登录用户：{{u.fullName}}</p>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <p>擂主：{{leizhu}}</p>
            <br/>
            <p>我的得分：{{myscore}}</p>
            <br/>
            <p>对手的得分：{{youscore}}</p>
            <br/>
            <p>对手是否已答题：{{yesOrNoAnswer}}</p>
            <div class="inChatArea">
                <div id="chatSidebar" class="chatSidebar">
                    <h2 id="chatOnline">在线用户(0人)</h2>
                    <ul id="chatUserList">

                    </ul>
                </div>
                <div class="chatCon">
                    <div class="up" id="up" style="height: 180px;">
                        <ul id="contentUl">
                            <!-- <li><b>14:08</b><em>江山如此多娇</em><span>今天天气不大家出来嗨！！！！！</span></li>
                            -->
                        </ul>
                    </div>

                    <br/>

                    <div v-show="dialogQuestion">
                        一共{{allnum}}题，当前{{nownum}}题，当前题目分值{{nowQscore}}
                        <br/><br/>
                        [{{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}] {{Question.comContent}}
                        <br/>
                        <br/>
                        <el-radio-group v-model="answers" v-if="Question.questionType==10004 || Question.questionType==10006"
                        >
                            <el-radio :label="answer.id" v-for="answer in Question.answerList" :disabled="radio_disabled"
                                      @change="radioCheck(answer.id, Question.answerId, Question.questionType)" >
                                {{answer.questionContent}}
                            </el-radio>
                            <br/>
                        </el-radio-group>
                    </div>

                </div>

            </div>
        </div>




    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/competition/leitaiGame.js?_${.now?long}"></script>
</html>
