<!DOCTYPE html>
<html lang="en">
<head>
    <title>在线比武</title>
    <#include "/header.html">
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/sockjs.min.js"></script>
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/chat.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/leitaiGame.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="container" v-if="leitaiReady">
        <button class="return_back" @click="goBack">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="integral">
            <p>积分 <span>{{coinNum}}</span></p>
        </div>
        <button class="rule_info" @click="ruleAreaShow = true">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_gonglue.png" alt="">
        </button>


        <div class="userInfo clearfix">
            <div class="img">
                <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
            </div>
            <div class="txt">
                <h3>{{leizhu}}<sub>擂主</sub></h3>
                <p>积分：{{jifenByUser}}</p>
                <p>擂台次：{{winLeiTaiByUser}}</p>
            </div>
        </div>
        <!--擂台榜-->
        <!--<div class="list_area">-->
            <!--<div class="title">等待攻擂人数：20</div>-->
            <!--<ul>-->
                <!--<li class="clearfix">-->
                    <!--<div class="index">1</div>-->
                    <!--<div class="head">-->
                        <!--<img src="${rc.contextPath}/statics/img/dog.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div class="name">愤怒的企鹅</div>-->
                    <!--<div class="num">擂台次数：35</div>-->
                <!--</li>-->
                <!--<li class="clearfix">-->
                    <!--<div class="index">1</div>-->
                    <!--<div class="head">-->
                        <!--<img src="${rc.contextPath}/statics/img/dog.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div class="name">愤怒的企鹅</div>-->
                    <!--<div class="num">擂台次数：35</div>-->
                <!--</li>-->
                <!--<li class="clearfix">-->
                    <!--<div class="index">1</div>-->
                    <!--<div class="head">-->
                        <!--<img src="${rc.contextPath}/statics/img/dog.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div class="name">愤怒的企鹅</div>-->
                    <!--<div class="num">擂台次数：35</div>-->
                <!--</li>-->
                <!--<li class="clearfix">-->
                    <!--<div class="index">1</div>-->
                    <!--<div class="head">-->
                        <!--<img src="${rc.contextPath}/statics/img/dog.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div class="name">愤怒的企鹅</div>-->
                    <!--<div class="num">擂台次数：35</div>-->
                <!--</li>-->
                <!--<li class="clearfix">-->
                    <!--<div class="index">1</div>-->
                    <!--<div class="head">-->
                        <!--<img src="${rc.contextPath}/statics/img/dog.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div class="name">愤怒的企鹅</div>-->
                    <!--<div class="num">擂台次数：35</div>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class="my_list clearfix">-->
                <!--<div class="index">1</div>-->
                <!--<div class="head">-->
                    <!--<img src="${rc.contextPath}/statics/img/dog.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="name">愤怒的企鹅</div>-->
                <!--<div class="num">擂台次数：35</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--场上正在pk-->
        <div class="fighting" v-if="isFighting">
            <div class="img">
                <img src="${rc.contextPath}/statics/img/competeCenter/lei_double.png" alt="">
            </div>
            <h3>{{msg}}</h3>
            <!--<p>{{msg}}</p>-->
        </div>
        <!--加入pk-->
        <div class="join_pk" v-if="!isFighting">
            <div class="img">
                <img src="${rc.contextPath}/statics/img/competeCenter/lei_one.png" alt="">
            </div>
            <h3>加入功擂</h3>
        </div>
        <!--规则-->
        <div class="model_area rule_area" v-if="ruleAreaShow">
            <div class="inner">
                <button class="close" @click="ruleAreaShow = false"></button>
                <div class="title"></div>
                <p>规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则</p>
            </div>
        </div>
        <!--打擂胜利弹框-->
        <div class="model_area success_area">
            <div class="inner">
                <div class="vs_box clearfix">
                    <div class="left_box">
                        <div class="head">
                            <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                            <span>胜</span>
                        </div>
                        <p class="name">孙小康</p>
                        <p class="per">80%</p>
                        <p class="time">1分20秒</p>
                    </div>
                    <div class="mid_box">

                    </div>
                    <div class="right_box">
                        <div class="head">
                            <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                            <span>胜</span>
                        </div>
                        <p class="name">王帅奇</p>
                        <p class="per">18%</p>
                        <p class="time">1分20秒</p>
                    </div>
                </div>
                <h2>获得</h2>
                <p class="coin"></p>
                <div class="btn_area">
                    <button>结束</button>
                    <button>继续攻擂</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container container2" v-if="!leitaiReady">
        <button class="return_back" @click="goBack">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="timing">
            本题倒计时：<span>30</span>秒
        </div>
        <div class="questionArea">
            <div class="title">{{nownum}}/{{allnum}}题</div>
            <div class="questionType">
                [{{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}]
            </div>
            <p class="questionTitle">
                {{Question.comContent}}
            </p>
            <div class="left_progress">
                <div class="progress">
                    <div class="num">{{myscore}}</div>
                    <div class="line">
                        <div class="line_inner"></div>
                    </div>
                </div>

                <div class="head">
                    <div class="img">
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                    </div>
                    <div class="name">
                        {{play1}}
                    </div>
                </div>
            </div>
            <div class="right_progress">
                <div class="progress">
                    <div class="num">{{youscore}}</div>
                    <div class="line">
                        <div class="line_inner"></div>
                    </div>
                </div>
                <div class="head">
                    <div class="img">
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                    </div>
                    <div class="name">
                        {{play2}}
                    </div>
                </div>
            </div>
            <el-form :class="Question.questionType==10004?'radioStyle':''" :model="Question" v-show="dialogQuestion" ref="Question" label-width="100px" class="demo-Question" size="mini">
                <!--<el-checkbox-group v-model="answers" v-if="Question.questionType==10005">-->
                    <!--<el-checkbox :label="answer.id" v-for="answer in Question.answerList">-->
                        <!--{{answer.questionContent}}-->
                    <!--</el-checkbox>-->
                    <!--<br/>-->
                <!--</el-checkbox-group>-->

                <!--<el-button type="primary" v-if="Question.questionType==10005"-->
                           <!--@click="thisSubmit(Question.answerId)">提交-->
                <!--</el-button>-->


                <el-radio-group v-model="answers"
                                :disabled="radio_disabled">
                    <el-radio :label="answer.id" v-for="answer in Question.answerList"
                              @change="radioCheck(answer.id, Question.answerId, Question.questionType)">
                        {{answer.questionContent}}
                    </el-radio>
                </el-radio-group>

            </el-form>
        </div>
    </div>
    <div style="height: 700px;" v-if="false">
        <p>当前登录用户：{{u.fullName}}</p>
        <p>擂主：{{leizhu}}</p>
        <br/>
        <p>我的得分：{{myscore}}</p>
        <br/>
        <p>对手的得分：{{youscore}}</p>
        <br/>
        <p>对手是否已答题：{{yesOrNoAnswer}}</p>
        <div class="inChatArea">
            <div id="chatSidebar" class="chatSidebar">
                <h2 id="chatOnline">在线用户(0人)</h2>
                <ul id="chatUserList">

                </ul>
            </div>
            <div class="chatCon">
                <div class="up" id="up" style="height: 180px;">
                    <ul id="contentUl">
                        <!-- <li><b>14:08</b><em>江山如此多娇</em><span>今天天气不大家出来嗨！！！！！</span></li>
                        -->
                    </ul>
                </div>

                <br/>

                <div v-show="dialogQuestion">
                    一共{{allnum}}题，当前{{nownum}}题，当前题目分值{{nowQscore}}
                    <br/><br/>
                    [{{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}]
                    {{Question.comContent}}
                    <br/>
                    <br/>
                    <el-radio-group v-model="answers"
                                    v-if="Question.questionType==10004 || Question.questionType==10006"
                    >
                        <el-radio :label="answer.id" v-for="answer in Question.answerList" :disabled="radio_disabled"
                                  @change="radioCheck(answer.id, Question.answerId, Question.questionType)">
                            {{answer.questionContent}}
                        </el-radio>
                        <br/>
                    </el-radio-group>
                </div>

            </div>

        </div>
    </div>

</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/competition/leitaiGame.js?_${.now?long}"></script>
</html>
