<!DOCTYPE html>
<html lang="en">
<head>
    <title>在线比武</title>
    <#include "/header.html">
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/sockjs.min.js"></script>
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/chat.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/pkGame.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="container">
        <button class="return_back" @click="backPkMain">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="timing">
            本题倒计时：<span>30</span>秒
        </div>
        <div class="questionArea">
            <div class="title">{{nownum}}/{{allnum}}题</div>
            <div class="questionType">
                [{{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}]
            </div>
            <p class="questionTitle">
                {{Question.comContent}}
            </p>
            <div class="left_progress">
                <div class="progress">
                    <div class="num">{{myscore}}</div>
                    <div class="line">
                        <div class="line_inner"></div>
                    </div>
                </div>

                <div class="head">
                    <div class="img">
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                    </div>
                    <div class="name">
                        {{play1}}
                    </div>
                </div>
            </div>
            <div class="right_progress">
                <div class="progress">
                    <div class="num">{{youscore}}</div>
                    <div class="line">
                        <div class="line_inner"></div>
                    </div>
                </div>
                <div class="head">
                    <div class="img">
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                    </div>
                    <div class="name">
                        {{play2}}
                    </div>
                </div>
            </div>
            <el-form :class="Question.questionType==10004?'radioStyle':''" :model="Question" v-show="dialogQuestion" ref="Question" label-width="100px" class="demo-Question" size="mini">
                <!--<el-checkbox-group v-model="answers" v-if="Question.questionType==10005">-->
                <!--<el-checkbox :label="answer.id" v-for="answer in Question.answerList">-->
                <!--{{answer.questionContent}}-->
                <!--</el-checkbox>-->
                <!--<br/>-->
                <!--</el-checkbox-group>-->

                <!--<el-button type="primary" v-if="Question.questionType==10005"-->
                <!--@click="thisSubmit(Question.answerId)">提交-->
                <!--</el-button>-->


                <el-radio-group v-model="answers"
                                :disabled="radio_disabled">
                    <el-radio :label="answer.id" v-for="answer in Question.answerList"
                              @change="radioCheck(answer.id, Question.answerId, Question.questionType)">
                        {{answer.questionContent}}
                    </el-radio>
                </el-radio-group>

            </el-form>
        </div>
        <!--滚动匹配弹框-->
        <div class="model_area roll_area" v-if="rollAreaShow">
            <div class="inner">
                <div class="translate">
                    <ul :class="rollStop?'stop_roll':''">
                        <li v-for="name in nameList">{{name}}</li>
                    </ul>
                </div>

                <img src="${rc.contextPath}/statics/img/competeCenter/peidui_frame.png" alt="">
            </div>
        </div>


    </div>
    <el-row :gutter="24" v-if="false">
        <el-col :span="24">
            <el-tabs type="border-card">
                <el-tab-pane label="单人随机在线比武">
                    <div style="height: 700px;" >
                        <p>当前登录用户：{{u.fullName}}</p>
                        <br/>
                        <p>我的得分：{{myscore}}</p>
                        <br/>
                        <p>对手的得分：{{youscore}}</p>
                        <br/>
                        <p>对手是否已答题：{{yesOrNoAnswer}}</p>
                        <div class="inChatArea">
                            <div id="chatSidebar" class="chatSidebar">
                                <h2 id="chatOnline">在线用户(0人)</h2>
                                <ul id="chatUserList">

                                </ul>
                            </div>
                            <div class="chatCon">
                                <div class="up" id="up" style="height: 180px;">
                                    <ul id="contentUl">
                                        <!-- <li><b>14:08</b><em>江山如此多娇</em><span>今天天气不大家出来嗨！！！！！</span></li>
                                        -->
                                    </ul>
                                </div>

                                <br/>

                                <div v-show="dialogQuestion">
                                    一共{{allnum}}题，当前{{nownum}}题，当前题目分值{{nowQscore}}
                                    <br/><br/>
                                    [{{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}] {{Question.comContent}}
                                    <br/>
                                    <br/>
                                    <el-radio-group v-model="answers" v-if="Question.questionType==10004 || Question.questionType==10006"
                                    >
                                        <el-radio :label="answer.id" v-for="answer in Question.answerList" :disabled="radio_disabled"
                                                  @change="radioCheck(answer.id, Question.answerId, Question.questionType)" >
                                            {{answer.questionContent}}
                                        </el-radio>
                                        <br/>
                                    </el-radio-group>
                                </div>

                            </div>

                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </el-col>
    </el-row>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/competition/pkGame.js?_${.now?long}"></script>
</html>
