<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/rushLevel.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">

        <!--背景动画-->
        <div class="city_light"></div>
        <div class="build_third"></div>
        <div class="build_second"></div>
        <div class="build_fist"></div>



        <button class="return_back" @click="backMain">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="integral">
            <p>本次闯关积分 <span>{{coinNum}}</span></p>
        </div>
        <button class="rule_info" @click="ruleAreaShow=true">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_gonglue.png" alt="">
        </button>
        <ul class="level_list">
            <li :class="moveClass?'move_class':''" v-for="(list,index) in levelList" :key="index" v-show="list.indexName!=0&&!list.hide">
                <p :class="!index?'opacity0':''"><i></i> 100</p>
                <p>第{{list.indexName | capitalize}}关</p>
            </li>
            <li class="car" @click="jumpGame"></li>
        </ul>
        <!--规则-->
        <div class="model_area rule_area" v-if="ruleAreaShow">
            <div class="inner">
                <button class="close" @click="ruleAreaShow = false"></button>
                <div class="title"></div>
                <p>
                    规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则规则</p>
            </div>
        </div>
    </div>
</div>
</body>
<script src="${rc.contextPath}/js/competition/rushLevel.js?_${.now?long}"></script>
</html>