<!DOCTYPE html>
<html lang="en">
<head>
    <title>组队模式</title>
    <#include "/header.html">
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/sun-jsp/js/sockjs.min.js"></script>
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${rc.contextPath}/sun-jsp/css/chat.css" type="text/css" media="all" />
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/teamGame.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="container">
        <button class="return_back">
            <img src="${rc.contextPath}/statics/img/competeCenter/btn_return.png" alt="">
        </button>
        <div class="timing">
            本题倒计时：<span>30</span>秒
        </div>
        <div class="questionArea">
            <div class="title">1/2题</div>
            <div class="questionType">
                题型
            </div>
            <p class="questionTitle">
                阿斯蒂芬撒地方撒旦发士大夫撒旦
            </p>
            <div class="left_progress">
                <div class="progress">
                    <div class="num">12</div>
                    <div class="line">
                        <div class="line_inner"></div>
                    </div>
                </div>

                <div class="head">
                    <div class="img">
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                    </div>
                    <div class="name">
                        名字
                    </div>
                </div>
            </div>
            <div class="right_progress">
                <div class="progress">
                    <div class="num">11</div>
                    <div class="line">
                        <div class="line_inner"></div>
                    </div>
                </div>
                <div class="head">
                    <div class="img">
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                    </div>
                    <div class="name">
                        飞洒地方打算
                    </div>
                </div>
            </div>
            <el-form :class="Question.questionType==10004?'radioStyle':''" :model="Question" v-show="dialogQuestion" ref="Question" label-width="100px" class="demo-Question" size="mini">
                <!--<el-checkbox-group v-model="answers" v-if="Question.questionType==10005">-->
                <!--<el-checkbox :label="answer.id" v-for="answer in Question.answerList">-->
                <!--{{answer.questionContent}}-->
                <!--</el-checkbox>-->
                <!--<br/>-->
                <!--</el-checkbox-group>-->

                <!--<el-button type="primary" v-if="Question.questionType==10005"-->
                <!--@click="thisSubmit(Question.answerId)">提交-->
                <!--</el-button>-->


                <el-radio-group v-model="answers"
                                :disabled="radio_disabled">
                    <el-radio :label="answer.id" v-for="answer in Question.answerList"
                              @change="radioCheck(answer.id, Question.answerId, Question.questionType)">
                        {{answer.questionContent}}
                    </el-radio>
                </el-radio-group>

            </el-form>
        </div>




        <!--建立我的队伍-->
        <div class="model_area formation_area" v-if="formationTeamShow">
            <div class="inner">
                <div class="title"></div>
                <div class="btns">
                    <button>刷新</button>
                    <button @click="formationTeamExit">退出</button>
                </div>
                <ul class="users">
                    <li>
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                        <p>我</p>
                    </li>
                    <li>
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                        <p>发范德萨</p>
                    </li>
                    <li>
                        <img src="${rc.contextPath}/statics/img/dog.jpg" alt="">
                        <p>发范德萨</p>
                    </li>

                </ul>
                <p class="team_num"><span>组队编号：</span>123456</p>
                <p>恭喜您！队伍完成，冲啊~</p>
            </div>
        </div>
        <!--加入队伍-->
        <div class="model_area join_area" v-if="joinTeamShow">
            <div class="inner">
                <div class="title">加入他人队伍</div>
                <input type="text" placeholder="输入队伍编号">
            </div>
        </div>
    </div>

    <el-row :gutter="24">
        <el-col :span="24">
            <el-tabs type="border-card">
                <el-tab-pane label="组队模式" >
                    <div style="height: 700px;">

                        <p v-show="teamtype"><el-button id="exitBtn">退出</el-button></p>

                        <p v-show="teamtype"><el-button  id="addroom">创建对战房间</el-button></p>

                        <p v-show="teamtype"><el-button id="joinroom">code码加入对战房间</el-button></p>

                        <div id="joinroomDiv">
                            <input id="joinroomCode"> <button id="joinroomButton">进入</button>
                        </div>

                        <p v-show="teamtype2">我的分数：{{myScore}}</p>
                        <p >当前登录用户：{{u.fullName}}</p>
                        <p id="div1"></p>
                        <p v-show="teamtype">队伍code码：{{competitionTeam.teamCode}}</p>
                        <p v-show="teamtype2">房间code码：{{battlePlatform.battleCode}}</p>
                        <!--<p>当前登录用户：{{u.fullName}}</p>-->


                        <div class="inChatArea">
                            <div id="chatSidebar" class="chatSidebar">
                                <h2 id="chatOnline">队伍人员(0人)</h2>
                                <ul id="chatUserList">
                                    <!--  <li>bobo老师</li>
                                      -->
                                </ul>
                            </div>
                            <div class="chatCon">
                                <div class="up" id="up">
                                    <ul id="contentUl">
                                        <!-- <li><b>14:08</b><em>江山如此多娇</em><span>今天天气不大家出来嗨！！！！！</span></li>
                                        -->
                                    </ul>
                                </div>
                                <div class="down" v-show="teamtype">
                                    <textarea class="textInfo" id="msg" title="按ctrl+enter直接发送"></textarea>
                                    <el-button class="btn" id="sendBtn">发送</el-button>
                                </div>
                                <div class="down" v-show="dialogQuestion">
                                    一共{{allnum}}题，当前第{{nownum}}题，当前题目分值{{nowQscore}}
                                    <br/><br/>
                                    [{{Question.questionType==10004?'单选题':Question.questionType==10005?'多选题':'判断题'}}] {{Question.comContent}}
                                    <br/>
                                    <br/>
                                    <el-radio-group v-model="answers" v-if="Question.questionType==10004 || Question.questionType==10006"
                                    >
                                        <el-radio :label="answer.id" v-for="answer in Question.answerList" :disabled="radio_disabled"
                                                  @change="radioCheck(answer.id, Question.answerId, Question.questionType)" >
                                            {{answer.questionContent}}
                                        </el-radio>
                                        <br/>
                                    </el-radio-group>
                                </div>
                            </div>
                            <div  v-show="teamtype2" id="chatSidebar2" class="chatSidebar2">
                                <h2 id="chatOnline2">队伍人员(0人)</h2>
                                <ul id="chatUserList2">
                                    <!--  <li>bobo老师</li>
                                      -->
                                </ul>
                            </div>

                            <br/>


                        </div>


                    </div>
                </el-tab-pane>

            </el-tabs>
        </el-col>
    </el-row>


</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/competition/teamGame.js?_${.now?long}"></script>
</html>
