<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
    <style>
        .header-right ul{
            background: transparent;
        }
        .header-right ul li:after{
            content: '';
        }
        .el-menu--horizontal .el-menu-item,
        .el-menu--horizontal .el-submenu{
            float: left;
            height: 70px;
            /*line-height: 70px;*/
            margin: 0;
            border-bottom: 2px solid transparent;
            color: #fff;
        }
        .el-menu--horizontal>.el-submenu .el-submenu__title {
            height: 70px;
            /* line-height: 70px; */
            border-bottom: 2px solid transparent;
            color: #909399;
        }
        .header-right ul li a{
            text-align: center;
            padding: 0;
            /*margin: 10px 0;*/
            box-sizing: border-box;
            height: auto;
            display: inline-block;
        }
        .header-right .el-menu-item [class^=el-icon-],
        .header-right .el-submenu [class^=el-icon-],
        .el-menu--horizontal>.el-submenu .el-submenu__icon-arrow{
            font-size: 30px;
            color: #fff;
        }
        /*.header-right .el-submenu [class^=el-icon-]*/
        .header-right ul li a span{
            display: block;
            margin-top: -10px;
            line-height: 10px;
        }
        .header-right .el-menu-item:hover a,
        .header-right .el-submenu:hover a,
        .header-right .el-menu-item:hover [class^=el-icon-],
        .header-right .el-submenu:hover [class^=el-icon-],
        .header-right .el-submenu:hover .el-submenu__title [class^=el-icon-]{
            color: #909399;
        }
        .el-submenu__icon-arrow{
            margin-top: 16px;
        }
        .el-menu--horizontal .el-menu .el-menu-item a{
            color: #909399;
        }
        .el-menu--horizontal .el-menu .el-menu-item a:hover{
            color: #000;
        }
        .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
            background-color: #fff;
            float: none;
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            color: #909399;
            display: inline-block;//悬浮块横向显示
        }
        .row-expand-cover td:first-child div{
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div>
                        <div class="info_btn">
                            <el-button size="mini" type="primary" @click="add"><i class="iconfont icon-htmal5icon18"></i>新增</el-button>
                        </div>
                        <el-table @expand-change="change"
                                :data="tableData"
                                border
                                style="width: 100%"
                                :row-class-name="getRowClass">
                            <el-table-column type="expand">
                                <el-table
                                        :data="childData"
                                        @expand-change="changeTwo"
                                        border
                                        style="width: 100%"
                                        :row-class-name="getRowClass">
                                    <el-table-column type="expand">
                                        <el-table
                                                :data="childDataTwo"
                                                border
                                                style="width: 100%">
                                            <el-table-column
                                                    prop="name"
                                                    label="名称"
                                                    width="280"
                                                    header-align="center"
                                                    align="center">
                                            </el-table-column>
                                            <el-table-column
                                                    label="图标"
                                                    width="80"
                                                    header-align="center"
                                                    align="center">
                                                <template slot-scope="scope">
                                                    <i class="iconfont" :class="scope.row.icon ? scope.row.icon:'icon-085shucezhongxin'" style="color: #000000"></i>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="url"
                                                    label="路由"
                                                    header-align="center"
                                                    align="center">
                                            </el-table-column>
                                            <el-table-column
                                                    prop="type"
                                                    label="类型"
                                                    width="80"
                                                    header-align="center"
                                                    align="center"
                                            >
                                                <template slot-scope="scope">
                                                    {{scope.row.type == 0 ? "目录" : scope.row.type == 1 ? "菜单" : "按钮"}}
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="perms"
                                                    label="授权标识"
                                                    header-align="center"
                                                    align="center"
                                                    width="170">
                                            </el-table-column>
                                            <el-table-column
                                                    label="操作"
                                                    header-align="center"
                                                    align="center"
                                            >
                                                <template slot-scope="scope">
                                                    <el-popover
                                                            placement="right"
                                                            trigger="hover"
                                                            content="编辑">
                                                        <i class="iconfont icon-xiugaimima tabIcon"
                                                           slot="reference"
                                                           @click="edit(scope.row.id)"
                                                           style="color: #119e0a;"
                                                        >
                                                        </i>
                                                    </el-popover>
                                                    <el-popover
                                                            placement="right"
                                                            trigger="hover"
                                                            content="删除">
                                                        <i class="iconfont icon-tubiaozhizuo- tabIcon"
                                                           slot="reference"
                                                           @click="remove(scope.row.id, scope.row.type)"
                                                           style="color: #e31313;"
                                                        >
                                                        </i>
                                                    </el-popover>
                                                </template>
                                            </el-table-column>
                                        </el-table>
                                    </el-table-column>
                                    <el-table-column
                                            prop="name"
                                            label="名称"
                                            width="280"
                                            header-align="center"
                                            align="center">
                                    </el-table-column>
                                    <el-table-column
                                            label="图标"
                                            width="80"
                                            header-align="center"
                                            align="center">
                                        <template slot-scope="scope">
                                            <i class="iconfont" :class="scope.row.icon ? scope.row.icon:'icon-085shucezhongxin'" style="color: #000000"></i>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            prop="url"
                                            label="路由"
                                            header-align="center"
                                            align="center"
                                            width="280">
                                    </el-table-column>
                                    <el-table-column
                                            prop="type"
                                            label="类型"
                                            width="80"
                                            header-align="center"
                                            align="center"
                                    >
                                        <template slot-scope="scope">
                                            {{scope.row.type == 0 ? "目录" : scope.row.type == 1 ? "菜单" : "按钮"}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            prop="perms"
                                            label="授权标识"
                                            header-align="center"
                                            align="center"
                                            width="170">
                                    </el-table-column>
                                    <el-table-column
                                            label="操作"
                                            header-align="center"
                                            align="center"
                                    >
                                        <template slot-scope="scope">
                                            <el-popover
                                                    placement="right"
                                                    trigger="hover"
                                                    content="编辑">
                                                <i class="iconfont icon-xiugaimima tabIcon"
                                                   slot="reference"
                                                   @click="edit(scope.row.id)"
                                                   style="color: #119e0a;"
                                                >
                                                </i>
                                            </el-popover>
                                            <el-popover
                                                    placement="right"
                                                    trigger="hover"
                                                    content="删除">
                                                <i class="iconfont icon-tubiaozhizuo- tabIcon"
                                                   slot="reference"
                                                   @click="remove(scope.row.id, scope.row.type)"
                                                   style="color: #e31313;"
                                                >
                                                </i>
                                            </el-popover>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="名称"
                                    width="280"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    label="图标"
                                    width="80"
                                    header-align="center"
                                    align="center">
                                <template slot-scope="scope">
                                    <i class="iconfont" :class="scope.row.icon ? scope.row.icon:'icon-085shucezhongxin'" style="color: #000000"></i>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="url"
                                    label="路由"
                                    header-align="center"
                                    align="center"
                                    width="280">
                            </el-table-column>
                            <el-table-column
                                    label="类型"
                                    width="80"
                                    header-align="center"
                                    align="center"
                            >
                                <template slot-scope="scope">
                                    {{scope.row.type == 0 ? "目录" : scope.row.type == 1 ? "菜单" : "按钮"}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="perms"
                                    label="授权标识"
                                    header-align="center"
                                    align="center"
                                    width="170">
                            </el-table-column>
                            <el-table-column
                                    label="操作"
                                    header-align="center"
                                    align="center"
                            >
                                <template slot-scope="scope">
                                    <el-popover
                                            placement="right"
                                            trigger="hover"
                                            content="编辑">
                                        <i class="iconfont icon-xiugaimima tabIcon"
                                           slot="reference"
                                           @click="edit(scope.row.id)"
                                           style="color: #119e0a;"
                                        >
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            placement="right"
                                            trigger="hover"
                                            content="删除">
                                        <i class="iconfont icon-tubiaozhizuo- tabIcon"
                                           slot="reference"
                                           @click="remove(scope.row.id, scope.row.type)"
                                           style="color: #e31313;"
                                        >
                                        </i>
                                    </el-popover>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>

        <el-dialog title="菜单维护" :visible.sync="dialogConfig" :before-close="closeDia">
            <el-col :span="24">
                <el-form :model="sysMenu" :rules="rules" ref="sysMenu" label-width="100px" class="demo-sysDict" size="mini">
                    <el-form-item label="类型：">
                        <el-radio-group v-model="sysMenu.type" @change="typeChange">
                            <el-radio :label="0">目录</el-radio>
                            <el-radio :label="1">菜单</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="名称：" prop="name">
                        <el-input v-model="sysMenu.name" placeholder="请输入菜单名称" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="上级菜单：">
                        <el-popover
                                ref="menuListPopover"
                                placement="bottom-start"
                                trigger="click"
                        >
                            <el-tree
                                    :data="parentData"
                                    node-key="sysMenu.id"
                                    :default-expand-all="false"
                                    :highlight-current="true"
                                    :props="defaultProps"
                                    :expand-on-click-node="false"
                                    @node-click="nodeCheck"
                            >
                            </el-tree>
                            <el-input v-popover:menuListPopover v-model="nodeName" slot="reference" :readonly="true" placeholder="点击选择上级菜单"></el-input>
                        </el-popover>
                    </el-form-item>
                    <el-form-item label="路由：" prop="url">
                        <el-input v-model="sysMenu.url" placeholder="请输入菜单路由" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="排序：">
                        <el-input type="number" v-model="sysMenu.orderNum" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="授权标识：">
                        <el-input v-model="sysMenu.perms" placeholder="多个用逗号分隔" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="图标：">
                        <el-input v-model="sysMenu.icon" clearable></el-input>
                    </el-form-item>
                </el-form>
            </el-col>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel">取消</el-button>
                <el-button type="primary" @click="save('sysMenu')">保存</el-button>
            </div>

        </el-dialog>
    </div>
</div>
</body>

<script src="${rc.contextPath}/js/sys/sysmenu.js?_${.now?long}"></script>
</html>
