<!DOCTYPE html>
<html lang="en">
<head>
    <title>消息设置 | Sinorock</title>
    <#include "/header.html">
    <style>
        .el-col{
            min-height: 45px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>站内信设置</el-breadcrumb-item>
        </el-breadcrumb>
        <div>
            <div class="info_btn">
                <el-button size="mini" type="primary" @click="addConfig"><i class="iconfont icon-htmal5icon18"></i>新增</el-button>
            </div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <!--<el-table-column-->
                        <!--prop="id"-->
                        <!--label="序号"-->
                        <!--width="150"-->
                <!--&gt;-->
                <!--</el-table-column>-->
                <el-table-column
                        label="序号"
                        type="index"
                        header-align="center"
                        align="center"
                        width="50">
                </el-table-column>
                <el-table-column
                        prop="title"
                        label="消息标题"
                >
                </el-table-column>

                <!--<el-table-column-->
                        <!--prop="content"-->
                        <!--label="消息内容"-->
                <!--&gt;-->
                <!--</el-table-column>-->
                <el-table-column
                        prop="recievePeopleNmae"
                        width="100"
                        label="接收人"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        prop="recieveDate"
                        label="创建时间"
                        width="180"
                        align="center"
                >
                </el-table-column>
                <el-table-column
                        prop="releaseDate"
                        label="发送时间"
                        width="180"
                        align="center"
                >
                </el-table-column>

                <el-table-column
                        prop="noticeType"
                        label="消息类型"
                        width="100"
                        align="center"
                >
                </el-table-column>

                <el-table-column
                        prop="releaseState"
                        label="状态"
                        width="100"
                        header-align="center"
                        align="center"
                        >
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.releaseState === '0'" size="small" type="danger">未发送</el-tag>
                        <el-tag v-else size="success">已发送</el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <!--<el-button
                                :disabled="'1'===scope.row.releaseState"
                                size="mini"
                                @click="send(scope.$index, scope.row)">发送
                        </el-button>-->
                        <el-popover
                                v-if="'0'===scope.row.releaseState"
                                placement="top-start"
                                trigger="hover"
                                content="发送">
                            <i class="iconfont tabIcon"
                               slot="reference"
                               @click="lookMsg(scope.$index, scope.row)"
                               style="color: #1381e3;font-size: 12px;">&#xe670;
                            </i>
                        </el-popover>
                        <el-popover
                                placement="top-start"
                                trigger="hover"
                                content="查看">
                            <i class="iconfont icon-chakan tabIcon"
                               slot="reference"
                               @click="lookMsg(scope.$index, scope.row)"
                               style="color: #1381e3;font-size: 12px;">
                            </i>
                        </el-popover>

                        <el-popover
                                v-if="'1'!=scope.row.releaseState"
                                placement="top-start"
                                trigger="hover"
                                content="编辑">
                            <i class="iconfont icon-xiugaimima tabIcon"
                               slot="reference"
                               @click="handleEdit(scope.$index, scope.row)"
                               style="color: #119e0a;" >
                            </i>
                        </el-popover>
                        <el-popover
                                v-if="'1'!=scope.row.releaseState"
                                placement="top-start"
                                trigger="hover"
                                content="删除">
                            <i class="iconfont icon-tubiaozhizuo- tabIcon"
                               slot="reference"
                               @click="handleDel(scope.$index, scope.row)"
                               style="color: #e31313;" >
                            </i>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="formInline.currPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="formInline.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="formInline.totalCount">
            </el-pagination>
        </div>


        <el-dialog :title="title02" :visible.sync="dialogConfig" :before-close="closeDia">
            <el-form :model="sysMsg" :rules="rules" ref="sysMsg" label-width="100px" class="demo-sysMsg"
                     size="mini">
                <el-col :span="24">
                    <el-form-item label="消息标题：" prop="title">
                        <el-input v-model="sysMsg.title" placeholder="请输入消息标题" clearable></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="24">
                    <el-form-item label="消息类型：" prop="noticeType">
                        <el-select v-model="sysMsg.noticeType"
                                   placeholder="消息类型"
                                   clearable>
                            <el-option label="系统消息" value="10008">系统消息</el-option>
                            <el-option label="管理员消息" value="10009">管理员消息</el-option>
                        </el-select>
                    </el-form-item>


                </el-col>

                <!--<el-col :span="11">
                    <el-form-item label="发布单位：" prop="releaseDept">
                        <el-input v-model="sysMsg.releaseDept" placeholder="请输入发布单位" clearable></el-input>
                    </el-form-item>
                </el-col>-->
                <el-col :span="24">
                    <el-form-item label="消息内容：" prop="content">
                        <template>
                            <el-input   type="textarea"  v-model="sysMsg.content" @change="handleChange" :min="0" :max="10000"
                                      placeholder="请输入消息内容"></el-input>
                        </template>
                    </el-form-item>
                </el-col>


                <el-col :span="24">
                    <el-form-item label="发布人：" >
                        <el-input v-model="sysMsg.releasePeopleName" disabled></el-input>
                    </el-form-item>
                </el-col>
                <!--<el-col :span="11">-->
                <!--&lt;!&ndash;<el-form-item label="接收单位：" prop="recieveDept">-->
                <!--&lt;!&ndash;对于同一级的节点，每次只能展开一个&ndash;&gt;-->
                <!--<el-tree-->
                <!--:data="treeData"-->
                <!--:props="defaultProps"-->
                <!--accordion-->
                <!--@node-click="handleNodeClick">-->
                <!--</el-tree>-->
                <!--<el-input v-model="sysMsg.recieveDept" placeholder="请选择接收单位" clearable>-->
                <!--</el-input>-->
                <!--</el-form-item>&ndash;&gt;-->
                <!--<el-form-item label="接收部门" prop="deptName">-->
                <!--<el-input v-model="sysMsg.recieveDept" @focus="chooseDept" placeholder="请选择接收部门"-->
                <!--clearable></el-input>-->
                <!--</el-form-item>-->
                <!--</el-col>-->
                <el-col :span="24">
                    <el-form-item label="接收人：" prop="userName">
                        <el-input v-model="sysMsg.userName" @focus="chooseUser" placeholder="请输接收人"
                                  clearable></el-input>
                    </el-form-item>
                </el-col>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="closeDia">取消</el-button>
                <el-button type="primary" @click="saveOrUpdate('sysMsg')">保存</el-button>
            </div>
        </el-dialog>


        <el-dialog title="选择法律分类" :visible.sync="dialogDept">
            <!--对于同一级的节点，每次只能展开一个-->
            <el-tree
                    ref="deptTree"
                    :data="deptData"
                    :props="defaultProps"
                    accordion
                    node-key="id"
                    show-checkbox
                    @check-change="handleCheckChange">
            </el-tree>
            <el-button type="primary" size="mini" @click="confimDept">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelDept">取消</el-button>
        </el-dialog>

        <el-dialog title="选择人员" :visible.sync="dialogUser" class="dialog_minW750">
            <!--对于同一级的节点，每次只能展开一个-->
            <div>
                <el-col :span="6">
                    <el-scrollbar wrap-class="depList" wrap-style="color: red;" view-style="font-weight: bold;"
                                  view-class="view-box" :native="false">
                        <el-tree
                                :data="userData"
                                :props="defaultUserProps"
                                accordion
                                node-key="id"
                                :default-expanded-keys="idArr"
                                @node-click="handleDeptNodeClick">
                        </el-tree>
                    </el-scrollbar>
                </el-col>

                <el-col :span="18" class="paddingLeft20">
                    <el-form :inline="true" :model="userForm" ref="userForm" class="demo-form-inline">
                        <el-form-item prop="userCode">
                            <el-input v-model="userForm.userCode" placeholder="身份证号" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item prop="userName">
                            <el-input v-model="userForm.userName" placeholder="用户名" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="searchUser" size="mini">查询</el-button>
                            <el-button @click="resetForm('userForm')" size="mini">重置</el-button>
                        </el-form-item>
                    </el-form>
                    <div>
                        <el-table
                                :data="userTableData"
                                border
                                height="529"
                                @selection-change="handleSelectionChange"
                                style="width: 100%">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                    prop="userCode"
                                    label="身份证号"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="userName"
                                    label="姓名"
                                    width="280"
                            >
                            </el-table-column>

                        </el-table>
                        <el-pagination
                                @size-change="userHandleSizeChange"
                                @current-change="userHandleCurrentChange"
                                :current-page="userForm.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="userForm.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="userForm.totalCount">
                        </el-pagination>
                    </div>
                </el-col>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button size="mini" @click="cancelUser">取消</el-button>
                <el-button type="primary" size="mini" @click="confimUser">保存</el-button>
            </div>
        </el-dialog>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/sys/sysMsg.js?_${.now?long}"></script>
</html>
