<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>

    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        </el-breadcrumb>

        <div class="info_btn">
            <el-button size="mini" type="primary" @click="addRole"><i class="iconfont icon-htmal5icon18"></i>新增角色</el-button>
        </div>
        <div>
            <el-table
                    :data="tableData"
                    border
                    style="width: 100%">
                <el-table-column
                        type="index"
                        width="50"
                        label="序号"
                        align="center"
                        :index="indexMethod">
                </el-table-column>
                <el-table-column
                        prop="roleName"
                        label="角色名称"
                        align="center"
                        width="400">
                </el-table-column>
                <el-table-column
                        prop="remark"
                        label="备注"
                        align="center"
                        width="280">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="创建时间"
                        align="center"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="active"
                        label="操作" align="center">
                    <template slot-scope="scope">

                        <el-popover
                                placement="top-start"
                                trigger="hover"
                                content="编辑">
                            <i class="el-icon-edit"
                               slot="reference"
                               @click="handleEdit(scope.$index, scope.row)"
                               style="color: #e31313;cursor: pointer;padding: 0 20px;font-size: 18px"
                            >
                            </i>
                        </el-popover>
                        <el-popover
                                placement="top-start"
                                trigger="hover"
                                content="删除">
                            <i class="iconfont icon-tubiaozhizuo-"
                               slot="reference"
                               @click="handleDel(scope.$index, scope.row)"
                               style="color: #e31313;cursor: pointer;padding: 0 20px;font-size: 18px"
                            >
                            </i>
                        </el-popover>
                        <el-popover
                                placement="top-start"
                                trigger="hover"
                                content="查看详情">
                            <i class="iconfont icon-chakan"
                               @click="handleWatch(scope.$index, scope.row)"
                               slot="reference"
                               style="color: #1381e3;cursor: pointer;padding: 0 20px;font-size: 12px"
                            >
                            </i>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="inline.pageNo"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="inline.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="inline.count">
            </el-pagination>
        </div>

        <el-dialog :title="title" :visible.sync="dialogFormVisible" :before-close="closeDia">
            <el-form :model="form" :rules="rules" ref="form">
                <el-row>
                    <el-col :span="11">
                        <el-form-item label="角色名称" :label-width="formLabelWidth" prop="roleName">
                            <el-input :disabled="isEdit" v-model="form.roleName" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="备注" :label-width="formLabelWidth">
                            <el-input :disabled="isEdit" v-model="form.remark" autocomplete="off"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <h3>功能权限</h3>
                        <el-tree
                                ref="tree1"
                                :data="treeData1"
                                show-checkbox
                                node-key="id"
                                :default-expanded-keys="[]"
                                :default-checked-keys="form.menuList"
                                :props="defaultProps"
                                >
                        </el-tree>
                    </el-col>
                    <el-col :span="18">
                        <h3>数据权限</h3>
                        <el-tree
                                ref="tree2"
                                :data="treeData2"
                                show-checkbox
                                node-key="id"
                                :default-expanded-keys="[2079]"
                                :default-checked-keys="form.orgList"
                                :props="defaultProps2">
                        </el-tree>
                    </el-col>
                </el-row>

            </el-form>
            <div slot="footer" class="dialog-footer" :label-width="formLabelWidth">
                <el-button @click="closeDia">取 消</el-button>
                <el-button v-if="!isEdit" type="primary" @click="save('form')">提交入库</el-button>
            </div>
        </el-dialog>

    </div>
</div>
</body>
<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/sys/sysRole.js?_${.now?long}"></script>
</html>