<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>
.preview h2{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.part{
    padding: 0 20px;

}
.part h4{
    line-height: 30px;
}
.part p{
    line-height: 20px;
}
.part .left{
    float: left;
    width: 80%;
}
.part .right{
    float: right;
    width: 20%;
    padding: 50px 0 0 30px;
}
</style>
<body>
<div id="app" v-cloak>
    <div class="header">
        <div class="header-left">
            <img src="${rc.contextPath}/statics/img/logo.png">
            <a href="javascript:;">江苏省公安机关网上法律学校</a>
        </div>
        <div class="header-right">
            <ul>
                <li v-for="item in navData">
                    <a>
                        <i :class="item.icon"></i>
                        <p><a href="javascript:;">{{item.name}}</a></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
            <el-form :model="examConfig" :rules="rules" ref="examConfig" label-width="100px" class="demo-examConfig"
                     size="mini">
                <el-row>
                    <el-col :span="22">
                        <el-form-item label="考试名称：" prop="examName">
                            <el-input v-model="examConfig.examName" placeholder="请输入考试名称" clearable
                            ></el-input>
                        </el-form-item>
                    </el-col>

                    <el-col :span="24">
                        <el-form-item label="考试类型：" prop="examType">
                            <el-select v-model="examConfig.examType"
                                       collapse-tags
                                        style="width: auto"
                                       placeholder="请选择考试类型" size="mini">
                                <el-option v-for="item in etOption"
                                           :key="item.key"
                                           :label="item.value"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="专项知识：" prop="specialKnowledgeId">
                            <el-select v-model="examConfig.list" size="mini"
                                       multiple collapse-tags style="width: auto" placeholder="多选">
                                <el-option v-for="item in skOption" :key="item.key"
                                           :label="item.value" :value="item.key"></el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="组卷方式：" prop="groupForm">
                            <el-select v-model="examConfig.groupForm"
                                       collapse-tags
                                       style="width: auto"
                                       placeholder="请选择组卷方式" size="mini">
                                <el-option v-for="item in gfOption"
                                           :key="item.key"
                                           :label="item.value"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="是否必考：" prop="isMustTest">
                                <el-radio v-for="item in imtOption" v-model="examConfig.isMustTest" :label="item.key">{{item.value}}</el-radio>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="出题方式：" prop="questionWay">
                            <el-select v-model="examConfig.questionWay"
                                       placeholder="请选择出題方式" size="mini" @change="openDiffModal($event)" @focus="openDiffModal($event)">
                                <el-option v-for="item in qwOption"
                                           :key="item.key"
                                           :label="item.value"
                                           :value="item.key"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="题目顺序：" prop="topicOrderType">
                            <el-radio v-for="item in otOption" v-model="examConfig.topicOrderType" :label="item.key">{{item.value}}</el-radio>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="选项顺序：" prop="optionOrderType">
                            <el-radio v-for="item in otOption" v-model="examConfig.optionOrderType" :label="item.key">{{item.value}}</el-radio>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="开始时间：" prop="startTime">
                            <el-date-picker
                                    v-model="examConfig.startTime"
                                    type="datetime"
                                    placeholder="选择考试开始时间"
                                    style="width: auto">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="结束时间：" prop="endTime">
                            <el-date-picker
                                    v-model="examConfig.endTime"
                                    type="datetime"
                                    placeholder="选择考试结束时间"
                                    style="width: auto">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="考试时长：" prop="examTime">
                            <template>
                                <el-input-number v-model="examConfig.examTime"  :min="1" :max="1000" label="请输入考试时长">
                                </el-input-number>分钟
                            </template>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="显示答案：" prop="answerShowRule" style="width: auto">
                            <el-select v-model="examConfig.answerShowRule"
                                       collapse-tags
                                       style="width: auto"
                                       placeholder="请选择显示答案规则" size="mini">
                                <el-option v-for="item in asuOption"
                                           :key="item.key"
                                           :label="item.value"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="考试总分：" prop="examScore">
                            <template>
                                <el-input-number v-model="examConfig.examScore" :min="1" :max="1000" label="请输入考试时长">
                                </el-input-number>分
                            </template>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="达标线：" prop="passPnt">
                            <template>
                                <el-input-number v-model="examConfig.passPnt" :min="1" :max="1000" label="请输入考试时长">
                                </el-input-number>分
                            </template>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="达标奖励：" prop="reachRewardType">
                            <el-select v-model="examConfig.reachRewardType"
                                       collapse-tags
                                       style="width: auto"
                                       placeholder="请选择奖励内容" size="mini">
                                <el-option v-for="item in rrtOption"
                                           :key="item.key"
                                           :label="item.value"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="奖励分数：" prop="reachReward">
                            <template>
                                <el-input-number v-model="examConfig.reachReward"  :min="0" :max="1000" label="请输入">
                                </el-input-number>分
                            </template>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="组考单位：" prop="organizedOrgCode">
                            <el-input v-model="examConfig.organizedOrgCode" readonly @focus="chooseOrgDept" placeholder="请选择使用部门" clearable></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item label="阅卷方式：" prop="checkType">
                            <el-select v-model="examConfig.checkType"
                                       collapse-tags
                                       style="width: auto"
                                       placeholder="请选择阅卷方式" size="mini">
                                <el-option v-for="item in ctOption"
                                           :key="item.key"
                                           :label="item.value"
                                           :value="item.key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="状态" prop="status">
                            <el-switch v-model="examConfig.status" active-text="有效" inactive-text="无效" active-value="1"
                                       inactive-value="0"></el-switch>
                        </el-form-item>
                    </el-col>
                    <el-col :span="11">
                    <el-form-item label="使用部门" prop="deptName">
                        <el-input v-model="examConfig.deptName" readonly @focus="chooseDept" placeholder="请选择使用部门" clearable></el-input>
                    </el-form-item>
                    </el-col>
                    <el-col :span="11">
                    <el-form-item label="使用人员" prop="userName">
                        <el-input v-model="examConfig.userName" readonly @focus="chooseUser" placeholder="请选择使用人员" clearable></el-input>
                    </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item label="备注" prop="remark">
                            <el-input type="textarea" maxlength="200" v-model="examConfig.remark"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="24">
                        <el-form-item>
                            <el-button type="primary" @click="preview('testPaper')">预览</el-button>
                            <el-button type="primary" @click="generate('examConfig')">生成</el-button>
                        </el-form-item>

                    </el-col>
                </el-row>
            </el-form>
        <el-dialog :title="title" width="80%" :visible.sync="randomQuesModal" :before-close="closeDia">
            <template>
                <!--<div class="main">-->

                    <el-button type="primary" @click="handleAdd" size="mini">新增</el-button>
                    <el-button type="danger" @click="handleDelete(dataListSelections)"
                               :disabled="dataListSelections.length <= 0" size="mini">批量删除
                    </el-button>
                    <el-button type="button" @click="handleSave(randomQuesData)" size="mini">保存</el-button>
                    <el-table
                            :data="randomQuesData"
                            height="250"
                            border
                            style="width: 100%"
                            @selection-change="selectionChangeHandle">
                        <el-table-column
                                type="selection"
                                header-align="center"
                                align="center"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="specialKnowledgeId"
                                label="知识点"
                                width="180">
                            <template slot-scope="scope">
                                <el-select v-model="scope.row.specialKnowledgeId" placeholder="请选择" size="mini" clearable>
                                    <el-option
                                            v-for="item in skOption"
                                            :key="item.key"
                                            :label="item.value"
                                            :value="item.key">
                                    </el-option>
                                </el-select>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="questionType"
                                label="题型"
                                width="180">
                            <template slot-scope="scope">
                                <el-select v-model="scope.row.questionType" placeholder="请选择" size="mini" clearable>
                                    <el-option
                                            v-for="item in qtOption"
                                            :key="item.key"
                                            :label="item.value"
                                            :value="item.key">
                                    </el-option>
                                </el-select>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="questionNumber"
                                label="数量"
                                width="180">
                            <template slot-scope="scope">
                                <el-input v-model="scope.row.questionNumber" placeholder="请输入内容" size="mini" clearable></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="questionScore"
                                label="分值">
                            <template slot-scope="scope">
                                <el-input v-model="scope.row.questionScore" placeholder="请输入内容" size="mini" clearable></el-input>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                header-align="center"
                                align="center"
                                width="180">
                            <template slot-scope="scope">
                                <el-button
                                        plain
                                        type="danger"
                                        size="mini"
                                        @click="handleDel(scope.$index,randomQuesData)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
            </template>
        </el-dialog>

        <el-dialog title="自主出题" :visible.sync="autonomyQuesModal" :before-close="closeDia">
            <!--<el-transfer-->
                    <!--filterable-->
                    <!--:filter-method="filterMethod"-->
                    <!--filter-placeholder="请输入拼音"-->
                    <!--v-model="value2"-->
                    <!--:data="data2"-->
                    <!--:titles="titleArr"-->
                    <!--target-order="push">-->
            <!--</el-transfer>-->
            <el-transfer v-model="value2" :data="data2" @change="getTestQue"></el-transfer>
            <el-button type="primary" size="mini" @click="mineQueSave">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelDept">取消</el-button>
        </el-dialog>


        <el-dialog title="组考单位" :visible.sync="dialogCompany" >
            <!--对于同一级的节点，每次只能展开一个-->
            <el-tree
                    ref="deptTree"
                    :data="deptData"
                    :props="defaultDeptProps"
                    accordion
                    @node-click="CompanyClick"
                    node-key="id"
                    :default-expanded-keys="[2079]"
            >
            </el-tree>
            <el-button type="primary" size="mini" @click="saveCompany">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelDept">取消</el-button>
        </el-dialog>
        <el-dialog title="选择部门" :visible.sync="dialogDept" >
            <!--对于同一级的节点，每次只能展开一个-->
            <el-tree
                    ref="deptTree"
                    :data="deptData"
                    :props="defaultDeptProps"
                    accordion
                    show-checkbox
                    @check-change="handleCheckChange"
                    node-key="id"
                    :default-expanded-keys="[2079]"
                    :default-checked-keys="deptCheckData"
            >
            </el-tree>
            <el-button type="primary" size="mini" @click="confimDept">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelDept">取消</el-button>
        </el-dialog>

        <el-dialog title="选择人员" :visible.sync="dialogUser" >
            <!--对于同一级的节点，每次只能展开一个-->
            <el-row>
                <el-col :span="4">
                    <el-tree
                            :data="userData"
                            :props="defaultUserProps"
                            accordion
                            @node-click="handleDeptNodeClick">
                    </el-tree>
                </el-col>

                <el-col :span="20">
                    <el-tabs type="border-card">
                        <el-tab-pane label="检索">
                            <el-form :inline="true" :model="userForm" ref="userForm" class="demo-form-inline">

                                <el-form-item prop="userCode">
                                    <el-input v-model="userForm.userCode" placeholder="身份证号" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item prop="userName">
                                    <el-input v-model="userForm.userName" placeholder="用户名" size="mini"></el-input>
                                </el-form-item>

                                <el-form-item>
                                    <el-button type="primary" @click="searchUser" size="mini">查询</el-button>
                                    <el-button @click="resetForm('userForm')" size="mini">重置</el-button>

                                </el-form-item>
                            </el-form>
                            <div>
                                <el-table
                                        :data="userTableData"
                                        border
                                        @selection-change="handleSelectionChange"
                                        style="width: 100%">
                                    <el-table-column
                                            type="selection"
                                            width="55">
                                    </el-table-column>
                                    <el-table-column
                                            prop="userCode"
                                            label="身份证号"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="userName"
                                            label="姓名"
                                            width="280"
                                    >
                                    </el-table-column>

                                </el-table>
                                <el-pagination
                                        @size-change="userHandleSizeChange"
                                        @current-change="userHandleCurrentChange"
                                        :current-page="userForm.currPage"
                                        :page-sizes="[10, 20, 30, 40]"
                                        :page-size="userForm.pageSize"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="userForm.totalCount">
                                </el-pagination>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                    <el-button type="primary" size="mini" @click="confimUser">保存</el-button>
                    <el-button type="primary" size="mini" @click="cancelUser">取消</el-button>
                </el-col>
            </el-row>

        </el-dialog>
        <el-dialog class="preview" title="预览" :visible.sync="dialogWatch" >
            <!--对于同一级的节点，每次只能展开一个-->
            <h2>2018年第四季度执法资格考试</h2>
            <div class="subTitle">
                <h3>一、单项选择题。每题所设选项中只有一个正确答案，多选、错选或不选均不得分。本部分含1—50题，每题1分，共50分。</h3>
            </div>
            <div v-for="item in previewList" class="swiper-slide">
                [{{item.questionType==4?'单选题':item.questionType==5?'多选题':'判断题'}}] {{item.comContent}}
                <br/>
                <br/>
                <el-checkbox-group v-model="answers" v-if="item.questionType==10005">
                    <el-checkbox :label="item2.id" v-for="item2 in item.answer">{{item2.questionContent}}</el-checkbox>
                    <br/>
                </el-checkbox-group>

                <el-radio-group v-model="answers"
                                v-if="item.questionType==10004 || item.questionType==6"
                                :disabled="radio_disabled">
                    <el-radio :label="item2.id" v-for="item2 in item.answer"
                              @change="radioCheck(item.id, item.answerId, item.questionType)">
                        {{item2.questionContent}}
                    </el-radio>
                    <br/>
                </el-radio-group>
                <br/>
                难度系数：{{item.questionDifficulty}}
            </div>
        </el-dialog>
        <el-dialog class="preview" title="更换题目" :visible.sync="dialogChange" >
            <template>
                <el-table
                        ref="singleTable"
                        :data="changeData"
                        highlight-current-row
                        @current-change="handleCurrentChange"
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            property="name"
                            label="题目名称"
                            width="250">
                    </el-table-column>
                    <el-table-column
                            property="info"
                            label="选项"
                            width="400">
                    </el-table-column>
                </el-table>
                <div style="margin-top: 20px">
                    <el-button @click="setCurrent()">取消选择</el-button>
                    <el-button v-if="currentRow" type="primary" @click="submitChange()">确认选择</el-button>
                </div>
            </template>

        </el-dialog>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/examCen/examConfig.js"></script>
</html>
