<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
    <link rel="stylesheet" href="${rc.contextPath}/statics/css/testPaper.css">
    <style>
        .container .bar {
            height: 458px;
        }
    </style>
</head>

<body>
<!-- 修改后的html -->
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to ="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item :to ="{ path: '/' }"><span @click="goBack">考试中心</span></el-breadcrumb-item>
            <el-breadcrumb-item>{{ paperName }}</el-breadcrumb-item>
        </el-breadcrumb>
        <div class="content">
            <header>
                <div class="title">{{ paperName }}</div>
                <div class="tips">
                    <span class="username">姓名：<span>{{ username }}</span></span>
                    <span class="font-size" @click="changeFontSize($event)">字体
                        (<span class="font-size-span">小</span>
                        <span class="font-size-span">中</span>
                        <span class="font-size-span">大</span>)
                    </span>
                </div>
            </header>
            <article class="main">
                <el-form :model="testForm">
                    <div class="one-option">
                        <div class="description"><a name="oneOption"></a>一. 单选题。每题所设选项中只有一个正确答案，多选，错选或不选均不得分。本部分含{{ sinChoicList.length }}题，每题{{sinChoicList[0].score}}分，共{{ sinChoicList.length*sinChoicList[0].score }}分。</div>
                        <div class="question daliy" v-for="(question, index) in sinChoicList" :class="{'question-background': (index%2 == 0)&&(!isSubmit)}">
                            <p class="title">{{ index+1 }}.{{ question.comContent }}</p>
                            <el-radio-group v-model="sinChoicCheck[index]" :disabled="isSubmit" @change="update">
                                <el-radio :label="answer.id"
                                          v-for="(answer, index1) in question.answer"
                                          :class="{'right-answer': isSubmit&&(answer.id===question.answerId)}"
                                >
                                    {{optionIndex[index1]}}、{{ answer.questionContent }}
                                    <i class="iconfont icon-dui1" v-if="isSubmit&&(answer.id===question.answerId)"></i>
                                </el-radio>
                            </el-radio-group>
                            <div class="answer-area" v-show="isSubmit">
                                <!-- 为了展示,逻辑写好,可删掉此行,使能下一行 -->
                                <p :class="1==1 ? 'right' : 'err'">
                                    你的答案：<span>AB</span>，正确答案：<span>AB</span>
                                    <p class="collection" @click="favor" :class="{'favorite':isFavored}"><i class="iconfont icon-shoucang" :class="{'favorite':isFavored}"></i>{{ favoriteText }}</p>
                                </p>
                                <p class="text">
                                    <span class="answer-text">试题难度：</span>
                                    <i class="iconfont icon-shoucang1 light"></i>
                                    <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <span class="diff" v-if="question.questionDifficulty==='10001'">初级</span>
                                    <span class="diff" v-if="question.questionDifficulty!=='10001'">{{ question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'中级':'高级' }}</span>
                                </p>
                                <p class="answer-text">答案描述：<span>{{ question.answerDescrible }}</span></p>
                            </div>
                            <div class="gray" v-if="isSubmit"></div>
                        </div>
                    </div>
                    <div class="multi-options">
                        <div class="description"><a name="multiOptions"></a>二. 多选题。每题所设选项中有多个答案。本部分含{{ mulChoicList.length }}题，每题{{mulChoicList[0].score}}分，共{{ mulChoicList.length*mulChoicList[0].score }}分。</div>
                        <div class="question" v-for="(question, index) in mulChoicList" :class="{'question-background': (index%2 == 0)&&(!isSubmit)}">
                            <p class="title">{{ index+1 }}.{{ question.comContent }}</p>
                            <el-checkbox-group v-model="mulChoicCheck[index]" :disabled="isSubmit"  @change="update">
                                <el-checkbox
                                        :label="answer.id"
                                        v-for="(answer, index1) in question.answer"
                                        :class="{'right-answer': isSubmit&&(question.answerId.indexOf(answer.id))}"
                                >
                                    {{optionIndex[index1]}}、{{ answer.questionContent }}
                                    <i class="iconfont icon-dui1" v-if="isSubmit&&(question.answerId.indexOf(answer.id))"></i>
                                </el-checkbox>
                            </el-checkbox-group>
                            <div class="answer-area" v-show="isSubmit">
                                <!-- 为了展示,逻辑写好,可删掉此行,使能下一行 -->
                                <p :class="1==1 ? 'right' : 'err'">
                                    你的答案：<span>AB</span>，正确答案：<span>AB</span>
                                <p class="collection" @click="favor" :class="{'favorite':isFavored}"><i class="iconfont icon-shoucang" :class="{'favorite':isFavored}"></i>{{ favoriteText }}</p>
                                </p>
                                <p class="text">
                                    <span class="answer-text">试题难度：</span>
                                    <i class="iconfont icon-shoucang1 light"></i>
                                    <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <span class="diff" v-if="question.questionDifficulty==='10001'">初级</span>
                                    <span class="diff" v-if="question.questionDifficulty!=='10001'">{{ question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'中级':'高级' }}</span>
                                </p>
                                <p class="answer-text">答案描述：<span>{{ question.answerDescrible }}</span></p>
                                <!--<p :class="userAnswerStr!=rightAnswerStr?'err':'right'">你的答案：<span>{{ userAnswerStr }}</span>，正确答案：<span>{{ rightAnswerStr }}</span></p>-->
                            </div>
                            <div class="gray" v-if="isSubmit"></div>
                        </div>
                    </div>
                    <div class="checking">
                        <div class="description"><a name="checking"></a>三. 判断题。本部分含{{ judgeList.length }}题，每题{{judgeList[0].score}}分，共{{ judgeList.length*judgeList[0].score }}分。</div>
                        <div class="question daliy" v-for="(question, index) in judgeList" :class="{'question-background': (index%2 == 0)&&(!isSubmit)}">
                            <p class="title">{{ index+1 }}.{{ question.comContent }}</p>
                            <el-radio-group v-model="judge[index]" :disabled="isSubmit"  @change="update">
                                <el-radio
                                        :label="answer.id"
                                        v-for="(answer, index1) in question.answer"
                                        :class="{'right-answer': isSubmit&&(answer.id===question.answerId)}"
                                >
                                    {{optionIndex[index1]}}、 {{ answer.questionContent }}
                                    <i class="iconfont icon-dui1" v-if="isSubmit&&(answer.id===question.answerId)"></i>
                                </el-radio>
                            </el-radio-group>
                            <div class="answer-area" v-show="isSubmit">
                                <!-- 为了展示,逻辑写好,可删掉此行,使能下一行 -->
                                <p :class="1==1 ? 'right' : 'err'">
                                    你的答案：<span>AB</span>，正确答案：<span>AB</span>
                                <p class="collection" @click="favor" :class="{'favorite':isFavored}"><i class="iconfont icon-shoucang" :class="{'favorite':isFavored}"></i>{{ favoriteText }}</p>
                                </p>
                                <p class="text">
                                    <span class="answer-text">试题难度：</span>
                                    <i class="iconfont icon-shoucang1 light"></i>
                                    <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                    <span class="diff" v-if="question.questionDifficulty==='10001'">初级</span>
                                    <span class="diff" v-if="question.questionDifficulty!=='10001'">{{ question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'中级':'高级' }}</span>
                                </p>
                                <p class="answer-text">答案描述：<span>{{ question.answerDescrible }}</span></p>
                                <!--<p :class="userAnswerStr!=rightAnswerStr?'err':'right'">你的答案：<span>{{ userAnswerStr }}</span>，正确答案：<span>{{ rightAnswerStr }}</span></p>-->
                            </div>
                            <div class="gray" v-if="isSubmit"></div>
                        </div>
                    </div>
                    <div class="expressing">
                        <div class="description"><a name="expressing"></a>四. 主观题。本部分含{{ subjectList.length }}题，共{{ subjectScore }}分。每题不超过500字。</div>
                        <div class="question daliy clearfix" v-for="(question, index) in subjectList">
                        <p class="title">{{ index+1 }}.{{ question.comContent }}<span class="title">（{{ question.score }}分）</span></p>
                        <el-input
                                type="textarea"
                                autosize
                                placeholder="请输入内容…"
                                v-model="subject[index]"
                                :disabled="isSubmit"
                                @change="update"
                                maxlength="500"
                        >
                        </el-input>

                        <div class="answer-area" v-show="isSubmit">
                            <p :class="1==1 ? 'right' : 'err'">
                                此题得分：<span class="right">6</span>
                            <p class="collection" @click="favor" :class="{'favorite':isFavored}"><i class="iconfont icon-shoucang" :class="{'favorite':isFavored}"></i>{{ favoriteText }}</p>
                            </p>
                            <p class="text">
                                <span class="answer-text">试题难度：</span>
                                <i class="iconfont icon-shoucang1 light"></i>
                                <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                <i :class="question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                <i :class="question.questionDifficulty==='10003'?'light':''" class="iconfont icon-shoucang1"></i>
                                <span class="diff" v-if="question.questionDifficulty==='10001'">初级</span>
                                <span class="diff" v-if="question.questionDifficulty!=='10001'">{{ question.questionDifficulty==='10002'||question.questionDifficulty==='10003'?'中级':'高级' }}</span>
                            </p>
                            <p class="answer-text">答案描述：<span>{{ question.answerDescrible }}</span></p>
                        </div>
                        <div class="gray" v-if="isSubmit"></div>
                    </div>
                    </div>
                </el-form>
            </article>
            <div class="score" v-if="isSubmit">{{ totalScore }}</div>
        </div>
        <div class="bar">
            <div class="time">
                <span class="duration" v-if="!isSubmit">本卷计时{{ displayTime }}分钟，还剩:<span style="font-weight: 900">
                    <span>{{ leftHours }}</span>:
                    <span>{{ leftMinutes }}</span>:
                    <span>{{ leftSeconds }}</span>
                </span></span>
                <span class="duration" v-if="isSubmit">本卷计时{{ displayTime }}分钟，<span class="consumed-time" style="font-weight: 900">用时{{ consumedMinutes }}分钟{{ consumedSeconds }}秒</span></span>
            </div>
            <ul class="category">
                <li v-for="item in barData">
                    <a class="type" :href="item.href" @click="pickArea($event)"><i class="iconfont icon-biaodiandidian"></i>{{ item.questionType }}</a>
                    <div><span :class="{'done-something': item.currentFinishedNum}">{{ item.currentFinishedNum }}</span>/<span>{{ item.totalNum }}</span></div>
                </li>
            </ul>
            <div class="buttons" v-if="!isSubmit">
                <el-button type="primary" @click="submit" size="small">交卷</el-button>
                <el-button @click="save" type="primary" plain class="save" size="small">保存，下次继续</el-button>
            </div>
        </div>
    </div>
</div>
</body>
<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/examCen/testPaper.js"></script>
</html>
