<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>考试中心</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title">
                        </div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">
                                <el-form-item prop="examName" label="考卷名称">
                                    <el-input v-model="formInline.examName" placeholder="试卷名称" size="mini"></el-input>
                                </el-form-item>

                                <el-form-item prop="status" label="已考状态">
                                    <el-select v-model="formInline.status" placeholder="请选择" size="mini">
                                        <el-option label="已考" value="1"></el-option>
                                        <el-option label="未考" value="0"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询
                                    </el-button>
                                    <el-button @click="resetForm('formInline')" size="mini">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置
                                    </el-button>

                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div>
                        <el-table
                                :data="tableData"
                                border
                                stripe
                                style="width: 100%">
                            <el-table-column
                                    type="index"
                                    label="序号"
                                    width="100"
                                    header-align="center"
                                    align="center">
                            </el-table-column>
                            <el-table-column
                                    prop="examName"
                                    label="试卷名称"
                                    width="280"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="examTypeName"
                                    label="试卷类型"
                                    width="130"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="examTime"
                                    label="考试时长（分钟）"
                                    width="200"
                            >
                            </el-table-column>

                            <el-table-column
                                    prop="organizedOrgCode"
                                    label="组考单位"
                                    width="200"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="startTime"
                                    label="考试开始时间"
                                    width="150"
                            >
                            </el-table-column>
                            <el-table-column
                                    prop="endTime"
                                    label="考试结束时间"
                                    width="150"
                            >
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <!--<el-button-->
                                            <!--size="mini"-->
                                            <!--@click="startExam(scope.$index, scope.row)">-->
                                        <!--{{tableData[scope.$index].examStatus==1?"继续考试":"开始考试"}}-->
                                    <!--</el-button>-->
                                    <el-popover
                                            v-if="scope.row.examStatus==2"
                                            placement="right"
                                            trigger="hover"
                                            content="查看">
                                        <i class="iconfont icon-chakan tabIcon"
                                           slot="reference"
                                           @click="viewExam(scope.$index, scope.row)"
                                           style="color: #1381e3;font-size: 12px;">
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            v-if="scope.row.examStatus==0&&verifyTime(scope.row.startTime,scope.row.endTime)"
                                            placement="right"
                                            trigger="hover"
                                            content="开始考试">
                                        <i class="iconfont tabIcon"
                                           slot="reference"
                                           @click="startExam(scope.$index, scope.row)"
                                           style="color: #1381e3;" >&#xe68c;
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            v-if="scope.row.examStatus==1&&verifyTime(scope.row.startTime,scope.row.endTime)"
                                            placement="right"
                                            trigger="hover"
                                            content="继续考试">
                                        <i class="iconfont tabIcon"
                                           slot="reference"
                                           @click="startExam(scope.$index, scope.row)"
                                           style="color: #119e0a;" >&#xe68c;
                                        </i>
                                    </el-popover>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurChange"
                                :current-page="formInline.page"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="formInline.limit"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="formInline.count">
                        </el-pagination>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>
    </div>
</div>
</body>
<script src="${rc.contextPath}/js/examCen/userExam.js"></script>
</html>