<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lawschool.dao.accessory.AccessoryDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lawschool.beans.accessory.AccessoryEntity" id="accessoryMap">
        <result property="id" column="id"/>
        <result property="accessoryType" column="accessory_type"/>
        <result property="remark" column="remark"/>
        <result property="accessoryName" column="accessory_name"/>
        <result property="createTime" column="create_time"/>
        <result property="createName" column="create_name"/>
        <result property="delFlag" column="del_flag"/>
        <result property="filePath" column="file_path"/>
    </resultMap>


</mapper>