<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.SysMenuDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.lawschool.beans.SysMenu">
        <id column="ID" property="id" jdbcType="VARCHAR" />

        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="PERMS" property="perms" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="ICON" property="icon" jdbcType="VARCHAR" />
        <result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />


        <result column="OPT_USER" jdbcType="VARCHAR" property="optUser"/>
        <result column="OPT_TIME" jdbcType="DATE" property="optTime"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>

    </resultMap>

    <!-- 查询多条条记录 -->
    <select id="queryForZtree" resultType="java.util.Map">
        SELECT
        S1."ID" AS "id",S1.PARENT_ID AS "parentId",S1."NAME" AS "name", S1.URL AS "url",S1.PERMS AS "perms",S1."TYPE" AS "type",
        S1.ICON AS "icon",S1.ORDER_NUM AS "orderNum",S1.IS_SHOW AS "isShow",S2."NAME" AS "parentName"
        from
        LAW_SYS_MENU s1
        LEFT JOIN LAW_SYS_MENU s2
        ON S2."ID"=S1.PARENT_ID
        WHERE S1.PARENT_ID is NOT NULL
        ORDER BY S1.ORDER_NUM+0
    </select>

    <!-- 查询权限下数据 -->
    <select id="listMenuAuth" parameterType="java.lang.String" resultType="com.lawschool.beans.SysMenu">
        select s.menu_id menuId,
        s.parent_id parentId,
        s.name name,
        s.url url,
        s.perms perms,
        s.type type,
        s.icon icon,
        s1.order_num orderNum,
        s.is_show isShow ,
        s.`name` parentName
        from LAW_SYS_MENU s
        right join LAW_SYS_ROLE_MENU r
        on s.menu_id = r.menu_id
        where r.role_id=#{roleId}
        order by s.order_num asc
    </select>
    <!-- 查询单条记录 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM LAW_SYS_MENU WHERE ID = #{id}
    </select>

    <!-- 添加一条记录 -->
    <insert id="insert" parameterType="com.lawschool.beans.SysMenu">
           insert into LAW_SYS_MENU (ID,PARENT_ID,NAME,URL,PERMS,TYPE,ICON,ORDER_NUM,IS_SHOW)
           values (#{id},#{parentId},#{name},#{url},#{perms},#{type},#{icon},#{orderNum},#{isShow})
    </insert>


    <select id="queryNotButtonList" resultType="com.lawschool.beans.SysMenu">
        select * from LAW_SYS_MENU where type != 2 order by order_num asc
    </select>
    <!-- 修改一条记录 -->

    <!--<update id="updateById"  parameterType="com.lawschool.beans.SysMenu">-->
      <!--update LAW_SYS_MENU-->

        <!--<trim prefix="set" suffixOverrides=",">-->
            <!--<if test="parentId!=null and parentId != ''">PARENT_ID=#{parentId},</if>-->
            <!--<if test="name!=null and name != ''">NAME=#{name},</if>-->
            <!--<if test="url!=null and url != ''">URL = #{url},</if>-->
            <!--<if test="PERMS!=null and PERMS != ''">   PERMS = #{perms},</if>-->
            <!--<if test="type!=null and type != ''">TYPE = #{type},</if>-->
            <!--<if test="icon!=null and icon != ''">ICON = #{icon},</if>-->
            <!--<if test="orderNum!=null and orderNum != ''"> ORDER_NUM = #{orderNum},</if>-->
            <!--<if test="isShow!=null and isShow != ''">  IS_SHOW = #{isShow}</if>-->

        <!--</trim>-->
       <!--where id = #{id}-->
    <!--</update>-->

    <!-- 查找子节点记录 -->
    <select id="queryListParentId" resultType="com.lawschool.beans.SysMenu">
        select * from LAW_SYS_MENU where parent_id = #{id} order by order_num asc
    </select>

     <!--&lt;!&ndash; 删除菜单 &ndash;&gt;-->
     <!--<delete id="delete"  parameterType="String">-->
       <!--delete from LAW_SYS_MENU where id=#{id}-->
     <!--</delete>-->
</mapper>