<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.competition.CompetitionTeamDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.lawschool.beans.competition.CompetitionTeam">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="TEAM_NAME" property="teamName" jdbcType="VARCHAR" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
        <result column="SCALE" property="scale" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />

        <result column="BACKUP1" property="backup1" jdbcType="VARCHAR" />
        <result column="BACKUP2" property="backup2" jdbcType="VARCHAR" />
        <result column="BACKUP3" property="backup3" jdbcType="VARCHAR" />
        <result column="BACKUP4" property="backup4" jdbcType="VARCHAR" />
        <result column="BACKUP5" property="backup5" jdbcType="VARCHAR" />

    </resultMap>


</mapper>