<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>

</style>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span>评估中心</span></el-breadcrumb-item>
            <el-breadcrumb-item>学情统计</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="content5-3">
            <el-col :span="24">
                <div class="box-card boardCard">
                    <div class="header header_special">
                        <span>学情看板</span>
                        <div class="more">
                            <!--<el-form :model="dateRange"  ref="formInline">
                            <el-form-item prop="startTime">-->
                            <el-date-picker
                                    v-model="dateRange.startTime"
                                    type="date"
                                    size="mini"
                                    placeholder="开始日期">
                            </el-date-picker>
                            <!--</el-form-item>-->
                            至
                            <!--<el-form-item prop="endTime">-->
                            <el-date-picker
                                    v-model="dateRange.endTime"
                                    type="date"
                                    size="mini"
                                    placeholder="结束日期">
                            </el-date-picker>
                            <!--</el-form-item>
                            <el-form-item>-->
                            <el-button type="primary" @click="onSubmit" size="mini">查询</el-button>
                            <!-- <el-button @click="resetForm('formInline')" size="mini">重置</el-button>
                         </el-form-item>
                         </el-form>-->
                        </div>
                    </div>
                    <el-tabs v-model="activeName" type="border-card" @tab-click="handleTabClick">
                        <el-tab-pane label="个人统计" name="person">
                            <div class="content board" style="padding-top: 17px;">
                                <el-row :gutter="20">
                                    <el-col :span="6" class="pieArea">
                                        <el-tabs type="border-card">
                                            <el-tab-pane label="学习知识点分布">
                                                <div id="pie1" style="width: 300px;height:220px;"></div>
                                            </el-tab-pane>
                                            <el-tab-pane label="学习知识点分布">
                                            </el-tab-pane>
                                        </el-tabs>
                                    </el-col>

                                    <el-col :span="6" class="pieArea">
                                        <el-tabs type="border-card">
                                            <div id="pienum" style="width: 300px;height:220px;"></div>
                                        </el-tabs>
                                    </el-col>
                                    <el-col :span="6" class="infoCount">
                                        <div class="span-title">学情统计</div>
                                        <div class="infoMsg">
                                            <ul>

                                                <li  v-for="(item, index) in stuInfo">
                                                    <p class="info"><i></i>{{item.name}}:<span>{{item.countTime}}h</span></p>
                                                    <p class="contrast">击败了<span>{{item.ratio}}</span>的同事</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </el-col>
                                    <!--<el-col :span="12" class="rate">
                                        <div class="span-title">练习正确率</div>
                                        <div id="bar1" style="width: 640px;height:220px;"></div>
                                    </el-col>-->
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="单位统计" name="org">
                            <div class="container" >
                                <el-row :gutter="24">
                                    <el-col :span="24">
                                        <el-tabs type="border-card">
                                            <el-tab-pane >
                                                <div>
                                                    <table v-loading="tabLoading" id="tb1" class="tree_table">
                                                        <thead >
                                                        <tr>
                                                            <th colspan="" rowspan="2">单位名称</th>
                                                            <th colspan="4">学习情况</th>
                                                            <th colspan="4">学习任务情况</th>
                                                            <th colspan="3">案例分析情况</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="">视频</th>
                                                            <th colspan="">音频</th>
                                                            <th colspan="">图文</th>
                                                            <th colspan="">法律法规</th>
                                                            <th colspan="">视频</th>
                                                            <th colspan="">音频</th>
                                                            <th colspan="">图文</th>
                                                            <th colspan="">法律法规</th>
                                                            <th colspan="">视频</th>
                                                            <th colspan="">音频</th>
                                                            <th colspan="">图文</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody :class="opacity0?'opacity0':''" style="overflow: auto;">
                                                        <tr v-for="(item,index) in deptStatData">
                                                            <td :lang="item | objTstring">{{item.data.orgName}}</td>
                                                            <td>{{item.data.videoAllCount}}</td>
                                                            <td>{{item.data.audioAllCount}}</td>
                                                            <td>{{item.data.picAllCount}}</td>
                                                            <td>{{item.data.lawAllCount}}</td>
                                                            <td>{{item.data.videoTaskCount}}</td>
                                                            <td>{{item.data.audioTaskCount}}</td>
                                                            <td>{{item.data.picTaskCount}}</td>
                                                            <td>{{item.data.lawTaskCount}}</td>
                                                            <td>{{item.data.videoCaseCount}}</td>
                                                            <td>{{item.data.audioCaseCount}}</td>
                                                            <td>{{item.data.picCaseCount}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </el-tab-pane>
                                        </el-tabs>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                    </el-tabs>

                </div>
            </el-col>
        </el-row>
    </div>
</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/assessCen/stuStat.js?_${.now?long}"></script>
<script src="${rc.contextPath}/statics/plugins/otreetable/otreetable.js"></script>
</html>
