<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>
    .container {
        overflow-x:hidden;
    }
    .video-js{
        margin: 0 auto;
    }
    .video-js .vjs-modal-dialog{
        overflow: hidden;
    }
    .video-js .vjs-big-play-button{
        top: 38%;
        left: 50%;
    }
    .lesson .el-col-6 {
        margin-right: 10px;
    }
    /* dialog图文 */
    .el-dialog__wrapper .info {
        width: 100%;
        margin: 10px auto;
        text-align: center;
    }
    .el-dialog__wrapper .info .title {
        display: inline-block;
        line-height: 35px;
        height: 35px;
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: bold;
    }
    .el-dialog__wrapper .info .el-col {
        line-height: 22px;
        margin-bottom: 25px;
    }
    .el-dialog__wrapper .info .creator {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .el-dialog__wrapper .info .content {
        text-align: left;
    }
    pre{
        white-space: pre-wrap;
        /* 允许长单词拆开换行 */
        word-wrap: break-word;
        font-family: '微软雅黑';
        color: #333333;
    }
    .el-dialog__wrapper.dialog_minW750 .el-dialog__body {
        max-height: 40vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .video-card {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    .video-card .title{
        margin: 11px 0 11px 9px;
        cursor: default;
        font-size: 17px;
        color: #222222;
    }
    .video-card .stuCreat {
        height: 10px;
        font-family: PingFang-SC-Medium;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #999999;
    }
    .video-card .stuIssuer .icon-yonghutouxiang {
        margin-right: 6px;
        font-size: 14px;
    }
    .video-card div p:last-child.stuIssuer {
        font-size: 14px;
        color: #3e4e6f;
    }
    .video-card div p:last-child.stuIssuer .upload {
        color: #999999;
    }
    .video-card .icons {
        position: absolute;
        left: 80%;
        bottom: -9px;
    }
    .video-card .icons .iconfont {
        margin-right: 4px;
    }
</style>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>个人中心</el-breadcrumb-item>
            <el-breadcrumb-item>我的收藏</el-breadcrumb-item>
            <el-breadcrumb-item>重点课程</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <div class="info_card">
                        <div class="card_title"></div>
                        <div class="card_contain">
                            <el-form :inline="true" :model="formInline" ref="formInline" class="demo-form-inline">

                                <el-form-item label="资料标题" prop="stuTitle">
                                    <el-input v-model="formInline.stuTitle" placeholder="资料标题" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="发布人" prop="stuIssuer">
                                    <el-input v-model="formInline.stuIssuer" placeholder="发布人" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item  label="法律分类" prop="stuLawName">
                                    <el-input v-model="formInline.stuLawName" placeholder="法律分类" @focus="chooseLaw" size="mini"></el-input>
                                </el-form-item>
                                <el-form-item label="开始时间" prop="startTime">
                                    <el-date-picker
                                            v-model="formInline.startTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择开始时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item  label="结束时间" prop="endTime">
                                    <el-date-picker
                                            v-model="formInline.endTime"
                                            type="date"
                                            format="yyyy年MM月dd日"
                                            value-format="yyyy-MM-dd"
                                            placeholder="选择结束时间"
                                            size="mini"
                                    >
                                    </el-date-picker>
                                </el-form-item>

                                <el-form-item  label="类型" prop="stuType">
                                    <el-select v-model="formInline.stuType" placeholder="类型" size="mini" @change="changeType">
                                        <el-option label="图文" value="pic"></el-option>
                                        <el-option label="音频" value="audio"></el-option>
                                        <el-option label="视频" value="video"></el-option>
                                    </el-select>
                                </el-form-item>
                                <!-- <el-form-item prop="status">
                                     <el-select v-model="formInline.status" placeholder="状态" size="mini">
                                         <el-option label="有效" value="1"></el-option>
                                         <el-option label="无效" value="0"></el-option>
                                     </el-select>
                                 </el-form-item>-->
                                <el-form-item>
                                    <el-button type="primary" @click="onSubmit" size="mini">
                                        <i class="iconfont icon-sousuo1"></i>
                                        查询</el-button>
                                    <el-button class="reset_btn" @click="resetForm('formInline')" size="mini">
                                        <i class="iconfont icon-tableresetpassword"></i>
                                        重置</el-button>

                                </el-form-item>
                            </el-form>

                        </div>
                    </div>
                    <div>
                        <div class="content lesson">
                            <!--<el-row>
                                <el-col :span="6" v-for="(item, index) in videoData">
                                    <el-card :body-style="{ padding: '4px' }">
                                        <video :id="item.id" class="video-js" width="300" height="155" controls preload="none" :poster="item.videoPicAccUrl"  v-if="item.stuType=='视频'">
                                            <source :src="item.contentUrl" type="video/mp4">
                                            您的浏览器不支持视频播放
                                        </video>
                                        <audio controls="controls" preload="none" v-if="item.stuType=='音频'">
                                            <source :src="item.contentUrl" controls="controls">
                                        </audio>
                                        <div v-if="item.stuType=='图文'">
                                            图文，但我不知道怎么展示，于是我写了这段话
                                        </div>
                                        <div style="padding: 14px 14px 0 14px;">
                                            <p>
                                                <span class="stuType">{{item.stuType}}</span>
                                                <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                            </p>
                                            <p>
                                                <span class="stuIssuer">{{item.stuIssuer}}</span>
                                                <span class="stuCreat">{{item.stuIsstime}}</span>
                                            </p>
                                            <p>
                                                <span @click="handleDel(item.collectionId)">取消收藏</span>
                                               &lt;!&ndash; <span>收藏于{{item.collecttime}}</span>&ndash;&gt;
                                            </p>
                                        </div>
                                    </el-card>
                                </el-col>
                            </el-row>-->
                            <template  v-if="formInline.stuType=='pic'">
                                <el-table
                                        :data="videoData"
                                        border
                                        stripe
                                        height="539"
                                        style="width: 100%">
                                    <el-table-column
                                            label="序号"
                                            type="index"
                                            header-align="center"
                                            align="center"
                                            :index="indexMethod"
                                            width="50">
                                    </el-table-column>
                                    <el-table-column
                                            prop="stuTitle"
                                            label="标题"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="stuIssuer"
                                            label="发布人"
                                            width="150"
                                            header-align="center"
                                            align="center"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="stuIsstime"
                                            label="发布时间"
                                            width="150"
                                            header-align="center"
                                            align="center"
                                    >
                                    </el-table-column>
                                    <el-table-column
                                            prop="collecttime"
                                            label="收藏时间"
                                            width="150"
                                            header-align="center"
                                            align="center"
                                    >
                                    </el-table-column>
                                    <el-table-column label="操作"
                                                     header-align="center"
                                                     width="150"
                                                     align="center">
                                        <template slot-scope="scope">
                                            <el-popover
                                                        placement="right"
                                                        trigger="hover"
                                                        content="取消收藏">
                                                <i class="iconfont icon-quxiaoshoucang"
                                                   slot="reference"
                                                   @click="handleDel(scope.row.collectionId)"
                                                   style="color:#ff6600">
                                                </i>
                                            </el-popover>
                                            <el-popover
                                                    placement="right"
                                                    trigger="hover"
                                                    content="查看">
                                                <i class="iconfont icon-chakan tabIcon"
                                                   slot="reference"
                                                   @click="handleDetail(scope.$index, scope.row)"
                                                   style="color: #1381e3;font-size: 12px;">
                                                </i>
                                            </el-popover>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                            <!-- 音频 -->
                            <template v-if="formInline.stuType=='audio'">
                                <el-row>
                                    <el-col :span="6" v-for="(item, index) in videoData">
                                        <el-card :body-style="{ padding: '4px' }">

                                            <audio controls="controls" preload="none" v-if="item.stuType=='音频'">
                                                <source :src="item.contentUrl" controls="controls">
                                            </audio>
                                            <div style="padding: 14px 14px 0 14px;">
                                                <p>
                                                    <span class="stuType">{{item.stuType}}</span>
                                                    <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                                </p>
                                                <p>
                                                    <span class="stuIssuer">{{item.stuIssuer}}</span>
                                                    <span class="stuCreat">{{item.stuIsstime}}</span>
                                                </p>
                                                <p>
                                                    <!--<span @click="handleDel(item.collectionId)">取消收藏</span>-->
                                                    <span  @click="handleDel(item.collectionId)"><i class="iconfont icon-quxiaoshoucang" style="color:#ff6600"></i></span>
                                                    <span>收藏于{{item.collecttime}}</span>
                                                </p>
                                            </div>
                                        </el-card>
                                    </el-col>
                                </el-row>
                                <p class="no_data" v-if="videoData.length==0">暂无数据</p>
                            </template>
                            <!-- 视频 -->
                            <template v-if="formInline.stuType=='video'">
                                <el-row>
                                    <el-col :span="6" v-for="(item, index) in videoData">
                                        <el-card :body-style="{ padding: '4px' }">
                                            <video :id="item.id" class="video-js" width="300" height="155" controls preload="none" :poster="item.videoPicAccUrl"  v-if="item.stuType=='视频'">
                                                <source :src="item.contentUrl" type="video/mp4">
                                                您的浏览器不支持视频播放
                                            </video>
                                            <div class="video-card">
                                                <div>
                                                    <p href="javascript:;" class="title">{{item.stuTitle}}</p>
                                                    <p class="stuCreat">{{item.stuIsstime}}</p>
                                                    <p class="stuIssuer"><i class="iconfont icon-yonghutouxiang"></i>{{item.stuIssuer}}&nbsp;<span class="upload">上传</span></p>
                                                </div>
                                                <p class="icons">
                                                    <span @click="handleDel(item.collectionId, item.id)" style="color: #ff6600;"><i class="iconfont icon-shoucang1"></i>已收藏</span>
                                                </p>
                                            </div>
                                            <!--<div style="padding: 14px 14px 0 14px;">
                                                <p>
                                                    <span class="stuType">{{item.stuType}}</span>
                                                    <a href="javascript:;" class="title">{{item.stuTitle}}</a>
                                                </p>
                                                <p>
                                                    <span class="stuIssuer">{{item.stuIssuer}}</span>
                                                    <span class="stuCreat">{{item.stuIsstime}}</span>
                                                </p>
                                                <p>
                                                    &lt;!&ndash;<span @click="handleDel(item.collectionId)">取消收藏</span>&ndash;&gt;
                                                    <span  @click="handleDel(item.collectionId)"><i class="iconfont icon-quxiaoshoucang" style="color:#ff6600"></i></span>
                                                    <span>收藏于{{item.collecttime}}</span>
                                                </p>
                                            </div>-->
                                        </el-card>
                                    </el-col>
                                </el-row>
                                <p class="no_data" v-if="videoData.length==0">暂无数据</p>
                            </template>
                        </div>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="formInline.currPage"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="formInline.pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="formInline.totalCount">
                        </el-pagination>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>

    </div>
    <el-dialog class="dialog_minW750" :title="title" :visible.sync="dialogPic" :before-close="closeDia"  ref="picDialog">
        <div class="info">
            <el-col :span="24">
                <span class="title">{{stuMedia.stuTitle}}</span>
                <div class="creator">
                    <p class="issuer">上传者：{{stuMedia.stuIssuer}}</p>
                    <p class="created-time">{{stuMedia.stuCreat}}</p>
                </div>
                <pre class="content" v-html="caseContent"></pre>
            </el-col>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closeDia">取消</el-button>
        </div>
    </el-dialog>
    <el-dialog title="选择法律分类" :visible.sync="dialogLaw" >
        <!--对于同一级的节点，每次只能展开一个-->
        <el-scrollbar wrap-class="list" wrap-style="color: red;" view-style="font-weight: bold;"
                      view-class="view-box" :native="false">
            <el-tree
                    ref="lawtree"
                    :data="treeData"
                    :props="defaultProps"
                    accordion
                    node-key="id"
                    show-checkbox
                    @check-change="handleCheckChange">
            </el-tree>
        </el-scrollbar>
        <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="cancelLaw">取消</el-button>
            <el-button type="primary" size="mini" @click="confimLaw">保存</el-button>
        </div>
    </el-dialog>

</div>
</body>

<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/personalCen/collCourse.js?_${.now?long}"></script>
</html>
