<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安厅法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<style>

</style>
<body>
    <div id="app" v-cloak>
    <div class="header">
        <div class="header-right">
            <ul>
                <li>
                    <a>
                        <el-button size="mini" type="primary" @click="addConfig">新增练习配置</el-button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <el-table
                :data="tableData"
                style="width: 100%"
                stripe
                border>
            <el-table-column
                    type="index"
                    width="50"
                    label="序号"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="练习卷名称"
                    width="280"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="练习卷类型"
                    width="150"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="total"
                    label="总题量"
                    width="100"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="userName"
                    label="创建人"
                    width="150"
                    header-align="center"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间"
                    width="200"
                    header-align="center"
                    align="center">
            </el-table-column>
            <el-table-column
                    label="操作"
                    header-align="center"
                    align="center"
                    align="center">
                <template slot-scope="scope">
                    <el-button
                            type="primary"
                            size="mini"
                            @click="showPaper(scope.row.id)"
                    >查看
                    </el-button>
                    <el-button
                            type="danger"
                            size="mini"
                            @click="dele(scope.row.id)"
                    >删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurChange"
                :current-page="formInline.page"
                :page-sizes="[10, 20, 30, 40]"
                :page-size="formInline.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="formInline.count">
        </el-pagination>

        <el-dialog :title="title" :visible.sync="dialogConfig">
            <el-row>
                <el-col :span="24">
                    <el-form :model="exerciseConfigure" ref="exerciseConfigure" label-width="100px" class="demo-sysMenu" size="medium">
                        <el-form-item label="练习卷名称：" prop="name">
                            <el-input v-model="exerciseConfigure.name" disabled></el-input>
                        </el-form-item>

                        <el-form-item label="名称前缀：" prop="prefix">
                            <el-input v-model="exerciseConfigure.prefix" placeholder="请输入名称前缀" clearable></el-input>
                            <el-button size="mini" type="primary" @click="createName">生成试卷名称</el-button>
                        </el-form-item>

                        <el-form-item label="练习卷配置：">
                            <el-button size="mini" type="primary" @click="add">添加配置</el-button>
                        </el-form-item>
                        <el-table
                                :data="exerciseConfigure.list"
                                style="width: 100%"
                                stripe>
                                <el-table-column
                                        type="index"
                                        label="序号">
                                </el-table-column>
                                <el-table-column
                                        label="题目类型"
                                        header-align="center"
                                        align="center"
                                        prop="topicName">
                                </el-table-column>

                                <el-table-column
                                        label="初级题量"
                                        header-align="center"
                                        align="center"
                                        prop="primaryNum">
                                </el-table-column>

                                <el-table-column
                                        label="中级题量"
                                        header-align="center"
                                        align="center"
                                        prop="middleNum">
                                </el-table-column>

                                <el-table-column
                                        label="高级题量"
                                        header-align="center"
                                        align="center"
                                        prop="seniorNum">
                                </el-table-column>

                                <el-table-column
                                        label="操作"
                                        header-align="center"
                                        align="center"
                                        prop="status">
                                    <template slot-scope="scope">
                                        <el-button
                                                type="primary"
                                                size="mini"
                                                @click="deleteOne(scope.$index)"
                                        >删除
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>

                        <el-form-item label="使用分类：">
                            <el-radio v-for="item in rangeType" v-model="exerciseConfigure.rangeType" :label="item.key">{{item.value}}</el-radio>
                        </el-form-item>

                        <el-form-item label="部门：" v-show="exerciseConfigure.rangeType == 2">
                            <el-input type="text" class="form-control" style="cursor:pointer;" v-model="exerciseConfigure.depts"
                                      @focus="deptShow" readonly="readonly" placeholder="所属部门"></el-input>
                        </el-form-item>

                        <el-form-item label="人员(此处先不请求后台)：" v-show="exerciseConfigure.rangeType == 2">
                            <el-input type="text" class="form-control" style="cursor:pointer;"
                                      v-model="exerciseConfigure.users" disabled
                            ></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="save">生成试卷</el-button>
                        </el-form-item>

                    </el-form>
                </el-col>
            </el-row>
        </el-dialog>

        <el-dialog title="添加练习配置" :visible.sync="addConfigFlag">
            <el-row>
                <el-col :span="24">
                    <el-form :model="config" label-width="100px" class="demo-sysMenu" size="mini">
                        <el-form-item label="主题类型：">
                            <el-select v-model="config.topic" placeholder="请选择">
                                <el-option
                                        v-for="item in topicList"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="初级题量：">
                            <el-input v-model="config.primaryNum" placeholder="初级题量" type="number"></el-input>
                        </el-form-item>

                        <el-form-item label="中级题量：">
                            <el-input v-model="config.middleNum" placeholder="中级题量" type="number"></el-input>
                        </el-form-item>

                        <el-form-item label="高级题量：">
                            <el-input v-model="config.seniorNum" placeholder="高级题量" type="number"></el-input>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="sure">确定</el-button>
                        </el-form-item>

                    </el-form>
                </el-col>
            </el-row>
        </el-dialog>

        <el-dialog title="选择部门" :visible.sync="dialogDept"  width="500px" height="500px">
            <el-tree
                    ref="treeForm"
                    :data="treeData"
                    :props="defaultProps"
                    show-checkbox
                    @check-change="handleCheckChange"
                    node-key="id"
                    :default-expanded-keys="[2079]"
            >
            </el-tree>
            <el-button type="primary" size="mini" @click="confimDept">保存</el-button>
            <el-button type="primary" size="mini" @click="cancelDept">取消</el-button>
        </el-dialog>

        <el-dialog title="练习试卷" :visible.sync="paperDialog" width="800px" height="800px">
            <div v-for="(item,index) in questionList" class="swiper-slide">
                {{index+1}}. [{{item.questionType=='10004'?'单选题':item.questionType=='10005'?'多选题':'判断题'}}] {{item.comContent}}
                (  )。
                <br/>
                <br/>
                <el-checkbox-group v-model="answers" v-if="item.questionType==5">
                    <el-checkbox :label="item2.id" v-for="item2 in item.answer">{{item2.questionContent}}</el-checkbox>
                    <br/>
                </el-checkbox-group>
                <el-radio-group
                    v-if="item.questionType==10004 || item.questionType==10006"
                    disabled>
                    <el-radio :label="item2.id" v-for="item2 in item.answer">
                        {{item2.questionContent}}
                    </el-radio>
                    <br/>
                </el-radio-group>
                <el-checkbox-group disabled v-if="item.questionType==10005">
                    <el-checkbox :label="item2.id" v-for="item2 in item.answer">
                        {{item2.questionContent}}
                    </el-checkbox>
                    <br/>
                </el-checkbox-group>

                <br/>
                <br/>
            </div>
        </el-dialog>
    </div>
</div>
</body>

<script src="${rc.contextPath}/js/personalCen/exercise_configure.js?_${.now?long}"></script>
</html>
