<!DOCTYPE html>
<html lang="en">
<head>
    <title>投稿审核</title>
    <#include "/header.html">
</head>
<body>
    <div id="app" v-cloak>
        <div class="container">
            <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
                <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
                <el-breadcrumb-item>个人中心</el-breadcrumb-item>
                <el-breadcrumb-item>投稿审核</el-breadcrumb-item>
            </el-breadcrumb>
            <el-table
                    :data="tableData"
                    style="width: 100%"
                    stripe
                    border>
                <el-table-column
                        type="index"
                        width="50"
                        label="序号"
                        align="center">
                </el-table-column>
                <el-table-column
                        width="280"
                        label="投稿类型"
                        header-align="center"
                        align="center">
                    <template slot-scope="scope">
                        {{scope.row.type == 0 ? '习题' : '学习'}}
                    </template>
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="投稿时间"
                        width="200"
                        header-align="center"
                        align="center">
                </el-table-column>
                <el-table-column
                        label="审核状态"
                        width="200"
                        header-align="center"
                        align="center">
                    <template slot-scope="scope">
                        <!--{{scope.row.status == 0 ? '待审核' : scope.row.status == 1 ? '审核通过' : '审核不通过'}}-->
                        <el-tag
                                :type="scope.row.status == 0 ? '' : scope.row.status == 1 ? 'success' : 'danger'"
                                disable-transitions>{{scope.row.status == 0 ? '待审核' : scope.row.status == 1 ? '审核通过' : '审核不通过'}}</el-tag>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="auditor"
                        label="审核人"
                        width="200"
                        header-align="center"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="opinion"
                        label="审核意见"
                        width="200"
                        header-align="center"
                        align="center">
                </el-table-column>
                <el-table-column
                        label="操作"
                        header-align="center"
                        align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="examine(scope.row.id)">
                            审核
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurChange"
                    :current-page="formInline.page"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="formInline.limit"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="formInline.count">
            </el-pagination>

            <!--<el-dialog title="试题编辑" :visible.sync="dialogFormVisible">-->
                <!--<el-form :model="form" label-width="100px" size="small">-->
                    <!--<el-col :span="24">-->
                        <!--<el-form-item label="试题描述：">-->
                            <!--<el-input v-model="form.comContent" autocomplete="off" disabled></el-input>-->
                        <!--</el-form-item>-->

                        <!--<el-form-item label="试题分类：" disabled>-->
                            <!--<el-radio disabled v-for="item in typeList" v-model="form.typeId" :label="item.key">{{item.value}}</el-radio>-->
                        <!--</el-form-item>-->

                        <!--<el-form-item label="视频上传：" v-if="form.typeId == 1" disabled>-->
                            <!--<el-upload disabled name="importfile" class="avatar-uploader el-upload&#45;&#45;text" :action="importFileUrl" :show-file-list="false" :on-success="uploadSuccess" :before-upload="beforeAvatarUpload" :on-progress="uploadVideoProcess">-->
                                <!--<video width="320" height="180" v-if="form.video !='' && videoFlag == false" :src="form.videoUrl" class="avatar" controls="controls" >您的浏览器不支持视频播放</video>-->
                                <!--<i v-else-if="form.video =='' && videoFlag == false" class="iconfont icon-shipin"></i>-->
                                <!--<el-progress v-if="videoFlag == true" type="circle" :percentage="videoUploadPercent" style="margin-top:30px;"></el-progress>-->
                            <!--</el-upload>-->
                            <!--<P class="text">请保证视频格式正确，且不超过100M</P>-->
                        <!--</el-form-item>-->

                        <!--<el-form-item label="试题类型：">-->
                            <!--<el-radio-group disabled v-model="form.questionType">-->
                                <!--<el-radio v-if="item.value != '主观题'" v-for="item in qtList" v-model="form.questionType" :label="item.key">-->
                                    <!--{{item.value}}-->
                                <!--</el-radio>-->
                            <!--</el-radio-group>-->
                        <!--</el-form-item>-->

                        <!--<el-table-->
                                <!--:data="form.answerList"-->
                                <!--style="width: 100%"-->
                                <!--stripe-->
                                <!--v-if="form.answerList.length > 0">-->
                            <!--<el-table-column-->
                                    <!--type="index"-->
                                    <!--label="序号">-->
                            <!--</el-table-column>-->
                            <!--<el-table-column-->
                                    <!--label="选项内容"-->
                                    <!--header-align="center"-->
                                    <!--align="center"-->
                                    <!--prop="questionContent">-->
                            <!--</el-table-column>-->

                            <!--<el-table-column-->
                                    <!--label="分数"-->
                                    <!--header-align="center"-->
                                    <!--align="center"-->
                                    <!--prop="score">-->
                            <!--</el-table-column>-->

                            <!--<el-table-column-->
                                    <!--label="排序"-->
                                    <!--header-align="center"-->
                                    <!--align="center"-->
                                    <!--prop="ordersort">-->
                            <!--</el-table-column>-->

                            <!--<el-table-column-->
                                    <!--label="是否设为答案"-->
                                    <!--header-align="center"-->
                                    <!--align="center"-->
                                    <!--prop="isAnswer">-->
                            <!--</el-table-column>-->

                        <!--</el-table>-->

                        <!--<el-form-item label="试题难度：" disabled>-->
                            <!--<el-radio disabled v-for="item in diffList" v-model="form.questionDifficulty" :label="item.key">-->
                                <!--{{item.value}}-->
                            <!--</el-radio>-->
                        <!--</el-form-item>-->

                        <!--<el-form-item label="主题类型：">-->
                            <!--<el-select disabled v-model="form.specialKnowledgeId" placeholder="请选择">-->
                                <!--<el-option-->
                                        <!--v-for="item in topicList"-->
                                        <!--:key="item.key"-->
                                        <!--:label="item.value"-->
                                        <!--:value="item.key">-->
                                <!--</el-option>-->
                            <!--</el-select>-->
                        <!--</el-form-item>-->

                        <!--<el-form-item label="法律依据：" disabled>-->
                            <!--<el-input disabled v-model="form.legalBasis" autocomplete="off"></el-input>-->
                        <!--</el-form-item>-->

                        <!--<el-form-item label="答案描述：" disabled>-->
                            <!--<el-input disabled v-model="form.answerDescrible" autocomplete="off"></el-input>-->
                        <!--</el-form-item>-->

                    <!--</el-col>-->

                <!--</el-form>-->

                <!--<div slot="footer" class="dialog-footer" :label-width="formLabelWidth">-->
                    <!--<el-button type="primary" @click="saveExamine(0)">审核不通过</el-button>-->
                    <!--<el-button type="primary" @click="saveExamine(1)">审核通过</el-button>-->
                <!--</div>-->
            <!--</el-dialog>-->

            <el-dialog title="审核" :visible.sync="dialogStuMedia" ref="stuDialog">
                <div>
                    <el-form :model="stuMedia" label-width="100px" class="demo-stuMedia" size="mini">
                        <el-form-item label="资料类型" prop="stuType">
                            <el-radio-group disabled v-model="stuMedia.stuType">
                                <el-radio  label="1">图文</el-radio>
                                <el-radio  label="2">音频</el-radio>
                                <el-radio  label="3">视频</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="标题" prop="stuTitle">
                            <el-input disabled v-model="stuMedia.stuTitle" placeholder="请输入标题" clearable></el-input>
                        </el-form-item>
                        <template v-if="stuMedia.stuType=='1'">
                            <el-form-item disabled label="内容" prop="comContent">
                                <div disabled id="editor" style="width: 545px;">
                                </div>
                            </el-form-item>
                        </template>
                        <template v-if="stuMedia.stuType=='2'">

                            <el-form-item label="音频上传" prop="comContent">
                                <!-- action必选参数, 上传的地址 -->
                                <el-upload disabled name="importfile" class="avatar-uploader el-upload--text" :action="importFileUrl" :show-file-list="false" :on-success="uploadStuSuccess" :before-upload="beforeAudioUpload" :on-progress="uploadVideoProcess">
                                    <audio v-if="stuMedia.comContent !='' && videoFlag == false" :src="stuMedia.contentUrl" class="avatar" controls="controls" >您的浏览器不支持音频播放</audio>
                                    <i v-else-if="stuMedia.comContent =='' && videoFlag == false" class="iconfont icon-yinpin"></i>
                                    <el-progress v-if="videoFlag == true" type="circle" :percentage="videoUploadPercent" style="margin-top:30px;"></el-progress>
                                </el-upload>
                                <P class="text">请保证音频格式正确，且不超过100M</P>
                            </el-form-item>
                        </template>
                        <template v-if="stuMedia.stuType=='3'">
                            <el-form-item label="视频封面上传" prop="videoPicAcc">
                                <el-upload disabled
                                           class="avatar-uploader"
                                           name="importfile"
                                           :action="importFileUrl"
                                           :show-file-list="false"
                                           :on-success="handlePicSuccess"
                                           :before-upload="beforePicUpload">
                                    <img width="320" height="180" v-if="stuMedia.videoPicAcc !=''" :src="stuMedia.videoPicAccUrl" class="avatar">
                                    <i v-else class="iconfont icon-tupian"></i>
                                </el-upload>
                                <P class="text">请保证图片格式正确，作为视频封面</P>
                            </el-form-item>
                            <el-form-item label="视频上传" prop="comContent">
                                <!-- action必选参数, 上传的地址 -->
                                <el-upload disabled name="importfile" class="avatar-uploader el-upload--text" :action="importFileUrl" :show-file-list="false" :on-success="uploadStuSuccess" :before-upload="beforeAvatarUpload" :on-progress="uploadVideoProcess">
                                    <video width="320" height="180" v-if="stuMedia.comContent !='' && videoFlag == false" :src="stuMedia.contentUrl" class="avatar" controls="controls" >您的浏览器不支持视频播放</video>
                                    <i v-else-if="stuMedia.comContent =='' && videoFlag == false" class="iconfont icon-shipin"></i>
                                    <el-progress v-if="videoFlag == true" type="circle" :percentage="videoUploadPercent" style="margin-top:30px;"></el-progress>
                                </el-upload>
                                <P class="text">请保证视频格式正确，且不超过100M</P>
                            </el-form-item>
                        </template>
                        <el-form-item label="所属警种" prop="stuPoliceclass">
                            <el-select disabled v-model="stuMedia.stuPoliceclass" placeholder="所属警种" >
                                <el-option
                                        v-for="item in stuPoliceclassOption"
                                        :key="item.key"
                                        :label="item.value"
                                        :value="item.key"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="使用部门" prop="deptName">
                            <el-input disabled v-model="stuMedia.deptName" readonly placeholder="请选择使用部门" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="使用人员" prop="userName">
                            <el-input disabled v-model="stuMedia.userName" readonly placeholder="请选择使用人员" clearable></el-input>
                        </el-form-item>
                        <el-form-item label="描述" prop="stuDescribe">
                            <el-input disabled type="textarea" maxlength="200" v-model="stuMedia.stuDescribe"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogStuMedia = false">取消</el-button>
                    <el-button type="primary" @click="saveExamine(0)">审核不通过</el-button>
                    <el-button type="primary" @click="saveExamine(1)">审核通过</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
    <script src="${rc.contextPath}/js/personalCen/manu_examine.js?_${.now?long}"></script>
    <script type="text/javascript" src="${rc.contextPath}/statics/plugins/editor/wangEditor.min.js"></script>
</body>
</html>