<!DOCTYPE html>
<html lang="en">
<head>
    <title>江苏省公安机关网上法律学校 | Sinorock</title>
    <#include "/header.html">
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <el-breadcrumb separator-class="el-icon-arrow-right" style="padding-left: 30px">
            <el-breadcrumb-item :to="{ path: '/' }"><span @click="toHome">首页</span></el-breadcrumb-item>
            <el-breadcrumb-item>个人中心</el-breadcrumb-item>
            <el-breadcrumb-item>个人信息</el-breadcrumb-item>
            <el-breadcrumb-item>我的勋章</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row :gutter="24">
            <el-col :span="24">
                <el-tabs type="border-card">
                    <el-form :inline="true" class="demo-form-inline">

                    </el-form>
                    <div>
                        <el-table
                                :data="tableData"
                                border
                                style="width: 100%">
                            <el-table-column
                                    label="序号"
                                    type="index"
                                    header-align="center"
                                    align="center"
                                    :index="indexMethod"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="titleName"
                                    header-align="center"
                                    label="勋章名称">
                            </el-table-column>
                            <el-table-column
                                    label="勋章图标"
                                    width="250"
                                    header-align="center"
                                    align="center">
                                <template slot-scope="scope">
                                    <i class="iconfont" :class="scope.row.badge ? scope.row.badge:'icon-085shucezhongxin'" style="color: #000000"></i>
                                </template>
                            </el-table-column>
                            <!--<el-table-column-->
                                    <!--prop="isReceive"-->
                                    <!--label="是否可领取">-->
                            <!--</el-table-column>-->
                            <el-table-column
                                    prop="active"
                                    header-align="center"
                                    label="操作">
                                <template slot-scope="scope">


                                    <!--<el-button
                                            :disabled="user.myMedal===scope.row.badge"
                                            size="mini"
                                            @click="wear(scope.$index, scope.row)">{{user.myMedal===scope.row.badge?"已佩戴":"佩戴"}}
                                    </el-button>-->
                                    <el-popover
                                            v-if="user.myMedal===scope.row.id"
                                            placement="right"
                                            trigger="hover"
                                            content="已佩戴">
                                        <i class="iconfont tabIcon"
                                           slot="reference"
                                           style="color: #119e0a;font-size: 16px;">&#xe666;
                                        </i>
                                    </el-popover>
                                    <el-popover
                                            v-if="user.myMedal!==scope.row.id"
                                            placement="right"
                                            trigger="hover"
                                            content="佩戴">
                                        <i class="iconfont tabIcon"
                                           slot="reference"
                                           @click="wear(scope.$index, scope.row)"
                                           style="color: #1381e3;font-size: 16px;">&#xe666;
                                        </i>
                                    </el-popover>
                                    <!--<el-button :disabled="isReceive.indexOf(tableData[scope.$index].id) > -1"-->
                                            <!--size="mini"-->
                                            <!--@click="receive(scope.$index, scope.row)">{{isReceive.indexOf(tableData[scope.$index].id) > -1?"已":""}}领取-->
                                    <!--</el-button>-->

                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurChange"
                                :current-page="form.page"
                                :page-sizes="[10, 20, 30, 40]"
                                :page-size="form.limit"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="form.count">
                        </el-pagination>
                    </div>
                </el-tabs>
            </el-col>
        </el-row>

    </div>
</div>
</body>
<!-- import [current] JavaScript -->
<script src="${rc.contextPath}/js/personalCen/myMedal.js?_${.now?long}"></script>
</html>