<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.AnswerDao">
  <resultMap id="BaseResultMap" type="com.lawschool.beans.Answer">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="QUESTION_ID" jdbcType="VARCHAR" property="questionId" />
    <result column="QUESTION_CONTENT" jdbcType="VARCHAR" property="questionContent" />
    <result column="ORDERSORT" jdbcType="DECIMAL" property="ordersort" />
    <result column="SCORE" jdbcType="DECIMAL" property="score" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="OPT_USER" jdbcType="VARCHAR" property="optUser" />
    <result column="OPT_TIME" jdbcType="TIMESTAMP" property="optTime" />
  </resultMap>

  <!--查询所需要的问题字段-->
  <select id="findByQuestionIds" resultType="com.lawschool.form.AnswerForm">
    SELECT
      id AS "id",
      question_content AS "questionContent",
      question_id AS "questionId"
    FROM law_answer
    <where>
      question_id IN
      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </where>
    ORDER BY question_id，id
  </select>

  <!--根据题目id查询答案-->
  <select id="findByQuesId" parameterType="java.lang.String" resultType="com.lawschool.form.AnswerForm">
    SELECT
      id AS "id",
      question_content AS "questionContent",
      QUESTION_ID AS "questionId"
    FROM law_answer
    where QUESTION_ID = #{questionId}
  </select>

  <delete id="deleteByQuestionId">
    DELETE FROM law_answer
    WHERE question_id = #{questionId}
  </delete>

  <delete id="deleteByQuestionIds">
    DELETE FROM law_answer
    WHERE question_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>