<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.CompetitionOnlineDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="baseResultMap" type="com.lawschool.beans.CompetitionOnline">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="TOPIC_NUM" property="topicNum" jdbcType="VARCHAR" />
        <result column="UNIFORM_RULES" property="uniformRules" jdbcType="VARCHAR" />
        <result column="WIN_REWARD" property="winReward" jdbcType="VARCHAR" />
        <result column="LOSER_REWARD" property="loserReward" jdbcType="VARCHAR" />
        <result column="ANSWER_TIME" property="answerTime" jdbcType="DATE" />
        <result column="BACKUP1" property="backup1" jdbcType="VARCHAR" />
        <result column="BACKUP2" property="backup2" jdbcType="VARCHAR" />
        <result column="BACKUP3" property="backup3" jdbcType="VARCHAR" />
        <result column="BACKUP4" property="backup4" jdbcType="VARCHAR" />
        <result column="BACKUP5" property="backup5" jdbcType="VARCHAR" />

    </resultMap>


</mapper>