<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.IntegralDao">

    
    
    
    
    
    <select id="chuangguanCountByUser" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            CASE
            WHEN "SUM" ("POINT") IS null THEN 0
            ELSE "SUM" ("POINT")  END sorce
        FROM
            LAW_INTEGRAL
        WHERE
            USER_ID = #{uid}
        AND SRC = 'Checkpoint'
    </select>

    <select id="pkByUser" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
           	CASE
            WHEN "SUM" ("POINT") IS null THEN 0
            ELSE "SUM" ("POINT")  END sorce
        FROM
            LAW_INTEGRAL
        WHERE
            USER_ID =  #{uid}
        AND (SRC = 'OnlinPk' OR SRC='OnlinPkByCode' OR src='teamOnline')
    </select>

    <select id="leitaiByUser" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        	CASE
            WHEN "SUM" ("POINT") IS null THEN 0
            ELSE "SUM" ("POINT")  END sorce
        FROM
        LAW_INTEGRAL
        WHERE
        USER_ID = #{uid}
        AND SRC = 'leitai'
    </select>
    
    
    
    <select id="userByDeptList" resultType="com.lawschool.beans.vo.CompetitionStatisticsByDeptVo" parameterType="Map">
            SELECT
                LASTTABLE."ID" AS "userid", USERID2NAME(LASTTABLE."ID") as "userName",LASTTABLE."Checkpoint" as "checkpoint",LASTTABLE."pk" AS  "pk",LASTTABLE."leitai" AS  "leitai"
            FROM
                (
                    SELECT
                        AAAA."ID",
                        AAAA. POINT AS "Checkpoint",
                        (
                            BBBB. POINT + cccc. POINT + dddd. POINT
                        ) AS "pk",
                        eeee. POINT AS "leitai"
                    FROM
                        (
                            SELECT
                                LAW_USER."ID",
                                TT.SRC,
                                CASE
                            WHEN TT. POINT IS NULL THEN
                                0
                            ELSE
                                TT. POINT
                            END POINT
                            FROM
                                LAW_USER
                            LEFT JOIN (
                                SELECT
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src,
                                    "SUM" (LAW_INTEGRAL."POINT") AS POINT
                                FROM
                                    LAW_INTEGRAL
                                WHERE
                                    SRC = 'Checkpoint'
                                GROUP BY
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src
                            ) tt ON TT.USER_ID = LAW_USER."ID"
                            WHERE
                                LAW_USER.ORG_CODE =#{deptcode}
                        ) aaaa,
                        (
                            SELECT
                                LAW_USER."ID",
                                TT.SRC,
                                CASE
                            WHEN TT. POINT IS NULL THEN
                                0
                            ELSE
                                TT. POINT
                            END POINT
                            FROM
                                LAW_USER
                            LEFT JOIN (
                                SELECT
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src,
                                    "SUM" (LAW_INTEGRAL."POINT") AS POINT
                                FROM
                                    LAW_INTEGRAL
                                WHERE
                                    SRC = 'OnlinPk'
                                GROUP BY
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src
                            ) tt ON TT.USER_ID = LAW_USER."ID"
                            WHERE
                                LAW_USER.ORG_CODE =#{deptcode}
                        ) bbbb,
                        (
                            SELECT
                                LAW_USER."ID",
                                TT.SRC,
                                CASE
                            WHEN TT. POINT IS NULL THEN
                                0
                            ELSE
                                TT. POINT
                            END POINT
                            FROM
                                LAW_USER
                            LEFT JOIN (
                                SELECT
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src,
                                    "SUM" (LAW_INTEGRAL."POINT") AS POINT
                                FROM
                                    LAW_INTEGRAL
                                WHERE
                                    SRC = 'OnlinPkByCode'
                                GROUP BY
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src
                            ) tt ON TT.USER_ID = LAW_USER."ID"
                            WHERE
                                LAW_USER.ORG_CODE =#{deptcode}
                        ) cccc,
                        (
                            SELECT
                                LAW_USER."ID",
                                TT.SRC,
                                CASE
                            WHEN TT. POINT IS NULL THEN
                                0
                            ELSE
                                TT. POINT
                            END POINT
                            FROM
                                LAW_USER
                            LEFT JOIN (
                                SELECT
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src,
                                    "SUM" (LAW_INTEGRAL."POINT") AS POINT
                                FROM
                                    LAW_INTEGRAL
                                WHERE
                                    SRC = 'teamOnline'
                                GROUP BY
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src
                            ) tt ON TT.USER_ID = LAW_USER."ID"
                            WHERE
                                LAW_USER.ORG_CODE =#{deptcode}
                        ) dddd,
                        (
                            SELECT
                                LAW_USER."ID",
                                TT.SRC,
                                CASE
                            WHEN TT. POINT IS NULL THEN
                                0
                            ELSE
                                TT. POINT
                            END POINT
                            FROM
                                LAW_USER
                            LEFT JOIN (
                                SELECT
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src,
                                    "SUM" (LAW_INTEGRAL."POINT") AS POINT
                                FROM
                                    LAW_INTEGRAL
                                WHERE
                                    SRC = 'leitai'
                                GROUP BY
                                    LAW_INTEGRAL.USER_ID,
                                    LAW_INTEGRAL.src
                            ) tt ON TT.USER_ID = LAW_USER."ID"
                            WHERE
                                 LAW_USER.ORG_CODE =#{deptcode}
                        ) eeee
                    WHERE
                        AAAA. ID = BBBB."ID"
                    AND AAAA. ID = cccc."ID"
                    AND AAAA. ID = dddd."ID"
                    AND AAAA. ID = eeee."ID"
                ) lasttable
            ORDER BY lasttable."Checkpoint" DESC,lasttable."pk" DESC,lasttable."leitai" DESC

    </select>

    <select id="userByDeptListCount"   resultType="java.lang.Integer" parameterType="Map">

          	    SELECT
                    count(*)
                FROM
                    (
                        SELECT
                            LAW_USER."ID",
                            TT.SRC,
                            CASE
                        WHEN TT. POINT IS NULL THEN
                            0
                        ELSE
                            TT. POINT
                        END POINT
                        FROM
                            LAW_USER
                        LEFT JOIN (
                            SELECT
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src,
                                "SUM" (LAW_INTEGRAL."POINT") AS POINT
                            FROM
                                LAW_INTEGRAL
                            WHERE
                                SRC = 'Checkpoint'
                            GROUP BY
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src
                        ) tt ON TT.USER_ID = LAW_USER."ID"
                        WHERE
                            LAW_USER.ORG_CODE =#{deptcode}
                    ) aaaa,
                    (
                        SELECT
                            LAW_USER."ID",
                            TT.SRC,
                            CASE
                        WHEN TT. POINT IS NULL THEN
                            0
                        ELSE
                            TT. POINT
                        END POINT
                        FROM
                            LAW_USER
                        LEFT JOIN (
                            SELECT
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src,
                                "SUM" (LAW_INTEGRAL."POINT") AS POINT
                            FROM
                                LAW_INTEGRAL
                            WHERE
                                SRC = 'OnlinPk'
                            GROUP BY
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src
                        ) tt ON TT.USER_ID = LAW_USER."ID"
                        WHERE
                            LAW_USER.ORG_CODE =#{deptcode}
                    ) bbbb,
                    (
                        SELECT
                            LAW_USER."ID",
                            TT.SRC,
                            CASE
                        WHEN TT. POINT IS NULL THEN
                            0
                        ELSE
                            TT. POINT
                        END POINT
                        FROM
                            LAW_USER
                        LEFT JOIN (
                            SELECT
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src,
                                "SUM" (LAW_INTEGRAL."POINT") AS POINT
                            FROM
                                LAW_INTEGRAL
                            WHERE
                                SRC = 'OnlinPkByCode'
                            GROUP BY
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src
                        ) tt ON TT.USER_ID = LAW_USER."ID"
                        WHERE
                            LAW_USER.ORG_CODE =#{deptcode}
                    ) cccc,
                    (
                        SELECT
                            LAW_USER."ID",
                            TT.SRC,
                            CASE
                        WHEN TT. POINT IS NULL THEN
                            0
                        ELSE
                            TT. POINT
                        END POINT
                        FROM
                            LAW_USER
                        LEFT JOIN (
                            SELECT
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src,
                                "SUM" (LAW_INTEGRAL."POINT") AS POINT
                            FROM
                                LAW_INTEGRAL
                            WHERE
                                SRC = 'teamOnline'
                            GROUP BY
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src
                        ) tt ON TT.USER_ID = LAW_USER."ID"
                        WHERE
                            LAW_USER.ORG_CODE =#{deptcode}
                    ) dddd,
                    (
                        SELECT
                            LAW_USER."ID",
                            TT.SRC,
                            CASE
                        WHEN TT. POINT IS NULL THEN
                            0
                        ELSE
                            TT. POINT
                        END POINT
                        FROM
                            LAW_USER
                        LEFT JOIN (
                            SELECT
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src,
                                "SUM" (LAW_INTEGRAL."POINT") AS POINT
                            FROM
                                LAW_INTEGRAL
                            WHERE
                                SRC = 'leitai'
                            GROUP BY
                                LAW_INTEGRAL.USER_ID,
                                LAW_INTEGRAL.src
                        ) tt ON TT.USER_ID = LAW_USER."ID"
                        WHERE
                            LAW_USER.ORG_CODE =#{deptcode}
                    ) eeee
                WHERE
                    AAAA. ID = BBBB."ID"
                AND AAAA. ID = cccc."ID"
                AND AAAA. ID = dddd."ID"
                AND AAAA. ID = eeee."ID"


    </select>


    <select id="orgDiaStat" resultType="com.lawschool.beans.vo.OrgCompetitionVO" parameterType="map">
        SELECT
            AAA.ORG_ID AS "orgId",
            AAA.ORG_NAME AS "orgName",
            AAA.org_level AS "orgLevel",
            AAA.parent_id AS "parentId",
            AAA.AllCount AS "AllCount",
            BBB.ChuangGuanCount AS "ChuangGuanCount",
            CCC.pkAllCount AS "pkAllCount",
            DDD.pkwinCount AS "pkwinCount",
            EEE.leitaiAllCount AS "leitaiAllCount",
            FFF.leitaiwinCount AS "leitaiwinCount"
        FROM

            (
                SELECT
                    o.ORG_ID,
                    o.ORG_NAME,
                    o.parent_id,
                    o.org_level,
                    A.AllCount
                FROM
                    LAW_ORG o
                LEFT JOIN (
                    SELECT
                        "SUM" (LAW_INTEGRAL."POINT") AS AllCount,
                        LAW_USER.ORG_ID
                    FROM
                        LAW_INTEGRAL
                    LEFT JOIN LAW_USER ON LAW_INTEGRAL.USER_ID = LAW_USER."ID"
                    WHERE
                        (
                            LAW_INTEGRAL.src = 'Checkpoint'
                            OR LAW_INTEGRAL.src = 'OnlinPk'
                            OR LAW_INTEGRAL.src = 'teamOnline'
                            OR LAW_INTEGRAL.src = 'leitai'
                        )
                    GROUP BY
                        LAW_USER.ORG_ID
                ) A ON o.ORG_ID = A .ORG_ID
                WHERE
                    o.ORG_TYPE IN (10, 70, - 1, 0)
                AND o.org_status >= 2000 START WITH o.ORG_ID = #{orgid} CONNECT BY PRIOR o.ORG_ID = o.parent_id
            ) AAA,
            (
                SELECT
                    o.ORG_ID,
                    o.ORG_NAME,
                    o.parent_id,
                    o.org_level,
                    A.ChuangGuanCount
                FROM
                    LAW_ORG o
                LEFT JOIN (
                    SELECT
                        "SUM" (LAW_INTEGRAL."POINT") AS ChuangGuanCount,
                        LAW_USER.ORG_ID
                    FROM
                        LAW_INTEGRAL
                    LEFT JOIN LAW_USER ON LAW_INTEGRAL.USER_ID = LAW_USER."ID"
                    WHERE
                            LAW_INTEGRAL.src = 'Checkpoint'
                    GROUP BY
                        LAW_USER.ORG_ID
                ) A ON o.ORG_ID = A .ORG_ID
                WHERE
                    o.ORG_TYPE IN (10, 70, - 1, 0)
                AND o.org_status >= 2000 START WITH o.ORG_ID = #{orgid} CONNECT BY PRIOR o.ORG_ID = o.parent_id
            ) BBB,
            (
                SELECT
                    o.ORG_ID,
                    o.ORG_NAME,
                    o.parent_id,
                    o.org_level,
                    A.pkAllCount
                FROM
                    LAW_ORG o
                LEFT JOIN (
                    SELECT
                        count(LAW_BATTLE_RECORD.WHETHER_WIN) AS pkAllCount,
                        LAW_USER.ORG_ID
                    FROM
                        LAW_BATTLE_RECORD
                    LEFT JOIN LAW_USER ON LAW_BATTLE_RECORD.USER_ID = LAW_USER."ID"
                    WHERE
                            (LAW_BATTLE_RECORD."TYPE" = 'OnlinPk' OR  LAW_BATTLE_RECORD."TYPE" = 'OnlinPkByCode' OR LAW_BATTLE_RECORD."TYPE" = 'teamOnline' )
                    GROUP BY
                        LAW_USER.ORG_ID
                ) A ON o.ORG_ID = A .ORG_ID
                WHERE
                    o.ORG_TYPE IN (10, 70, - 1, 0)
                AND o.org_status >= 2000 START WITH o.ORG_ID = #{orgid} CONNECT BY PRIOR o.ORG_ID = o.parent_id
            ) CCC,
        (
                SELECT
                    o.ORG_ID,
                    o.ORG_NAME,
                    o.parent_id,
                    o.org_level,
                    A.pkwinCount
                FROM
                    LAW_ORG o
                LEFT JOIN (
                    SELECT
                        "SUM" (LAW_BATTLE_RECORD.WHETHER_WIN) AS pkwinCount,
                        LAW_USER.ORG_ID
                    FROM
                        LAW_BATTLE_RECORD
                    LEFT JOIN LAW_USER ON LAW_BATTLE_RECORD.USER_ID = LAW_USER."ID"
                    WHERE
                            (LAW_BATTLE_RECORD."TYPE" = 'OnlinPk' OR  LAW_BATTLE_RECORD."TYPE" = 'OnlinPkByCode' OR LAW_BATTLE_RECORD."TYPE" = 'teamOnline' )
                    GROUP BY
                        LAW_USER.ORG_ID
                ) A ON o.ORG_ID = A .ORG_ID
                WHERE
                    o.ORG_TYPE IN (10, 70, - 1, 0)
                AND o.org_status >= 2000 START WITH o.ORG_ID = #{orgid} CONNECT BY PRIOR o.ORG_ID = o.parent_id
            ) DDD,
        (
                SELECT
                    o.ORG_ID,
                    o.ORG_NAME,
                    o.parent_id,
                    o.org_level,
                    A.leitaiAllCount
                FROM
                    LAW_ORG o
                LEFT JOIN (
                    SELECT
                        "COUNT"(LAW_BATTLE_RECORD.WHETHER_WIN) AS leitaiAllCount,
                        LAW_USER.ORG_ID
                    FROM
                        LAW_BATTLE_RECORD
                    LEFT JOIN LAW_USER ON LAW_BATTLE_RECORD.USER_ID = LAW_USER."ID"
                    WHERE
                            (LAW_BATTLE_RECORD."TYPE" = 'leitai')
                    GROUP BY
                        LAW_USER.ORG_ID
                ) A ON o.ORG_ID = A .ORG_ID
                WHERE
                    o.ORG_TYPE IN (10, 70, - 1, 0)
                AND o.org_status >= 2000 START WITH o.ORG_ID = #{orgid} CONNECT BY PRIOR o.ORG_ID = o.parent_id
            ) EEE,
        (
                SELECT
                    o.ORG_ID,
                    o.ORG_NAME,
                    o.parent_id,
                    o.org_level,
                    A.leitaiwinCount
                FROM
                    LAW_ORG o
                LEFT JOIN (
                    SELECT
                        sum(LAW_BATTLE_RECORD.WHETHER_WIN) AS leitaiwinCount,
                        LAW_USER.ORG_ID
                    FROM
                        LAW_BATTLE_RECORD
                    LEFT JOIN LAW_USER ON LAW_BATTLE_RECORD.USER_ID = LAW_USER."ID"
                    WHERE
                            (LAW_BATTLE_RECORD."TYPE" = 'leitai')
                    GROUP BY
                        LAW_USER.ORG_ID
                ) A ON o.ORG_ID = A .ORG_ID
                WHERE
                    o.ORG_TYPE IN (10, 70, - 1, 0)
                AND o.org_status >= 2000 START WITH o.ORG_ID = #{orgid} CONNECT BY PRIOR o.ORG_ID = o.parent_id
            ) FFF
        WHERE
            AAA.ORG_ID = BBB.ORG_ID
            AND AAA.ORG_ID = CCC.ORG_ID
            AND AAA.ORG_ID = DDD.ORG_ID
            AND AAA.ORG_ID = EEE.ORG_ID
            AND AAA.ORG_ID = FFF.ORG_ID
    </select>

    <select id="sumPointByUser" resultType="java.lang.Float" parameterType="com.lawschool.beans.Integral">
        SELECT
            SUM (POINT)
        FROM
            LAW_INTEGRAL
        WHERE 1=1
        <if test="type != null and type!=''">
            AND TYPE = #{type}
        </if>
        <if test="src != null and src!=''">
            AND src = #{src}
        </if>
        <if test="userId != null and userId!=''">
            AND USER_ID = #{userId}
        </if>
    </select>
</mapper>