<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.ManuscriptDao">
    <sql id="manuscriptColumn">
        id AS "id",
        audit_user AS "auditUser",
        audit_time AS "auditTime",
        audit_status AS "auditStatus",
        manuscript_type AS "manuscriptType",
        type_id AS "typeId",
        question_difficulty AS "questionDifficulty",
        question_type AS "questionType",
        answer_choice_number AS "answerChoiceNumber",
        answer_id AS "answerId",
        special_knowledge_id AS "specialKnowledgeId",
        police_classification AS "policeClassification",
        legal_basis AS "legalBasis",
        answer_describle AS "answerDescrible",
        stu_code AS "stuCode",
        stu_title AS "stuTitle",
        com_content AS "comContent"
    </sql>

    <insert id="insert">
        INSERT INTO LAW_MANUSCRIPT
        (
            id,
            type,
            source_id,
            status,
            author,
            create_user,
            create_time,
            opt_user,
            opt_time
        ) VALUES (
            #{id},
            #{type},
            #{sourceId},
            #{status},
            #{author},
            #{createUser},
            #{createTime},
            #{optUser},
            #{optTime}
        )
    </insert>

    <select id="findList" resultType="com.lawschool.beans.ManuscriptEntity">
        SELECT
            id AS "id",
            type AS "type",
            source_id AS "sourceId",
            status AS "status",
            auditor AS "auditor",
            USERID2NAME(auditor) AS "auditorName",
            opinion AS "opinion",
            author AS "author",
            create_time AS "createTime"
        FROM LAW_MANUSCRIPT
        <where>
            1 = 1
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="findOne" resultType="com.lawschool.beans.ManuscriptEntity">
        SELECT
            id AS "id",
            type AS "type",
            source_id AS "sourceId"
        FROM LAW_MANUSCRIPT
        <where>
            id = #{id}
        </where>
    </select>

    <delete id="deleteById">
        DELETE FROM LAW_MANUSCRIPT WHERE ID = #{id}
    </delete>

    <update id="update">
        UPDATE LAW_MANUSCRIPT
        SET
            type = #{type},
            source_id = #{sourceId},
            status = #{status},
            author = #{author},
            opt_user = #{optUser},
            opt_time = #{optTime}
        WHERE id = #{id}
    </update>

    <update id="updateExamine">
        UPDATE LAW_MANUSCRIPT
        SET
            status = #{status},
            AUDITOR= #{userid},
            OPINION= #{opinion}
        WHERE
            id = #{id}
    </update>
</mapper>