<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.MsgDao">
    <resultMap id="BaseResultMap" type="com.lawschool.beans.Msg">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="NOTICE_TYPE" jdbcType="VARCHAR" property="noticeType" />
        <result column="CONTENT" jdbcType="VARCHAR" property="content" />
        <result column="RELEASE_DEPT" jdbcType="VARCHAR" property="releaseDept" />
        <result column="RELEASE_PEOPLE" jdbcType="VARCHAR" property="releasePeople" />
        <result column="RELEASE_DATE" jdbcType="DATE" property="releaseDate" />
        <result column="RECIEVE_DEPT" jdbcType="VARCHAR" property="recieveDept" />
        <result column="RECIEVE_PEOPLE" jdbcType="VARCHAR" property="recievePeople" />
        <result column="RECIEVE_DATE" jdbcType="DATE" property="recieveDate" />
        <result column="RELEASE_STATE" jdbcType="VARCHAR" property="releaseState" />
    </resultMap>
    <!--新增消息-->
    <insert id="add" parameterType="com.lawschool.beans.Msg">
        insert into LAW_SYS_MSG_WITHIN_STATION
        (ID,TITLE,NOTICE_TYPE,CONTENT,RELEASE_DEPT,RELEASE_PEOPLE,RELEASE_DATE,RECIEVE_DEPT,RECIEVE_PEOPLE,RECIEVE_DATE,RELEASE_STATE)
         values
         (#{id},#{title},#{noticeType},#{content},#{releaseDept},#{releasePeople},#{releaseDate},#{recieveDept},#{recievePeople},#{recieveDate},#{releaseState})
    </insert>

    <!--查询全部消息-->
    <select id="selectAllMsg" resultMap="BaseResultMap">
        select * from LAW_SYS_MSG_WITHIN_STATION
    </select>

    <!--查询单条消息-->
    <select id="selectByMsgId" parameterType="java.lang.String" resultType="com.lawschool.beans.Msg">
        select
            ID AS "id",
            TITLE AS "title",
            CONTENT AS "content",
            RELEASE_PEOPLE AS "releasePeople",
            USERID2NAME(RELEASE_PEOPLE) AS "releasePeopleName",
            RECIEVE_PEOPLE AS "recievePeople",
            RECIEVE_PEOPLE_NMAE AS "recievePeopleNmae",
            NOTICE_TYPE AS "noticeType",
            DEPT_NAME AS  "deptName",
            DEPT_IDS AS  "deptIds",
            RELEASE_DATE AS "releaseDate",
            RECIEVE_DATE AS "recieveDate",
            RELEASE_STATE AS "releaseState"
        from
            LAW_SYS_MSG_WITHIN_STATION where ID = #{id}
    </select>

    <!--修改一条数据-->
    <update id="updateByMsg" parameterType="com.lawschool.beans.Msg">
        UPDATE LAW_SYS_MSG_WITHIN_STATION
          <trim prefix="set" suffixOverrides=",">
                <if test="title!=null and title != ''">TITLE=#{title},</if>
                <if test="noticeType!=null and noticeType != ''">NOTICE_TYPE=#{noticeType},</if>
                <if test="content!=null and content != ''">CONTENT=#{content},</if>
                <if test="releaseDept!=null and releaseDept != ''">RELEASE_DEPT=#{releaseDept},</if>
                <if test="releasePeople!=null and releasePeople != ''">RELEASE_PEOPLE=#{releasePeople},</if>
                <if test="releaseDate!=null and releaseDate != ''">RELEASE_DATE=#{releaseDate},</if>
                <if test="releaseState!=null and releaseState != ''">RELEASE_STATE=#{releaseState},</if>
                <if test="recieveDate!=null and recieveDate !='' ">RECIEVE_DATE=TO_DATE(#{recieveDate}, 'yyyy-MM-dd HH:mm:ss')</if>
                <if test="recievePeople!=null and recievePeople != '' ">RECIEVE_PEOPLE=#{recievePeople}</if>
            </trim>
        WHERE id=#{id}
    </update>

    <!--删除单条数据-->
    <delete id="deleteByMsgId" parameterType="java.lang.String">
        delete from LAW_SYS_MSG_WITHIN_STATION where  ID = #{id}
    </delete>

    <!--查询当前用户被推送的消息,返回被推送所有消息List<Msg>-->
    <select id="showSent" resultType="com.lawschool.beans.Msg">
        SELECT
        ID AS "id",
        TITLE AS "title",
        CONTENT AS "content",
        RELEASE_PEOPLE AS "releasePeople",
        NOTICE_TYPE AS "noticeType",
        RELEASE_DATE AS "releaseDate",
        RECIEVE_DATE AS "recieveDate"
        FROM
        LAW_SYS_MSG_WITHIN_STATION
        WHERE
        1 = 1
        and RELEASE_STATE = 1
        <if test="null!=recievePeople||''!=recievePeople">
            and RECIEVE_PEOPLE = #{recievePeople}
        </if>
    </select>



    <select id="selectAllMsgByUserid"  parameterType="map" resultType="com.lawschool.beans.Msg">
        SELECT
            ID AS "id",
            TITLE AS "title",
            CONTENT AS "content",
            RELEASE_PEOPLE AS "releasePeople",
            USERID2NAME(RELEASE_PEOPLE) AS "releasePeopleName",
            RECIEVE_PEOPLE AS "recievePeople",
            RECIEVE_PEOPLE_NMAE AS "recievePeopleNmae",
          DEPT_NAME AS  "deptName",
            DEPT_IDS AS  "deptIds",
            NOTICE_TYPE AS "noticeType",
            RELEASE_DATE AS "releaseDate",
            RECIEVE_DATE AS "recieveDate",
             RELEASE_STATE AS "releaseState"
        FROM
            LAW_SYS_MSG_WITHIN_STATION
        WHERE
            RELEASE_PEOPLE=#{userId}
        ORDER BY  RECIEVE_DATE DESC
    </select>


    <select id="selectAllMsgCont"  parameterType="map" resultType="java.lang.Integer">
         SELECT
            COUNT(*)
        FROM
            LAW_SYS_MSG_WITHIN_STATION
        WHERE
            RELEASE_PEOPLE=#{userId}
    </select>


    <select id="findMsgList"  parameterType="map" resultType="com.lawschool.beans.Msg">
        SELECT
        ID AS "id",
        TITLE AS "title",
        CONTENT AS "content",
        RELEASE_PEOPLE AS "releasePeople",
        USERID2NAME(RELEASE_PEOPLE) AS "releasePeopleName",
        RECIEVE_PEOPLE AS "recievePeople",
        RECIEVE_PEOPLE_NMAE AS "recievePeopleNmae",
        NOTICE_TYPE AS "noticeType",
      DEPT_NAME AS  "deptName",
            DEPT_IDS AS  "deptIds",
        RELEASE_DATE AS "releaseDate",
        RECIEVE_DATE AS "recieveDate",
        RELEASE_STATE AS "releaseState"
        FROM
        LAW_SYS_MSG_WITHIN_STATION
        WHERE

        RECIEVE_PEOPLE LIKE   '%' || #{userId} || '%'
        AND 	RELEASE_STATE='1'
        order by RECIEVE_DATE desc
    </select>


    <select id="findMsgListCont"  parameterType="map" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM
        LAW_SYS_MSG_WITHIN_STATION
        WHERE
        RECIEVE_PEOPLE LIKE   '%' || #{userId} || '%'
         AND 	RELEASE_STATE='1'
    </select>
</mapper>