<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.PracticeConfigurationDao">
    <resultMap id="BaseResultMap" type="com.lawschool.beans.PracticeConfiguration">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="PREFIX" jdbcType="VARCHAR" property="prefix" />
        <result column="QUESTION_TYPE" jdbcType="VARCHAR" property="questionType" />
        <result column="RANGE" jdbcType="VARCHAR" property="range" />
        <result column="TOTAL_COUNT" jdbcType="DECIMAL" property="totalCount" />
        <result column="SYS_NUM" jdbcType="DECIMAL" property="sysNum" />
        <result column="PRACTITIONERS" jdbcType="VARCHAR" property="practitioners" />
        <result column="CREATE_USER" jdbcType="VARCHAR" property="addUser" />
        <result column="CREATE_TIME" jdbcType="DATE" property="addDate" />
        <result column="OPT_USER" jdbcType="VARCHAR" property="updateUser" />
        <result column="OPT_TIME" jdbcType="DATE" property="updateDate" />
        <result column="PRIMARY_COUNT" jdbcType="DECIMAL" property="primaryCount"/>
        <result column="INTERMEDIATE_COUNT" jdbcType="DECIMAL" property="intermediateCount"/>
        <result column="SENIOR_COUNT" jdbcType="DECIMAL" property="seniorCount"/>
    </resultMap>
    <!--根据专业知识查询-->
    <select id="selectQuestionsByKnowledgeId" parameterType="java.lang.String" resultType="java.util.Map">
          select * from LAW_TESTQUESTIONS where
        <if test="SPECIAL_KNOWLEDGE_ID!=null||SPECIAL_KNOWLEDGE_ID!='' ">
            and SPECIAL_KNOWLEDGE_ID in
            <foreach item="item" index="index" collection="list" open="("  close=")" separator=",">
                #{specialKnowledgeId}
            </foreach>
        </if>
        <if test="QUESTION_DIFFICULTY!=null||QUESTION_DIFFICULTY!='' ">
            and QUESTION_DIFFICULTY in
            <foreach item="item" index="index" collection="list" open="(" close=")" separator=",">
                #{questionDifficulty}
            </foreach>
        </if>
    </select>

    <!--随机一定数量题目-->
    <select id="queryRandom" parameterType="java.util.Map" resultType="java.lang.String">
        select ID from (select ID,QUESTION_DIFFICULTY,SPECIAL_KNOWLEDGE_ID from LAW_TESTQUESTIONS order by dbms_random.random)l
        where l.QUESTION_DIFFICULTY = #{difficulty}
        and l.SPECIAL_KNOWLEDGE_ID = #{knowledgeID}
        and rownum &lt;=#{row_count}
    </select>

    <insert id="insertDiy" parameterType="com.lawschool.beans.PracticeConfiguration">
    insert into LAW_PRACTICE_CONFIGURATION (ID, PREFIX, QUESTION_TYPE,
      RANGE, PRACTITIONERS, CREATE_USER,
      CREATE_TIME, OPT_USER, OPT_TIME,
      PRIMARY_COUNT, INTERMEDIATE_COUNT, SENIOR_COUNT,
      TOTAL_COUNT, SPECIAL_KNOWLEDGE_ID, QUESTION_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{prefix,jdbcType=VARCHAR}, #{questionType,jdbcType=VARCHAR},
      #{range,jdbcType=VARCHAR}, #{practitioners,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{optUser,jdbcType=VARCHAR}, #{optTime,jdbcType=TIMESTAMP},
      #{primaryCount,jdbcType=DECIMAL}, #{intermediateCount,jdbcType=DECIMAL}, #{seniorCount,jdbcType=DECIMAL},
      #{totalCount,jdbcType=DECIMAL}, #{specialKnowledgeId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR}
      )
  </insert>
</mapper>



