<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.PracticeConfigurationSonDao">
    <resultMap id="BaseResultMap" type="com.lawschool.beans.PracticeConfiguration02">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="SPECIAL_KNOWLEDGE_ID" jdbcType="VARCHAR" property="specialKnowledgeId" />
        <result column="PRIMARY_COUNT" jdbcType="DECIMAL" property="primaryCount" />
        <result column="INTERMEDIATE_COUNT" jdbcType="DECIMAL" property="intermediateCount" />
        <result column="SENIOR_COUNT" jdbcType="DECIMAL" property="seniorCount" />
        <result column="CONFIGURATION_ID" jdbcType="VARCHAR" property="configurationId" />
    </resultMap>

    <insert id="insertConfig" parameterType="com.lawschool.beans.PracticeConfiguration02">
    insert into LAW_PRACTICE_CONFIGURATION02 (ID, SPECIAL_KNOWLEDGE_ID, PRIMARY_COUNT,
      INTERMEDIATE_COUNT, SENIOR_COUNT, CONFIGURATION_ID
      )
    values (#{id}, #{specialKnowledgeId}, #{primaryCount},#{intermediateCount}, #{seniorCount}, #{configurationId})
  </insert>

</mapper>