<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.system.SysRoleDao">
    <resultMap id="BaseResultMap" type="com.lawschool.beans.system.SysRoleEntity">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <insert id="insert" parameterType="com.lawschool.beans.system.SysRoleEntity">
        insert
        into
            LAW_SYS_ROLE
            (id, ROLE_NAME, REMARK, CREATE_TIME)
        values
            (#{id}, #{roleName}, #{remark}, #{createTime})
    </insert>

    <update id="update" parameterType="com.lawschool.beans.system.SysRoleEntity">
        update
            LAW_SYS_ROLE
        set
            ROLE_NAME = #{roleName}
        where
            id = #{id}
    </update>

    <select id="findOne" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from
            LAW_SYS_ROLE
        where
            id = #{id}
    </select>

    <!-- 查询权限下数据 -->
    <select id="listRoleByUserId" parameterType="java.lang.String"
            resultType="com.lawschool.beans.system.SysRoleEntity">
        select s.id   roleId,
               s.role_name roleName
        from LAW_SYS_ROLE s
                 right join LAW_SYS_USER_ROLE r
                            on s.id = r.role_Id
        where r.user_id = #{userId}
        order by s.CREATE_TIME asc
    </select>

    <!-- 查询列表 -->
    <select id="findList" resultType="com.lawschool.beans.system.SysRoleEntity">
        SELECT id, role_name, remark FROM law_sys_role
    </select>

    <delete id="delete">
        DELETE
        FROM
        law_sys_role
        WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>