<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.SysRoleOrgDao">
  <resultMap id="BaseResultMap" type="com.lawschool.beans.SysRoleOrg">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
  </resultMap>

  <select id="queryOrgIdList" resultType="string">
      SELECT
      org_id
      FROM law_sys_role_org
      <where>
          role_id = #{roleId}
      </where>
  </select>
</mapper>