<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.TestQuestionsDao">
    <resultMap id="BaseResultMap" type="com.lawschool.beans.TestQuestions">
        <result column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId"/>
        <result column="COM_CONTENT" jdbcType="VARCHAR" property="comContent"/>
        <result column="QUESTION_DIFFICULTY" jdbcType="VARCHAR" property="questionDifficulty"/>
        <result column="QUESTION_TYPE" jdbcType="VARCHAR" property="questionType"/>
        <result column="ANSWER_CHOICE_NUMBER" jdbcType="DECIMAL" property="answerChoiceNumber"/>
        <result column="ANSWER_ID" jdbcType="VARCHAR" property="answerId"/>
        <result column="SPECIAL_KNOWLEDGE_ID" jdbcType="VARCHAR" property="specialKnowledgeId"/>
        <result column="POLICE_CLASSIFICATION" jdbcType="VARCHAR" property="policeClassification"/>
        <result column="LEGAL_BASIS" jdbcType="VARCHAR" property="legalBasis"/>
        <result column="ANSWER_DESCRIBLE" jdbcType="VARCHAR" property="answerDescrible"/>
        <result column="RELEASE_STATUS" jdbcType="DECIMAL" property="releaseStatus"/>
        <result column="STU_ISSUER" jdbcType="VARCHAR" property="stuIssuer"/>
        <result column="STU_ISSDEPARTMENT" jdbcType="VARCHAR" property="stuIssdepartment"/>
        <result column="STU_ISSTIM" jdbcType="TIMESTAMP" property="stuIsstim"/>
        <result column="STU_OPTDEPARTMENT" jdbcType="VARCHAR" property="stuOptdepartment"/>
        <result column="USE_NUMBER" jdbcType="DECIMAL" property="useNumber"/>
        <result column="RIGTH_NUMBER" jdbcType="DECIMAL" property="rigthNumber"/>
        <result column="COLLECTIONID" jdbcType="VARCHAR" property="collectionId"/>
        <result column="QUESTIONTYPEVALUE" jdbcType="VARCHAR" property="questiontypeValue"/>
        <result column="TYPEVALUE" jdbcType="VARCHAR" property="typeValue"/>
        <result column="ANSWERVALUE" jdbcType="VARCHAR" property="answerValue"/>
        <result column="QUESTIONDIFFICULTYVALUE" jdbcType="VARCHAR" property="questiondifficultyValue"/>
        <result column="SPECIALKNOWLEDGEVALUE" jdbcType="VARCHAR" property="specialknowledgeValue"/>
        <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="OPT_USER" jdbcType="VARCHAR" property="optUser"/>
        <result column="OPT_TIME" jdbcType="TIMESTAMP" property="optTime"/>
    </resultMap>

    <sql id="question">
        a.id,
        a.type_id,
        a.com_content,
        a.question_difficulty,
        a.question_type,
        a.answer_choice_number,
        a.answer_id,
        a.special_knowledge_id,
        a.police_classification,
        a.legal_basis,
        a.answer_describle,
        a.release_status,
        a.stu_issuer,
        a.stu_issdepartment,
        a.stu_isstim,
        a.stu_optdepartment,
        a.use_number,
        a.rigth_number
    </sql>

    <insert id="insert" parameterType="com.lawschool.beans.TestQuestions">
        insert into LAW_TESTQUESTIONS
        (
             id,
             type_id,
             com_content,
             question_difficulty,
             question_type,
             answer_choice_number,
             answer_id,
             special_knowledge_id,
             police_classification,
             legal_basis,
             answer_describle,
             release_status,
             stu_issuer,
             stu_issdepartment,
             stu_isstim,
             stu_optdepartment,
             use_number,
             rigth_number,
             is_enble,
             create_user,
             create_time,
             opt_user,
             opt_time
        ) values (
            #{id},
            #{typeId},
            #{comContent},
            #{questionDifficulty},
            #{questionType},
            #{answerChoiceNumber},
            #{answerId},
            #{specialKnowledgeId},
            #{policeClassification},
            #{legalBasis},
            #{answerDescrible},
            #{releaseStatus},
            #{stuIssuer},
            #{stuIssdepartment},
            #{stuIsstim},
            #{stuOptdepartment},
            #{useNumber},
            #{rigthNumber},
            #{isEnble},
            #{createUser},
            #{createTime},
            #{optUser},
            #{optTime}
        )
    </insert>

    <update id="update" parameterType="com.lawschool.beans.TestQuestions">
        update LAW_TESTQUESTIONS
        SET
            type_id                 = #{typeId},
            com_content             = #{comContent},
            question_difficulty     = #{questionDifficulty},
            question_type           = #{questionType},
            answer_choice_number    = #{answerChoiceNumber},
            answer_id               = #{answerId},
            special_knowledge_id    = #{specialKnowledgeId},
            police_classification   = #{policeClassification},
            legal_basis             = #{legalBasis},
            answer_describle        = #{answerDescrible},
            release_status          = #{releaseStatus},
            disable_status          = #{disableStatus},
            stu_issuer              = #{stuIssuer},
            stu_issdepartment       = #{stuIssdepartment},
            stu_isstim              = #{stuIsstim},
            stu_optdepartment       = #{stuOptdepartment},
            use_number              = #{useNumber},
            rigth_number            = #{rigthNumber},
            opt_user                = #{optuser},
            opt_time                = #{opttime}
        WHERE id = #{id}
    </update>

    <!--计数：我收藏的重点试题zjw-->
    <select id="cntMyCollection" parameterType="map" resultType="java.lang.Integer">
        SELECT
        count(LAW_TESTQUESTIONS. ID)
        FROM
        LAW_COLLECTION
        LEFT JOIN LAW_TESTQUESTIONS ON LAW_COLLECTION.COM_STUCODE = LAW_TESTQUESTIONS. ID
        WHERE
        LAW_COLLECTION.COM_USERID = #{userId}
        AND LAW_COLLECTION. TYPE = 20
        and LAW_TESTQUESTIONS. ID is not null
        And LAW_COLLECTION.DEL_STATUS=0
        <if test="questionType != null and questionType!=''">
            AND QUESTION_TYPE=#{questionType}
        </if>
        <if test="specialKnowledgeId != null  and specialKnowledgeId!=''">
            AND SPECIAL_KNOWLEDGE_ID=#{specialKnowledgeId}
        </if>
        <if test="questionDifficulty != null and  questionDifficulty != ''">
            AND QUESTION_DIFFICULTY=#{questionDifficulty}
        </if>
    </select>

  <!--列表：我收藏的重点试题zjw-->
  <select id="listMyCollection" parameterType="map"  resultType="com.lawschool.beans.TestQuestions">
    select
    collectionId,
    ID,
    COM_CONTENT,
    QUESTION_TYPE,
    questiontypeValue,
    ANSWER_ID,
    QUESTION_DIFFICULTY,
    questiondifficultyValue,
    TYPE_ID,
    typeValue,
    SPECIAL_KNOWLEDGE_ID,
    specialknowledgeValue,
      ANSWER_DESCRIBLE
    from
    (
    SELECT
    LAW_COLLECTION. ID as collectionId,
    LAW_TESTQUESTIONS.ANSWER_DESCRIBLE,
    LAW_TESTQUESTIONS. ID,
    LAW_TESTQUESTIONS.COM_CONTENT,
    LAW_TESTQUESTIONS.QUESTION_TYPE,
    (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = QUESTION_TYPE )AS questiontypeValue,
    LAW_TESTQUESTIONS.ANSWER_ID,
    LAW_TESTQUESTIONS.QUESTION_DIFFICULTY,
    (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = QUESTION_DIFFICULTY )AS questiondifficultyValue,
    LAW_TESTQUESTIONS.TYPE_ID,
    (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = TYPE_ID )AS typeValue,
    LAW_TESTQUESTIONS.SPECIAL_KNOWLEDGE_ID,
    (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = SPECIAL_KNOWLEDGE_ID )AS specialknowledgeValue,
    ROWNUM AS rowno
    FROM
    LAW_COLLECTION
    LEFT JOIN LAW_TESTQUESTIONS ON LAW_COLLECTION.COM_STUCODE = LAW_TESTQUESTIONS. ID
    WHERE
    LAW_COLLECTION.COM_USERID = #{userId}
      and  LAW_TESTQUESTIONS. ID is not null
    And LAW_COLLECTION.DEL_STATUS=0
    And ROWNUM &lt;= #{endPage}
    AND LAW_COLLECTION. TYPE = 20
    <if test="questionType != null and questionType!=''">
      AND QUESTION_TYPE=#{questionType}
    </if>
      <if test="specialKnowledgeId != null  and specialKnowledgeId!=''">
          AND SPECIAL_KNOWLEDGE_ID=#{specialKnowledgeId}
      </if>
    <if test="questionDifficulty != null and  questionDifficulty != ''">
      AND QUESTION_DIFFICULTY=#{questionDifficulty}
    </if>
    )
    WHERE
    rowno &gt; #{startPage}
  </select>


    <!--收藏试题组卷:随机从我收藏的题目中取num条数据.仅仅取idzjw-->
    <select id="randomQuestColl" parameterType="map" resultType="com.lawschool.beans.TestQuestions">
        SELECT
        ID
        FROM
        (
        SELECT
        LAW_TESTQUESTIONS. ID
        FROM
        LAW_COLLECTION
        LEFT JOIN LAW_TESTQUESTIONS ON LAW_COLLECTION.COM_STUCODE = LAW_TESTQUESTIONS. ID
        WHERE
        LAW_COLLECTION.COM_USERID = #{userId}
        AND LAW_COLLECTION. TYPE = 20
        AND LAW_COLLECTION.DEL_STATUS = 0
        <if test="questionType != null and questionType!=''">
            AND QUESTION_TYPE=#{questionType}
        </if>
        <if test="specialKnowledgeId != null  and specialKnowledgeId!=''">
            AND SPECIAL_KNOWLEDGE_ID=#{specialKnowledgeId}
        </if>
        <if test="questionDifficulty != null and  questionDifficulty != ''">
            AND QUESTION_DIFFICULTY=#{questionDifficulty}
        </if>
        ORDER BY
        dbms_random.VALUE
        )
        WHERE
        ROWNUM &lt;= #{num}
    </select>


    <!--根据ID查询试题-->
    <select id="findOne" parameterType="string" resultMap="BaseResultMap">
        SELECT
        <include refid="question"/>
        FROM law_testquestions a
        <where>
            a.id = #{id}
        </where>
        ORDER BY dbms_random.random
    </select>

    <!--更新启用禁用状态-->
    <update id="updateStatus">
        UPDATE law_testquestions
        SET is_enable = #{isEnble}
        WHERE id = #{id}
    </update>

    <!--查询某类型的试题id-->
    <select id="findIdBySpecialKnowledgeId" parameterType="map" resultType="string">
        SELECT
        a.id
        FROM law_testquestions a
        <where>
            1 = 1
            <if test="specialKnowledgeId != null and specialKnowledgeId != ''">
                AND a.special_knowledge_id = #{specialKnowledgeId}
            </if>
            <if test="questionDifficulty != null and questionDifficulty != ''">
                AND a.question_difficulty = #{questionDifficulty}
            </if>
            <if test="questionType != null and questionType != ''">
                AND a.question_type = #{questionType}
            </if>
            <if test="typeId != null and typeId != ''">
                AND a.type_id = #{typeId}
            </if>
            <if test="list != null and list.size > 0">
                AND a.question_type IN
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY dbms_random.random
    </select>

    <!--查询某类型的试题-->
    <select id="findBySpecialKnowledgeId" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="question"/>
        FROM law_testquestions a
        <where>
            1 = 1
            <if test="specialKnowledgeId != null and specialKnowledgeId != ''">
                AND a.special_knowledge_id = #{specialKnowledgeId}
            </if>
            <if test="list != null and list.size > 0">
                AND a.question_type IN
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY dbms_random.random
    </select>

    <!--查询所需要的问题字段-->
    <select id="findByIds" resultType="com.lawschool.form.QuestForm">
        SELECT
        id,
        com_content,
        question_difficulty,
        question_type,
        answer_id,
        legal_basis,
        answer_describle,
        answer_choice_number
        FROM law_testquestions
        <where>
            id IN
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item.id}
            </foreach>
        </where>
        ORDER BY id
    </select>


    <!--获取试题的详细信息zjw-->
    <select id="getInfoById" resultType="com.lawschool.beans.TestQuestions" parameterType="com.lawschool.beans.TestQuestions">
    select
        ID,COM_CONTENT,
        QUESTION_TYPE,
        (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = QUESTION_TYPE )AS questiontypeValue,
        ANSWER_ID,ANSWER_DESCRIBLE,
        QUESTION_DIFFICULTY,
        (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = QUESTION_DIFFICULTY )AS questiondifficultyValue,
        TYPE_ID,
        (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = TYPE_ID )AS typeValue,
        SPECIAL_KNOWLEDGE_ID,
        (SELECT VALUE FROM LAW_SYS_DICT WHERE CODE = SPECIAL_KNOWLEDGE_ID )AS specialknowledgeValue
      FROM law_testquestions
    where id=#{id}
    </select>


    <!--查询某类型的试题-->
    <select id="findList" resultMap="BaseResultMap">
        SELECT
        <include refid="question"/>
        FROM law_testquestions a
        <where>
            1 = 1
            <if test="typeId != null and typeId != ''">
                AND a.type_id = #{typeId}
            </if>
            <if test="questionDifficulty != null and questionDifficulty != ''">
                AND a.question_difficulty = #{questionDifficulty}
            </if>
            <if test="questionType != null and questionType != ''">
                AND a.question_type = #{questionType}
            </if>
            <if test="isEnble != null and isEnble != ''">
                AND a.is_enble = #{isEnble}
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.id
            </otherwise>
        </choose>
    </select>


    <!--查询某类型的试题-->
    <select id="findByEntity" resultMap="BaseResultMap">
        SELECT
          *
        FROM
        (SELECT
        <include refid="question"/>
        FROM law_testquestions a
        <where>
            1 = 1
            <if test="specialKnowledgeId != null and specialKnowledgeId != ''">
                AND a.special_knowledge_id = #{specialKnowledgeId}
            </if>
            <if test="questionDifficulty != null and questionDifficulty != ''">
                AND a.question_difficulty = #{questionDifficulty}
            </if>
            <if test="questionType != null and questionType != ''">
                AND a.question_type = #{questionType}
            </if>
        </where>
        ORDER BY dbms_random.random)
        WHERE rownum = 1
    </select>

    <delete id="delete">
        DELETE FROM law_testquestions
        WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findByNum" parameterType="map" resultType="com.lawschool.beans.TestQuestions">
        SELECT
          id
        FROM
        (SELECT
        <include refid="question"/>
        FROM law_testquestions a
        <where>
            1 = 1
            <if test="specialKnowledgeId != null and specialKnowledgeId != ''">
                AND a.special_knowledge_id = #{specialKnowledgeId}
            </if>
            <if test="questionType != null and questionType != ''">
                AND a.question_type = #{questionType}
            </if>
        </where>
        ORDER BY dbms_random.random)
        <where>
            1 = 1
            <if test="num != null and num != ''">
                AND rownum &lt;= #{num}
            </if>
        </where>
    </select>
<!--根据题目id查询试题 lh-->
    <select id="findTestQuestionById" parameterType="java.lang.String" resultType="com.lawschool.form.QuestForm">
        select
        id,
        type_id,
        com_content,
        question_difficulty,
        question_type,
        answer_choice_number,
        answer_id,
        special_knowledge_id,
        police_classification,
        legal_basis,
        answer_describle,
        release_status,
        stu_issuer,
        stu_issdepartment,
        stu_isstim,
        stu_optdepartment,
        use_number,
        rigth_number
        from LAW_TESTQUESTIONS where
        ID = #{id}
    </select>
</mapper>