<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawschool.dao.UserIntegralDao">

  <!--获取用户积分学分总体信息-->
  <select id="getInfo" parameterType="com.lawschool.beans.User" resultType="com.lawschool.beans.UserIntegral">
SELECT
	USER_ID,
	INTEGRAL_POINT,
	ORG_CODE,
	ORG_NAME,
	FULL_NAME,
	USER_CODE,
	CREDIT_POINT,
	(
		SELECT
			allItrRank
		FROM
			(
				SELECT
					LUI.USER_ID,
					ROW_NUMBER () OVER (ORDER BY INTEGRAL_POINT) AS allItrRank
				FROM
					LAW_USER_INTEGRAL lui
			)
		WHERE
			USER_ID = #{id}
	) AS allItrRank,
	(
		SELECT
			orgItrRank
		FROM
			(
				SELECT
					LUI.USER_ID,
					ROW_NUMBER () OVER (ORDER BY INTEGRAL_POINT) AS orgItrRank
				FROM
					LAW_USER_INTEGRAL lui
				WHERE
					ORG_CODE = #{orgId}
			)
		WHERE
			USER_ID = #{id}
	) AS orgItrRank,
	(
		SELECT
			allCdtRank
		FROM
			(
				SELECT
					LUI.USER_ID,
					ROW_NUMBER () OVER (ORDER BY CREDIT_POINT) AS allCdtRank
				FROM
					LAW_USER_INTEGRAL lui
			)
		WHERE
			USER_ID = #{id}
	) AS allCdtRank,
	(
		SELECT
			orgCdtRank
		FROM
			(
				SELECT
					LUI.USER_ID,
					ROW_NUMBER () OVER (ORDER BY CREDIT_POINT) AS orgCdtRank
				FROM
					LAW_USER_INTEGRAL lui
				WHERE
					ORG_ID = #{orgId}
			)
		WHERE
			USER_ID = #{id}
	) AS orgCdtRank
FROM
	LAW_USER_INTEGRAL
WHERE
	USER_ID = #{id}

  </select>


	<!--学分 人员-->
	<select id="crdStatUser" resultType="com.lawschool.beans.UserIntegral">
	select a.USER_CODE,a.CREDIT_POINT,u.id as USER_ID,u.FULL_NAME,u.ORG_NAME,u.ORG_CODE,
	ROW_NUMBER () OVER (ORDER BY A.CREDIT_POINT) AS orgCdtRank,
 	A.allCdtRank
	from LAW_USER u LEFT JOIN (
SELECT
	USER_ID,
	ORG_CODE,
	FULL_NAME,
	USER_CODE,
	ORG_NAME,
	CREDIT_POINT,
	ROW_NUMBER () OVER (ORDER BY CREDIT_POINT) AS orgCdtRank,
	(
		SELECT
			allCdtRank
		FROM
			(
				SELECT
					LUI.USER_ID,
					ROW_NUMBER () OVER (ORDER BY CREDIT_POINT) AS allCdtRank
				FROM
					LAW_USER_INTEGRAL lui
			)
		WHERE
			USER_ID = LAW_USER_INTEGRAL.USER_ID
	) AS allCdtRank
FROM
	LAW_USER_INTEGRAL

ORDER BY
	CREDIT_POINT) a on u."ID" = a.USER_ID where u.ORG_ID=#{orgId}
	</select>





<!--学分 部门-->
	<select id="crdStatOrg" resultType="com.lawschool.beans.CrdStatOrg" parameterType="java.lang.String">

	  select
		TAB.org_id as orgId,
		TAB.parent_id as parentId,
		TAB.org_level as orgLevel,
		TAB.org_name as OrgName,
		TAB.orgAllCrd,
		ROW_NUMBER () OVER (ORDER BY orgAllCrd desc nulls last) AS orgAllCrdRank
		from (
		select
		org_id,
		parent_id,
		org_level,
		org_name,
		(select sum(CREDIT_POINT)  from LAW_USER_INTEGRAL where ORG_CODE=LAW_ORG.org_code ) as orgAllCrd
		from LAW_ORG
		WHERE ORG_TYPE IN (10, 70, -1,0)   and org_status >=2000
		Start With ORG_ID = #{orgId} Connect By  Prior ORG_ID = parent_id
		) tab
	</select>




<!--积分 人员-->
	<select id="itrStatUser" resultType="com.lawschool.beans.UserIntegral">
		SELECT
			A .USER_CODE,
			A .INTEGRAL_POINT,
			U . ID AS USER_ID,
			U .FULL_NAME,
			U .ORG_NAME,
			U .ORG_CODE,
			ROW_NUMBER () OVER (ORDER BY A .INTEGRAL_POINT) AS orgItrRank,
			A .allItrRank
		FROM
			LAW_USER U
		LEFT JOIN (
			SELECT
				USER_ID,
				ORG_CODE,
				FULL_NAME,
				USER_CODE,
				ORG_NAME,
				INTEGRAL_POINT,
				ROW_NUMBER () OVER (ORDER BY INTEGRAL_POINT) AS orgItrRank,
				(
					SELECT
						allItrRank
					FROM
						(
							SELECT
								LUI.USER_ID,
								ROW_NUMBER () OVER (ORDER BY INTEGRAL_POINT) AS allItrRank
							FROM
								LAW_USER_INTEGRAL lui
						)
					WHERE
						USER_ID = LAW_USER_INTEGRAL.USER_ID
				) AS allItrRank
			FROM
				LAW_USER_INTEGRAL
			ORDER BY
				INTEGRAL_POINT
		) A ON U ."ID" = A .USER_ID
		WHERE
			U .ORG_ID = #{orgId}
	</select>


	<!--积分 部门-->
	<select id="itrStatOrg" resultType="com.lawschool.beans.ItrStatOrg" parameterType="java.lang.String">
		select
			TAB.org_id as orgId,
			TAB.parent_id as parentId,
			TAB.org_level as orgLevel,
			TAB.org_name as OrgName,
			TAB.orgAllItr,
			ROW_NUMBER () OVER (ORDER BY orgAllItr desc nulls last) AS orgAllItrRank
		from (
				 select
					 org_id,
					 parent_id,
					 org_level,
					 org_name,
					 (select sum(INTEGRAL_POINT)  from LAW_USER_INTEGRAL where ORG_CODE=LAW_ORG.org_code ) as orgAllItr
				 from LAW_ORG
				 WHERE ORG_TYPE IN (10, 70, -1,0)   and org_status >=2000
				 Start With ORG_ID = #{orgId} Connect By  Prior ORG_ID = parent_id
			 ) tab
	</select>
</mapper>